/** MOBILE VERSION **/
section.article {
  display: grid;
  grid-template-columns: [line-0]2.5vw [line-1]40vw [line-2]55vw [line-3]2.5vw [line-4];
  grid-template-rows: [row-0]9vh [row-1]30vh [row-2]30vh [row-3]30vh [row-4];
  border-bottom: 1vh solid #60348B;
  background-color: #009f5d;

  h3 {
    grid-column: line-1 / line-3;
    grid-row: row-0 / row-1;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: white;
    align-self: center;

    &:nth-of-type(1) {
      text-align: left;
      font-size: 14px;
    }

    &:nth-of-type(2) {
      text-align: right;
    }
  }

  a.link {
    width: 35vw;
    height: 22vh;
    border: 1vh solid #60348B;
    place-self: center;

    &:nth-of-type(1) {
      grid-column: line-1 / line-2;
      grid-row: row-1 / row-2;
    }

    &:nth-of-type(2) {
      grid-column: line-1 / line-2;
      grid-row: row-2 / row-3;
    }

    &:nth-of-type(3) {
      grid-column: line-1 / line-2;
      grid-row: row-3 / row-4;
    }
  }

  img {
    width: 35vw;
    height: 22vh;
    place-self: center;
    padding: 0;
    margin: 0;
    object-fit: cover;

    &:nth-of-type(1) {
      grid-column: line-1 / line-2;
      grid-row: row-1 / row-2;
    }

    &:nth-of-type(2) {
      grid-column: line-1 / line-2;
      grid-row: row-2 / row-3;
    }

    &:nth-of-type(3) {
      grid-column: line-1 / line-2;
      grid-row: row-3 / row-4;
    }
  }

  h2 {
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 30px;
    align-self: center;

    &:nth-of-type(1) {
      grid-column: line-2 / line-3;
      grid-row: row-1 / row-2;
    }

    &:nth-of-type(2) {
      grid-column: line-2 / line-3;
      grid-row: row-2 / row-3;
    }

    &:nth-of-type(3) {
      grid-column: line-2 / line-3;
      grid-row: row-3 / row-4;
    }
  }

  p {
    display: none;
  }
}

/** SCREENS GREATER THAN 700PX **/
@media all and (min-width: 701px) {
  section.article {
    display: grid;
    grid-template-columns: [line-0]40vw [line-1]2.5vw [line-2]27.5vw [line-3]27.5vw [line-4]2.5vw [line-5];

    h2.link {
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;

      &:hover {
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -o-transform: scale(1.02);
        transform: scale(1.02);
      }
    }

    h3 {
      grid-column: line-2 / line-4;
      grid-row: row-0 / row-1;
      color: white;
      padding: 0;
      margin: 0;
      align-self: center;

      &:nth-of-type(1) {
        display: none;
      }

      &:nth-of-type(2) {
        text-align: right;
      }
    }

    a.link {
      width: 25vw;
      height: 22vh;
      border: 1vh solid #60348B;
      place-self: center;
    }

    img {
      width: 25vw;
      height: 22vh;
      place-self: center;
      padding: 0;
      margin: 0;
      object-fit: cover;
    }

    img.link {
      width: 25vw;
      height: 22vh;
      place-self: center;
      padding: 0;
      margin: 0;
      object-fit: cover;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;

      &:hover {
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -o-transform: scale(1.02);
        transform: scale(1.02);
      }
    }

    p {
      color: white;
      padding: 0;
      margin: 0;
    }
  }

/** SCREENS BETWEEN 701PX AND 1000PX (TABLETS) **/
  @media all and (min-width: 701px) and (max-width: 1000px) {
    section.article {
      grid-template-rows: [row-0]7vh [row-1]29vh [row-2]2.5vh [row-3]29vh [row-4]2.5vh [row-5]29vh [row-6];

      h3 {
        font-size: 20px;
      }

      a.link {

        &:nth-of-type(1) {
          grid-column: line-2 / line-3;
          grid-row: row-1 / row-2;
        }

        &:nth-of-type(2) {
          grid-column: line-2 / line-3;
          grid-row: row-3 / row-4;
        }

        &:nth-of-type(3) {
          grid-column: line-2 / line-3;
          grid-row: row-5 / row-6;
        }
      }

      img {

        &:nth-of-type(1) {
          grid-column: line-2 / line-3;
          grid-row: row-1 / row-2;
        }

        &:nth-of-type(2) {
          grid-column: line-2 / line-3;
          grid-row: row-3 / row-4;
        }

        &:nth-of-type(3) {
          grid-column: line-2 / line-3;
          grid-row: row-5 / row-6;
        }
      }

      h2 {
        font-size: 26px;

        &:nth-of-type(1) {
          grid-column: line-3 / line-4;
          grid-row: row-1 / row-2;
        }

        &:nth-of-type(2) {
          grid-column: line-3 / line-4;
          grid-row: row-3 / row-4;
        }

        &:nth-of-type(3) {
          grid-column: line-3 / line-4;
          grid-row: row-5 / row-6;
        }
      }

      p {
        display: none;
      }
    }
  }

  /** SCREENS GREATER THAN 1000PX **/
  @media all and (min-width: 1001px) {
    section.article {
      grid-template-rows: [row-0]7vh [row-1]22.5vh [row-2]6.5vh [row-3]2.5vh [row-4]22.5vh [row-5]6.5vh [row-6]2.5vh
                          [row-7]22.5vh [row-8]6.5vh [row-9];

      a.link {

        &:nth-of-type(1) {
          grid-column: line-2 / line-3;
          grid-row: row-1 / row-3;
        }

        &:nth-of-type(2) {
          grid-column: line-2 / line-3;
          grid-row: row-4 / row-6;
        }

        &:nth-of-type(3) {
          grid-column: line-2 / line-3;
          grid-row: row-7 / row-9;
        }
      }

      img {

        &:nth-of-type(1) {
          grid-column: line-2 / line-3;
          grid-row: row-1 / row-3;
        }

        &:nth-of-type(2) {
          grid-column: line-2 / line-3;
          grid-row: row-4 / row-6;
        }

        &:nth-of-type(3) {
          grid-column: line-2 / line-3;
          grid-row: row-7 / row-9;
        }
      }

      h2 {
        text-align: left;

        &:nth-of-type(1) {
          grid-column: line-3 / line-4;
          grid-row: row-1 / row-2;
        }

        &:nth-of-type(2) {
          grid-column: line-3 / line-4;
          grid-row: row-4 / row-5;
        }

        &:nth-of-type(3) {
          grid-column: line-3 / line-4;
          grid-row: row-7 / row-8;
        }
      }

      p {
        display: inline;

        &:nth-of-type(1) {
          grid-column: line-3 / line-4;
          grid-row: row-2 / row-3;
          text-align: left;
        }

        &:nth-of-type(2) {
          grid-column: line-3 / line-4;
          grid-row: row-2 / row-3;
          text-align: right;
        }

        &:nth-of-type(3) {
          grid-column: line-3 / line-4;
          grid-row: row-5 / row-6;
          text-align: left;
        }

        &:nth-of-type(4) {
          grid-column: line-3 / line-4;
          grid-row: row-5 / row-6;
          text-align: right;
        }

        &:nth-of-type(5) {
          grid-column: line-3 / line-4;
          grid-row: row-8 / row-9;
          text-align: left;
        }

        &:nth-of-type(6) {
          grid-column: line-3 / line-4;
          grid-row: row-8 / row-9;
          text-align: right;
        }
      }
    }

    /** SCREENS BETWEEN 1001PX AND 1200PX (LAPTOPS) **/
    @media all and (min-width: 1001px) and (max-width: 1200px) {
      section.article {

        h3 {
          font-size: 20px;
        }

        h2 {
          font-size: 26px;
        }

        p {
          font-size: 14px;
        }
      }
    }

    /** SCREENS BIGGER THAN 1200PX (DESKTOPS) **/
    @media all and (min-width: 1201px) {
      section.article {

        h3 {
          font-size: 22px;
        }

        h2 {
          font-size: 30px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }
}
