section.covid19_effect {
  display: grid;
  grid-template-columns: [line-0]5vw [line-1]45vw [line-2]45vw [line-3]5vw [line-4];
  grid-template-rows: [row-0]auto [row-1]auto [row-2];

  img {

    &:nth-of-type(1) {
      width: 0;
      height: 0;
    }
  }

  h2 {
    font-size: 36px;
    text-align: center;
    grid-column: line-1 / line-3;
    grid-row: row-0 / row-1;
    margin-top: 5vh;
    line-height: 125%;
    margin-bottom: 0;

    span {
      font-size: 60px;
      line-height: 125%;
    }
  }

  p {

    &:nth-of-type(1) {
      font-size: 14px;
      grid-column: line-1 / line-3;
      grid-row: row-1 / row-2;
      text-align: center;
    }

    &:nth-of-type(2) {
      font-size: 16px;
    }
  }
}

section.covid19_text {
  display: grid;
  grid-template-columns: [line-0]2vw [line-1]96vw [line-2]2vw [line-3];
  grid-template-rows: [row-0]auto [row-1]auto [row-2]auto [row-3]auto [row-4]auto [row-5]auto [row-6]auto [row-7]auto
                      [row-8]auto [row-9]auto [row-10]auto [row-11]auto [row-12]auto [row-13]auto [row-14]auto
                      [row-15]auto [row-16]auto [row-17];
  margin-bottom: 5vh;

  img {
    place-self: center;

    &:nth-of-type(1) {
      height: 35vw;
      width: 80vw;
      object-fit: cover;
      border: 10px solid #60348B;
      grid-column: line-1 / line-2;
      grid-row: row-0 / row-1;
      float: right;
      margin: 3vh 3vw;
    }

    &:nth-of-type(2) {
      height: 50vw;
      width: 80vw;
      object-fit: cover;
      border: 10px solid #60348B;
      grid-column: line-1 / line-2;
      grid-row: row-3 / row-4;
      margin: 3vh 3vw 6vh 3vw;
    }

    &:nth-of-type(3) {
      display: none;
    }

    &:nth-of-type(4) {
      height: 35vw;
      width: 80vw;
      object-fit: cover;
      border: 10px solid #60348B;
      grid-column: line-1 / line-2;
      grid-row: row-14 / row-15;
    }
  }

  h3 {
    color: #60348B;
    margin: 0 10vw;

    &:nth-of-type(1) {
      grid-column: line-1 / line-2;
      grid-row: row-4 / row-5;
    }

    &:nth-of-type(2) {
      grid-column: line-1 / line-2;
      grid-row: row-6 / row-7;
    }

    &:nth-of-type(3) {
      grid-column: line-1 / line-2;
      grid-row: row-8 / row-9;
    }

    &:nth-of-type(4) {
      grid-column: line-1 / line-2;
      grid-row: row-10 / row-11;
    }

    &:nth-of-type(5) {
      grid-column: line-1 / line-2;
      grid-row: row-12 / row-13;
    }
  }

  p {
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 14px;

    &:nth-of-type(1) {
      grid-column: line-1 / line-2;
      grid-row: row-1 / row-2;
    }

    &:nth-of-type(2) {
      grid-column: line-1 / line-2;
      grid-row: row-2 / row-3;
    }

    &:nth-of-type(3) {
      grid-column: line-1 / line-2;
      grid-row: row-5 / row-6;
      margin-top: 0;
    }

    &:nth-of-type(4) {
      grid-column: line-1 / line-2;
      grid-row: row-7 / row-8;
      margin-top: 0;
    }

    &:nth-of-type(5) {
      grid-column: line-1 / line-2;
      grid-row: row-9 / row-10;
      margin-top: 0;
    }

    &:nth-of-type(6) {
      grid-column: line-1 / line-2;
      grid-row: row-11 / row-12;
      margin-top: 0;
    }

    &:nth-of-type(7) {
      grid-column: line-1 / line-2;
      grid-row: row-13 / row-14;
      margin-top: 0;
    }

    &:nth-of-type(8) {
      grid-column: line-1 / line-2;
      grid-row: row-15 / row-16;
    }

    &:nth-of-type(9) {
      grid-column: line-1 / line-2;
      grid-row: row-16 / row-17;
    }
  }
}

@media all and (min-width: 551px) and (max-width: 899px) {
  section.covid19_effect {
    display: grid;
    grid-template-columns: [line-0]5vw [line-1]15vw [line-2]10vw [line-3]10vw [line-4]10vw [line-5]10vw
                           [line-6]10vw [line-7]10vw [line-8]10vw [line-9]10vw [line-10];
    grid-template-rows: [row-0]40vh [row-1]10vh [row-2]auto [row-3]auto [row-4]auto [row-5]auto [row-6]auto
                        [row-7]auto [row-8]auto [row-9]auto [row-10];

    img {

      &:nth-of-type(1) {
        grid-column: line-6 / line-10;
        grid-row: row-0 / row-1;
        border: 10px solid #60348B;
        width: 30vw;
        height: 35vh;
        object-fit: cover;
        transform: rotate(5deg);
        place-self: center;
        margin-top: 3vh;
      }
    }

    h2 {
      grid-column: line-1 / line-6;
      grid-row: row-0 / row-1;
      text-align: left;
      line-height: 125%;
      margin: 0;
      padding: 0;
      place-self: center;
      justify-self: start;

      span {
        line-height: 125%;
      }
    }

    p {
      margin: 0 0 5vh 0;

      &:nth-of-type(1) {
        font-size: 14px;
        grid-column: line-1 / line-5;
        text-align: left;
      }

      &:nth-of-type(2) {
        font-size: 16px;
      }
    }
  }

  section.covid19_text {
    display: block;
    margin-bottom: 5vh;

    img {

      &:nth-of-type(1) {
        height: 35vw;
        width: 35vw;
        object-fit: cover;
        border: 10px solid #60348B;
        float: right;
        margin: 3vh 3vw;
      }

      &:nth-of-type(2) {
        height: 50vw;
        width: 30vw;
        object-fit: cover;
        border: 10px solid #60348B;
        float: right;
        margin: 3vh 6vw 3vh 3vw;
      }

      &:nth-of-type(4) {
        height: 35vw;
        width: 35vw;
        object-fit: cover;
        border: 10px solid #60348B;
        float: right;
        margin: 3vh 3vw;
      }
    }

    h3 {
      color: #60348B;
      margin: 0 10vw;
    }

    p {
      margin-left: 10vw;
      margin-right: 10vw;

      &:nth-of-type(3) {
        margin-top: 0;
      }

      &:nth-of-type(4) {
        margin-top: 0;
      }

      &:nth-of-type(5) {
        margin-top: 0;
      }

      &:nth-of-type(6) {
        margin-top: 0;
      }

      &:nth-of-type(7) {
        margin-top: 0;
      }
    }
  }

  @media all and (min-width: 551px) and (max-width: 639px) {
    section.covid19_effect {

      h2 {
        font-size: 32px;

        span {
          font-size: 58px;
        }
      }
    }

    section.covid19_text {

      img {

        &:nth-of-type(3) {
          display: none;
        }
      }

      p {
        font-size: 14px;
      }
    }
  }

  @media all and (min-width: 640px) and (max-width: 899px) {
    section.covid19_effect {

      h2 {
        font-size: 40px;

        span {
          font-size: 75px;
        }
      }
    }

    section.covid19_text {

      img {

        &:nth-of-type(3) {
          height: 30vw;
          width: 30vw;
          object-fit: cover;
          border: 10px solid #60348B;
          float: right;
          margin: 3vh 3vw;
        }
      }

      p {
        font-size: 15px;
      }
    }
  }
}

@media all and (min-width: 900px) {
  section.covid19_effect {
    display: grid;
    grid-template-columns: [line-0]10vw [line-1]10vw [line-2]10vw [line-3]10vw [line-4]10vw [line-5]10vw
                           [line-6]10vw [line-7]10vw [line-8]10vw [line-9]10vw [line-10];
    grid-template-rows: [row-0]50vh [row-1]10vh [row-2]auto [row-3]auto [row-4]auto [row-5]auto [row-6]auto
                        [row-7]auto [row-8]auto [row-9]auto [row-10];

    img {

      &:nth-of-type(1) {
        grid-column: line-6 / line-9;
        grid-row: row-0 / row-2;
        border: 10px solid #60348B;
        width: 100%;
        height: 45vh;
        object-fit: cover;
        transform: rotate(5deg);
        place-self: center;
      }
    }

    h2 {
      grid-column: line-1 / line-6;
      grid-row: row-0 / row-1;
      line-height: 125%;
      margin: 0;
      padding: 0;
      place-self: center;
      justify-self: start;

      span {
        line-height: 125%;
      }
    }

    p {
      margin: 0 0 5vh 0;

      &:nth-of-type(1) {
        font-size: 14px;
        grid-column: line-1 / line-5;
        text-align: left;
      }
    }
  }

  section.covid19_text {
    display: block;
    margin-bottom: 5vh;

    img {

      &:nth-of-type(1) {
        height: 35vw;
        width: 35vw;
        object-fit: cover;
        border: 10px solid #60348B;
        float: right;
        margin: 3vh 3vw;
      }

      &:nth-of-type(3) {
        height: 30vw;
        width: 30vw;
        object-fit: cover;
        border: 10px solid #60348B;
        float: right;
        margin: 3vh 3vw;
      }
    }

    h3 {
      color: #60348B;
      margin: 0 10vw;
    }

    p {
      margin-left: 10vw;
      margin-right: 10vw;
      font-size: 16px;

      &:nth-of-type(3) {
        margin-top: 0;
      }

      &:nth-of-type(4) {
        margin-top: 0;
      }

      &:nth-of-type(5) {
        margin-top: 0;
      }

      &:nth-of-type(6) {
        margin-top: 0;
      }

      &:nth-of-type(7) {
        margin-top: 0;
      }
    }
  }

  @media all and (min-width: 900px) and (max-width: 1023px) {
    section.covid19_effect {

      h2 {
        text-align: left;
        font-size: 45px;

        span {
          font-size: 90px;
        }
      }

      p {

        &:nth-of-type(2) {
          font-size: 17px;
        }
      }
    }

    section.covid19_text {

      img {

        &:nth-of-type(2) {
          height: 50vw;
          width: 30vw;
          object-fit: cover;
          border: 10px solid #60348B;
          float: right;
          margin: 3vh 6vw 3vh 3vw;
        }

        &:nth-of-type(4) {
          height: 35vw;
          width: 35vw;
          object-fit: cover;
          border: 10px solid #60348B;
          float: right;
          margin: 3vh 3vw;
        }
      }
    }
  }

  @media all and (min-width: 1024px) {
    section.covid19_effect {

      h2 {
        text-align: center;
        font-size: 50px;

        span {
          font-size: 100px;
        }
      }

      p {

        &:nth-of-type(2) {
          font-size: 18px;
        }
      }
    }

    @media all and (min-width: 1200px) {
      section.covid19_effect {
        h2 {
          font-size: 60px;

          span {
            font-size: 120px;
          }
        }
      }
    }

    section.covid19_text {

      img {

        &:nth-of-type(2) {
          display: none;
          height: 30vw;
          width: 30vw;
          object-fit: cover;
          border: 10px solid #60348B;
          float: right;
          margin: 6vh 6vw 3vh 3vw;
        }

        &:nth-of-type(4) {
          height: 25vw;
          width: 25vw;
          object-fit: cover;
          border: 10px solid #60348B;
          float: right;
          margin: 3vh 3vw;
        }
      }
    }
  }
}
