h1 {
  font-family: 'Heebo', sans-serif;
  color: white;
  margin: 0;
  padding: 0;

  a {
    color: white;
    text-decoration: none;
  }
}

h2 {
  font-family: 'Heebo', sans-serif;
}

h3 {
  font-family: 'Heebo', sans-serif;
}

h4 {
  font-family: 'Heebo', sans-serif;
}

li a {
  font-family: 'Heebo', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}
