footer {
  background-color: #007f4a;
  border-top: 1vh solid #60348B;
  width: 100%;
  height: 42vh;
  display: grid;
  grid-template-columns: [line-0]25vw [line-1]25vw [line-2]25vw [line-3]25vw [line-4];
  grid-template-rows: [row-0]8vh [row-1]10vh [row-2]8vh [row-3]8vh [row-4]2vh [row-5]5vh [row-6];

  a {
    color: white;
    text-decoration: none;
  }

  h4 {
    grid-column: line-0 / line-4;
    grid-row: row-0 / row-1;
    place-self: center;
    margin: 0;
    font-size: 32px;
    color: white;
    text-align: center;
  }

  ul {
    align-self: center;
    justify-self: center;
    grid-column: line-0 / line-4;
    grid-row: row-1 / row-2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    font-size: 24px;

    li {
      padding: 0.5vh 2vw;
      display: inline;
      border-right: none;

      a {
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        display: inline-block;
        text-decoration: none;
        color: white;
      }
    }
  }

  p {
    color: white;
    font-size: 14px;
    margin: 0;
    padding: 0;
    align-self: center;

    &:nth-of-type(1) {
      grid-column: line-0 / line-4;
      grid-row: row-2 / row-3;
      text-align: center;
      margin: 0;
    }

    &:nth-of-type(2) {
      grid-column: line-0 / line-4;
      grid-row: row-3 / row-4;
      text-align: center;
      margin: 0;
    }

    &:nth-of-type(3) {
      font-size: 10px;
      display: none;
    }

    &:nth-of-type(4) {
      grid-column: line-0 / line-2;
      grid-row: row-5 / row-6;
      text-align: left;
      font-size: 10px;
      margin-left: 2vw;
    }

    &:nth-of-type(5) {
      grid-column: line-2 / line-4;
      grid-row: row-5 / row-6;
      text-align: right;
      font-size: 10px;
      margin-right: 2vw;
    }
  }
}

@media all and (min-width: 750px) and (max-width: 900px) {
  footer {
    height: 28vh;
    display: grid;
    grid-template-columns: [line-0]25vw [line-1]25vw [line-2]25vw [line-3]25vw [line-4];
    grid-template-rows: [row-0]5vh [row-1]5vh [row-2]5vh [row-3]5vh [row-4]2vh [row-5]5vh [row-6];

    p {
      color: white;
      font-size: 12px;
      margin: 0;
      padding: 0;
      align-self: center;

      &:nth-of-type(1) {
        grid-column: line-0 / line-1;
        grid-row: row-2 / row-4;
        text-align: left;
        margin-left: 5vw;
      }

      &:nth-of-type(2) {
        grid-column: line-3 / line-4;
        grid-row: row-2 / row-4;
        text-align: right;
        margin-right: 5vw;
      }

      &:nth-of-type(3) {
        display: inline;
        grid-column: line-1 / line-3;
        grid-row: row-2 / row-6;
        text-align: center;
      }

      &:nth-of-type(4) {
        grid-column: line-0 / line-2;
        grid-row: row-5 / row-6;
        text-align: left;
        margin-left: 5vw;
      }

      &:nth-of-type(5) {
        grid-column: line-2 / line-4;
        grid-row: row-5 / row-6;
        text-align: right;
        margin-right: 5vw;
      }
    }

    h4 {
      font-size: 28px;
      color: white;
      text-align: center;
      grid-column: line-0 / line-1;
      grid-row: row-0 / row-2;
      align-self: center;
      text-align: left;
      margin: 0 0 0 5vw;
    }

    ul {
      grid-column: line-1 / line-4;
      grid-row: row-0 / row-2;
      list-style-type: none;
      padding: 0;
      align-self: center;
      justify-self: center;

      li {
        padding: 0.5vh 2vw;
        display: inline;
        border-right: 1px solid white;

        &:last-child {
          border-right: none;
        }

          a {
          font-family: 'Open Sans', sans-serif;
          color: white;
          text-decoration: none;
          font-size: 14px;
        }
      }
    }
  }
}

@media all and (min-width: 901px) {
  footer {
    height: 28vh;
    display: grid;
    grid-template-columns: [line-0]25vw [line-1]25vw [line-2]25vw [line-3]25vw [line-4];
    grid-template-rows: [row-0]5vh [row-1]5vh [row-2]5vh [row-3]5vh [row-4]2vh [row-5]5vh [row-6];

    p {
      color: white;
      font-size: 14px;
      margin: 0;
      padding: 0;
      align-self: center;

      &:nth-of-type(1) {
        grid-column: line-0 / line-1;
        grid-row: row-2 / row-4;
        text-align: left;
        margin-left: 5vw;
      }

      &:nth-of-type(2) {
        grid-column: line-3 / line-4;
        grid-row: row-2 / row-4;
        text-align: right;
        margin-right: 5vw;
      }

      &:nth-of-type(3) {
        display: inline;
        grid-column: line-1 / line-3;
        grid-row: row-2 / row-6;
        text-align: center;
        font-size: 14px;
      }

      &:nth-of-type(4) {
        grid-column: line-0 / line-2;
        grid-row: row-5 / row-6;
        text-align: left;
        margin-left: 5vw;
      }

      &:nth-of-type(5) {
        grid-column: line-2 / line-4;
        grid-row: row-5 / row-6;
        text-align: right;
        margin-right: 5vw;
      }
    }

    h4 {
      font-size: 32px;
      color: white;
      text-align: center;
      grid-column: line-0 / line-1;
      grid-row: row-0 / row-2;
      align-self: center;
      text-align: left;
      margin: 0 0 0 5vw;
    }

    ul {
      grid-column: line-1 / line-4;
      grid-row: row-0 / row-2;
      list-style-type: none;
      padding: 0;
      align-self: center;
      justify-self: center;

      li {
        padding: 0.5vh 2vw;
        display: inline;
        border-right: 1px solid white;

        &:last-child {
          border-right: none;
        }

          a {
          font-family: 'Open Sans', sans-serif;
          color: white;
          text-decoration: none;
          font-size: 16px;
        }
      }
    }
  }
}
