section.graduation_questions {
  display: grid;
  grid-template-columns: [line-0]5vw [line-1]50vw [line-2]40vw [line-3]5vw [line-4];
  grid-template-rows: [row-0]auto [row-1]auto [row-2]auto [row-3]auto [row-4]auto [row-5]auto [row-6]auto [row-7]auto
                      [row-8]auto [row-9]auto [row-10]auto [row-11]auto [row-12]auto [row-13]auto [row-14]auto [row-15];

  h2 {
    font-size: 36px;
    grid-column: line-1 / line-2;
    grid-row: row-0 / row-1;
    padding: 0;
    text-align: left;
    line-height: 100%;
  }

  img {
    display: none;

    &:nth-of-type(7) {
      display: inline;
      grid-column: line-1 / line-3;
      grid-row: row-4 / row-5;
      width: 80vw;
      height: 80vw;
      border: 1vw solid #60348B;
      background-color: blue;
      margin: 2vh 0 1vh 0;
      place-self: center;
      object-fit: cover;
    }
  }

  p {
    &:nth-of-type(1) {
      grid-column: line-1 / line-3;
      grid-row: row-1 / row-2;
      padding: 0;
      margin: 0;
      font-size: 14px;
    }

    &:nth-of-type(2) {
      grid-column: line-1 / line-3;
      grid-row: row-2 / row-3;
      padding: 0;
      text-align: left;
      margin: 0;
      font-size: 14px;
    }

    &:nth-of-type(3) {
      grid-column: line-1 / line-3;
      grid-row: row-3 / row-4;
    }

    &:nth-of-type(4) {
      grid-column: line-1 / line-3;
      grid-row: row-5 / row-6;
    }

    &:nth-of-type(5) {
      grid-column: line-1 / line-3;
      grid-row: row-6 / row-7;
    }

    &:nth-of-type(6) {
      grid-column: line-1 / line-3;
      grid-row: row-8 / row-9;
      margin: 0;
    }

    &:nth-of-type(7) {
      grid-column: line-1 / line-3;
      grid-row: row-10 / row-11;
      margin: 0;
    }

    &:nth-of-type(8) {
      grid-column: line-1 / line-3;
      grid-row: row-12 / row-13;
      margin: 0;
    }

    &:nth-of-type(9) {
      grid-column: line-1 / line-3;
      grid-row: row-14 / row-15;
      margin: 0 0 5vh 0;
    }
  }

  h3 {
    color: #60348B;
    margin-bottom: 0;

    &:nth-of-type(1) {
      grid-column: line-1 / line-3;
      grid-row: row-7 / row-8;
    }

    &:nth-of-type(2) {
      grid-column: line-1 / line-3;
      grid-row: row-9 / row-10;
    }

    &:nth-of-type(3) {
      grid-column: line-1 / line-3;
      grid-row: row-11 / row-12;
    }

    &:nth-of-type(4) {
      grid-column: line-1 / line-3;
      grid-row: row-13 / row-14;
    }
  }
}

@media all and (min-width:380px) and (max-width: 600px) {
  section.graduation_questions {

    img {

      &:nth-of-type(3) {
        display: inline;
        width: 30vw;
        height: 30vh;
        grid-column: line-2 / line-4;
        grid-row: row-0 / row-3;
        align-self: center;
        justify-self: end;
        margin-top: 2vh;
        transform: rotate(0deg);
        animation: fadeInOut 6s linear forwards;
        animation-iteration-count: infinite;
        animation-delay: 1.5s;
      }

      &:nth-of-type(7) {
        margin: 4vh 0 1vh 0;
      }
    }

    @keyframes fadeInOut {
      0% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 1; }
    }
  }
}

@media all and (min-width: 601px) {
  section.graduation_questions {
    grid-template-columns: [line-0]10vw [line-1]10vw [line-2]10vw [line-3]10vw [line-4]10vw [line-5]10vw
                           [line-6]10vw [line-7]10vw [line-8]10vw [line-9]10vw [line-10];
    grid-template-rows: [row-0]18vh [row-1]50vh [row-2]10vh [row-3]auto [row-4]auto [row-5]auto [row-6]auto [row-7]auto
                        [row-8]auto [row-9]auto [row-10]auto [row-11]auto [row-12]auto [row-13]auto [row-14]auto [row-15];

    img {

      &:nth-of-type(1) {
        display: inline;
        grid-column: line-0 / line-10;
        grid-row: row-0 / row-15;
        width: 80vw;
        height: 200vh;
        justify-self: center;
        margin-top: 1vh;
      }

      &:nth-of-type(2) {
        display: inline;
        grid-column: line-5 / line-14;
        grid-row: row-6 / row-14;
        height: 100%;
        width: 100%;
        align-self: end;
        justify-self: center;
      }

      &:nth-of-type(3) {
        display: inline;
        width: 10vw;
        height: 10vh;
        grid-column: line-1 / line-2;
        grid-row: row-0 / row-1;
        place-self: center;
        transform: rotate(-10deg);
        margin-top: 2vh;
        animation: fadeInOut 6s linear forwards;
        animation-iteration-count: infinite;
        animation-delay: 1.5s;
      }

      &:nth-of-type(4) {
        display: inline;
        width: 10vw;
        height: 10vh;
        grid-column: line-8 / line-9;
        grid-row: row-0 / row-1;
        place-self: center;
        transform: rotate(10deg);
        margin-top: 2vh;
        animation: fadeInOut 4s linear forwards;
        animation-iteration-count: infinite;
        animation-delay: 2s;
      }

      &:nth-of-type(5) {
        display: inline;
        width: 8vw;
        height: 10vh;
        grid-column: line-0 / line-1;
        grid-row: row-1 / row-2;
        place-self: center;
        justify-self: end;
        transform: rotate(10deg);
        margin-top: 2vh;
        animation: fadeInOut 5s linear forwards;
        animation-iteration-count: infinite;
        animation-delay: 1.25s;
      }

      &:nth-of-type(6) {
        display: inline;
        width: 8vw;
        height: 10vh;
        grid-column: line-9 / line-10;
        grid-row: row-1 / row-2;
        place-self: center;
        justify-self: start;
        transform: rotate(-10deg);
        margin-top: 2vh;
        animation: fadeInOut 6.5s linear forwards;
        animation-iteration-count: infinite;
        animation-delay: 2.5s;
      }

      &:nth-of-type(7) {
        display: none;
      }
    }

    @keyframes fadeInOut {
      0% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 1; }
    }

    h2 {
      grid-column: line-2 / line-8;
      grid-row: row-1 / row-2;
      align-self: center;
      text-align: center;
      padding: 0vw 10vw 0vw 12vw;
      margin: 5vh 0vh 0vh 0vh;
    }

    h3 {
      font-size: 19px;
      margin: 2vh 0 0 0;
      color: #60348B;

      &:nth-of-type(1) {
        grid-column: line-1 / line-5;
        grid-row: row-6 / row-7;
      }

      &:nth-of-type(2) {
        grid-column: line-1 / line-5;
        grid-row: row-8 / row-9;
      }

      &:nth-of-type(3) {
        grid-column: line-1 / line-5;
        grid-row: row-10 / row-11;
      }

      &:nth-of-type(4) {
        grid-column: line-1 / line-5;
        grid-row: row-12 / row-13;
      }
    }

    p {

      &:nth-of-type(1) {
        grid-column: line-2 / line-5;
        grid-row: row-2 / row-3;
        font-size: 14px;
        padding-left: 4vw;
        align-self: center;
      }

      &:nth-of-type(2) {
        grid-column: line-5 / line-8;
        grid-row: row-2 / row-3;
        text-align: right;
        font-size: 14px;
        padding-right: 2vw;
        align-self: center;
      }

      &:nth-of-type(3) {
        grid-column: line-1 / line-7;
        grid-row: row-3 / row-4;
        margin-top: 2vh;
        padding-right: 5vw;
      }

      &:nth-of-type(4) {
        grid-column: line-1 / line-5;
        grid-row: row-4 / row-5;
        margin-top: 2vh;
        padding: 0;
      }

      &:nth-of-type(5) {
        grid-column: line-1 / line-5;
        grid-row: row-5 / row-6;
        margin-top: 2vh;
      }

      &:nth-of-type(6) {
        grid-column: line-1 / line-5;
        grid-row: row-7 / row-8;
        padding-right: 2vw;
      }

      &:nth-of-type(7) {
        grid-column: line-1 / line-5;
        grid-row: row-9 / row-10;
        padding-right: 2vw;
      }

      &:nth-of-type(8) {
        grid-column: line-1 / line-5;
        grid-row: row-11 / row-12;
        padding-right: 2vw;
      }

      &:nth-of-type(9) {
        grid-column: line-1 / line-5;
        grid-row: row-13 / row-14;
        padding-right: 2vw;
        margin-bottom: 5vh;
      }
    }
  }

  @media all and (min-width: 601px) and (max-width: 767px) {
    section.graduation_questions {

      h2 {
        font-size: 36px;
      }
    }
  }

  @media all and (min-width: 768px) and (max-width: 899px) {
    section.graduation_questions {

      h2 {
        font-size: 42px;
      }
    }
  }

  @media all and (min-width: 900px) {
    section.graduation_questions {

      h2 {
        font-size: 55px;
      }

      p {

        &:nth-of-type(5) {
          padding-right: 2vw;
        }
      }
    }
  }
}
