header {
  display: grid;
  grid-template-columns: [line-0]10vw [line-1]80vw [line-2]10vw [line-3];
  grid-template-rows: [row-0]16.5vh [row-1]7.5vh [row-2];
  background-color: #007f4a;
  border-bottom: 1vh solid #60348B;

  h1 {
    grid-column: line-1 / line-2;
    grid-row: row-0 / row-2;
    text-align: center;
    align-self: center;
    margin: 0;
    padding: 0;
    font-size: 75px;
    line-height: 100%;
  }

  nav.mobile {
    grid-column: line-0 / line-3;
    grid-row: row-1 / row-2;
    position: relative;
    display: inline-block;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      text-align: center;
      font-size: 24px;
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #007F4A;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .menu {
    cursor: pointer;
    width: 7.5vh;
    height: 7.5vh;
  }

  .show {
    display: block;
  }

  nav.desktop {
    display: none;
  }
}

@media all and (min-width: 601px) {
  header {

    h1 {
      grid-row: row-0 / row-1;
      -webkit-transition: 1s;
      -moz-transition: 1s;
      -o-transition: 1s;
      transition: 1s;

      &:hover {
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -o-transform: scale(1.02);
        transform: scale(1.02);

      }
    }

    nav.mobile {
      display: none;
    }

    nav.desktop {
      display: inline;
      grid-column: line-1 / line-2;
      grid-row: row-1 / row-2;
      align-self: center;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        text-align: center;

        li {
          display: inline;

          a {
            display: inline-block;
            text-decoration: none;
            color: white;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;

            &:hover {
              text-decoration: underline;
              text-decoration-color: #60348B;
            }
          }
        }
      }
    }
  }

  @media all and (min-width: 601px) and (max-width: 900px) {
    header {
      grid-template-columns: [line-0]5vw [line-1]90vw [line-2]5vw [line-3];
      grid-template-rows: [row-0]16vh [row-1]8vh [row-2];

      h1 {
        font-size: 100px;
      }

      nav.desktop {
        margin: 0 8vw;

        ul {
          font-size: 20px;

          li {
            padding: 0 1.5vw;

            a {

              &:hover {
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }

  @media all and (min-width: 901px) and (max-width: 1200px) {
    header {
      grid-template-columns: [line-0]5vw [line-1]90vw [line-2]5vw [line-3];
      grid-template-rows: [row-0]18.5vh [row-1]8vh [row-2];

      h1 {
        font-size: 110px;
      }

      nav.desktop {

        ul {
          font-size: 20px;

          li {
            padding: 0 1.5vw;

            a {

              &:hover {
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }

  @media all and (min-width: 1201px) {
    header {
      grid-template-columns: [line-0]5vw [line-1]90vw [line-2]5vw [line-3];
      grid-template-rows: [row-0]18.5vh [row-1]8vh [row-2];

      h1 {
        font-size: 120px;
      }

      nav.desktop {

        ul {
          font-size: 22px;

          li {
            padding: 0 2vw;

            a {

              &:hover {
                font-size: 26px;
              }
            }
          }
        }
      }
    }
  }
}
