header.home {
  display: grid;
  grid-template-columns: [line-0]2.5vw [line-1]95vw [line-2]2.5vw;
  grid-template-rows: [row-0]30vh [row-1]50vh [row-2]19vh [row-3];
  position: static;
  border-bottom: 1vh solid #60348B;
  background-color: #007f4a;

  h1 {
    grid-column: line-1 / line-2;
    grid-row: row-0 / row-1;
    font-size: 90px;
    justify-self: center;
    text-align: center;
    line-height: 100%;
    margin: 4vh 2vw 0 2vw;
  }

  nav {
    grid-column: line-1 / line-2;
    grid-row: row-1 / row-2;
    align-self: center;

    ul {
      overflow-x: hidden;
      padding: 8px 0;

      li {
        padding: 2vh 0;

        a {
          text-decoration: none;
          color: white;
          display: block;
          font-size: 26px;
          text-align: center;
          transition: 0.5s;

          &:hover {
            font-size: 30px;
          }
        }
      }
    }
  }

  a.arrow {
    grid-column: line-1 / line-2;
    grid-row: row-2 / row-3;
    place-self: center;
  }

  img {
    grid-column: line-1 / line-2;
    grid-row: row-2 / row-3;
    height: 10vh;
    width: 10vh;
    place-self: center;
  }

  p {
    display: none;
  }
}

@media all and (max-width: 474px) {

  h1.drop {
    position: absolute;
    top: -40vh;
    -webkit-animation: drop 0.5s 1s forwards;
    -moz-animation: drop 0.5s 1s forwards;
    -o-animation: drop 0.5s 1s forwards;
    animation: drop 0.5s 1s forwards;
  }

  @-webkit-keyframes drop {
      100% { top: 0; }
  }

  @-moz-keyframes drop {
    100% { top: 0; }
  }

  @keyframes drop {
      100% { top: 0; }
  }

  nav.fade {
    -webkit-animation: fade 2s 1.25s backwards;
    -moz-animation: fade 2s 1.25s backwards;
    -o-animation: fade 2s 1.25s backwards;
    animation: fade 2s 1.25s backwards;
  }

  @-webkit-keyframes fade {
    from { opacity: 0 }
    to { opacity: 1 }
  }

  @-moz-keyframes fade {
    from { opacity: 0 }
    to { opacity: 1 }
  }

  @keyframes fade {
    from { opacity: 0 }
    to { opacity: 1 }
  }
}

@media all and (min-width: 701px) {
  header.home {
    display: grid;
    position: fixed;
    top: 0px;
    border-bottom: none;
    border-right: 1vh solid #60348B;

    h1 {
      &:hover {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
      }
    }

    ul {
      li {
        a {
          &:hover {
            text-decoration: underline;
            text-decoration-color: #60348B;
          }
        }
      }
    }

    p {
      display: inline;
      color: white;
      padding: 0;
      margin: 0;
    }

    a.arrow {
      display: none;
    }

    img {
      display: none;
    }
  }

  @media all and (min-width: 701px) and (max-width: 950px) {
    header.home {
      grid-template-columns: [line-0]40vw [line-1];
      grid-template-rows: [row-0]36vh [row-1]48vh [row-2]5vh [row-3]5vh [row-4]3vh [row-5]3vh [row-6];

      h1 {
        grid-column: line-0 / line-1;
      }

      nav {
        grid-column: line-0 / line-1;

        ul {
          li {
            padding: 1.5vh 0;
            a {
              font-size: 24px;

              &:hover {
                font-size: 28px;
              }
            }
          }
        }
      }

      p {
        grid-column: line-0 / line-1;
        text-align: center;

        &:nth-of-type(1) {
          grid-row: row-2 / row-3;
          font-size: 12px;
        }

        &:nth-of-type(2) {
          grid-row: row-3 / row-4;
          font-size: 12px;
        }

        &:nth-of-type(3) {
          grid-row: row-4 / row-5;
          font-size: 10px;
          align-self: end;
        }

        &:nth-of-type(4) {
          grid-row: row-5 / row-6;
          font-size: 10px;
          align-self: end;
        }
      }
    }
  }

  @media all and (min-width: 951px) and (max-width: 1250px) {
    header.home {
      grid-template-columns: [line-0]40vw [line-1];
      grid-template-rows: [row-0]36vh [row-1]49vh [row-2]5vh [row-3]5vh [row-4]5vh [row-5];

      h1 {
        grid-column: line-0 / line-1;
        font-size: 100px;
      }

      nav {
        grid-column: line-0 / line-1;

        ul {
          li {
            padding: 1.5vh 0;
            a {
              font-size: 28px;

              &:hover {
                font-size: 32px;
              }
            }
          }
        }
      }

      p {
        grid-column: line-0 / line-1;
        text-align: center;

        &:nth-of-type(1) {
          grid-row: row-2 / row-3;
          font-size: 12px;
        }

        &:nth-of-type(2) {
          grid-row: row-3 / row-4;
          font-size: 12px;
        }

        &:nth-of-type(3) {
          grid-row: row-4 / row-5;
          text-align: left;
          align-self: center;
          font-size: 10px;
          margin-left: 2vw;
        }

        &:nth-of-type(4) {
          grid-row: row-4 / row-5;
          text-align: right;
          align-self: center;
          font-size: 10px;
          margin-right: 2vw;
        }
      }
    }
  }

  @media all and (min-width: 1251px) {
    header.home {
      grid-template-columns: [line-0]20vw [line-1]20vw [line-2];
      grid-template-rows: [row-0]40vh [row-1]44vh [row-2]10vh [row-3]6vh [row-4];

      h1 {
        grid-column: line-0 / line-2;
        font-size: 120px;
        margin: 5vh 2vw 0 2vw;;
      }

      nav {
        grid-column: line-0 / line-2;

        ul {
          li {
            padding: 1.5vh 0;
            a {
              font-size: 30px;

              &:hover {
                font-size: 34px;
              }
            }
          }
        }
      }

      p {

        &:nth-of-type(1) {
          grid-column: line-0 / line-1;
          grid-row: row-2 / row-3;
          font-size: 14px;
          align-self: center;
          text-align: left;
          margin-left: 2vw;
        }

        &:nth-of-type(2) {
          grid-column: line-1 / line-2;
          grid-row: row-2 / row-3;
          font-size: 14px;
          align-self: center;
          text-align: right;
          margin-right: 2vw;
        }

        &:nth-of-type(3) {
          grid-column: line-0 / line-1;
          grid-row: row-3 / row-4;
          text-align: left;
          align-self: center;
          font-size: 12px;
          margin-left: 2vw;
        }

        &:nth-of-type(4) {
          grid-column: line-1 / line-2;
          grid-row: row-3 / row-4;
          text-align: right;
          align-self: center;
          font-size: 12px;
          margin-right: 2vw;
        }
      }
    }
  }
}
