main.home {
  a {
    text-decoration: none;
    color: white;
    display: block;
  }

  h2 {
    color: white;
    line-height: 100%;
    margin: 0;
    padding: 0;
    align-self: start;
  }

  h3 {
    color: white;
    margin: 0;
    align-self: center;
    text-align: right;
    line-height: 100%;
    font-size: 18px;
  }

  button {
    align-self: start;
    width: 30vw;
    font-size: 15px;
    height: 8vh;
    background-color: #60348B;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid white;
  }
}

section.welcome {
  display: grid;
  grid-template-columns: [line-0]2.5vw [line-1]75vw [line-2]22.5vw [line-3];
  grid-template-rows: [row-0]35vh [row-1]15vh [row-2]50vh [row-3];
  background-color: #009f5d;

  img {
    grid-column: line-0 / line-3;
    grid-row: row-0 / row-3;
    width: 100vw;
    height: 99vh;
    border-bottom: 1vh solid #60348B;
  }

  h2 {
    grid-column: line-1 / line-2;
    grid-row: row-0 / row-1;
    font-size: 40px;
    margin-top: 2vh;
  }

  h3 {
    grid-column: line-1 / line-2;
    grid-row: row-1 / row-2;
    margin-right: 3vw;
    text-align: left;
    align-self: start;
  }
}

section.university_news {
  display: grid;
  grid-template-columns: [line-0]2.5vw [line-1]95vw [line-2]2.5vw [line-3];
  grid-template-rows: [row-0]8vh [row-1]67vh [row-2]10vh [row-3]15vh [row-4];
  background-color: #009f5d;

  img {
    grid-column: line-0 / line-3;
    grid-row: row-0 / row-4;
    width: 100vw;
    height: 99vh;
    border-bottom: 1vh solid #60348B;
  }

  h2 {
    grid-column: line-1 / line-2;
    grid-row: row-1 / row-2;
    text-align: center;
    font-size: 50px;
    margin: 2vh 0 0 0;
  }

  h3 {
    grid-column: line-1 / line-2;
    grid-row: row-0 / row-1;
  }

  button {

    &:nth-of-type(1) {
      grid-column: line-1 / line-2;
      grid-row: row-2 / row-3;
      justify-self: end;
      margin-right: 1vw;
    }

    &:nth-of-type(2) {
      grid-column: line-1 / line-2;
      grid-row: row-3 / row-4;
      justify-self: end;
      margin-right: 1vw;
    }
  }
}

section.local_news {
  display: grid;
  grid-template-columns: [line-0]2.5vw [line-1]95vw [line-2]2.5vw [line-3];
  grid-template-rows: [row-0]8vh [row-1]67vh [row-2]10vh [row-3]15vh [row-4];
  background-color: #009f5d;

  img {
    grid-column: line-0 / line-3;
    grid-row: row-0 / row-4;
    width: 100vw;
    height: 99vh;
    border-bottom: 1vh solid #60348B;
  }

  h2 {
    grid-column: line-1 / line-2;
    grid-row: row-1 / row-2;
    font-size: 45px;
    margin: 2vh 0 0 0;

    span {
      font-size: 60px;
    }
  }

  h3 {
    grid-column: line-1 / line-2;
    grid-row: row-0 / row-1;
  }

  button {

    &:nth-of-type(1) {
      grid-column: line-1 / line-2;
      grid-row: row-2 / row-3;
      justify-self: end;
      margin-right: 1vw;
    }

    &:nth-of-type(2) {
      grid-column: line-1 / line-2;
      grid-row: row-3 / row-4;
      justify-self: end;
      margin-right: 1vw;
    }
  }
}

section.student_events {
  display: grid;
  grid-template-columns: [line-0]2.5vw [line-1]95vw [line-2]2.5vw [line-3];
  grid-template-rows: [row-0]8vh [row-1]67vh [row-2]10vh [row-3]15vh [row-4];
  background-color: #009f5d;

  img {
    grid-column: line-0 / line-3;
    grid-row: row-0 / row-4;
    width: 100vw;
    height: 99vh;
    border-bottom: 1vh solid #60348B;
  }

  h2 {
    grid-column: line-1 / line-2;
    grid-row: row-1 / row-2;
    text-align: right;
    font-size: 50px;

    span {
      font-size: 50px;
      text-align: right;
    }
  }

  h3 {
    grid-column: line-1 / line-2;
    grid-row: row-0 / row-1;
  }

  button {

    &:nth-of-type(1) {
      grid-column: line-1 / line-2;
      grid-row: row-2 / row-3;
      justify-self: end;
      margin-right: 1vw;
    }

    &:nth-of-type(2) {
      grid-column: line-1 / line-2;
      grid-row: row-3 / row-4;
      justify-self: end;
      margin-right: 1vw;
    }
  }
}

section.sports {
  display: grid;
  grid-template-columns: [line-0]2.5vw [line-1]95vw [line-2]2.5vw [line-3];
  grid-template-rows: [row-0]8vh [row-1]67vh [row-2]10vh [row-3]15vh [row-4];
  background-color: #009f5d;

  img {
    grid-column: line-0 / line-3;
    grid-row: row-0 / row-4;
    width: 100vw;
    height: 99vh;
    border-bottom: 1vh solid #60348B;
  }

  h2 {
    grid-column: line-1 / line-2;
    grid-row: row-1 / row-2;
    align-self: end;
    font-size: 45px;
    text-align: center;
    margin-bottom: 32vh;

    span {
      font-size: 80px;
    }
  }

  h3 {
    grid-column: line-1 / line-2;
    grid-row: row-0 / row-1;
  }

  button {

    &:nth-of-type(1) {
      grid-column: line-1 / line-2;
      grid-row: row-2 / row-3;
      justify-self: end;
      margin-right: 1vw;
    }

    &:nth-of-type(2) {
      grid-column: line-1 / line-2;
      grid-row: row-3 / row-4;
      justify-self: end;
      margin-right: 1vw;
    }
  }
}

section.societies_home {
  display: grid;
  grid-template-columns: [line-0]2.5vw [line-1]95vw [line-2]2.5vw [line-3];
  grid-template-rows: [row-0]8vh [row-1]67vh [row-2]10vh [row-3]15vh [row-4];
  background-color: #009f5d;

  img {
    grid-column: line-0 / line-3;
    grid-row: row-0 / row-4;
    width: 100vw;
    height: 99vh;
    border-bottom: 1vh solid #60348B;
  }

  h2 {

    &:nth-of-type(1) {
      grid-column: line-1 / line-2;
      grid-row: row-1 / row-2;
      font-size: 40px;
    }

    &:nth-of-type(2) {
      grid-column: line-1 / line-2;
      grid-row: row-1 / row-4;
      margin-top: 7.5vh;
      text-align: center;
      width: 1vw;
      word-wrap: break-word;
      font-size: 55px;
    }

  }

  h3 {
    grid-column: line-1 / line-2;
    grid-row: row-0 / row-1;
  }

  button {

    &:nth-of-type(1) {
      grid-column: line-1 / line-2;
      grid-row: row-2 / row-3;
      justify-self: end;
      margin-right: 1vw;
    }

    &:nth-of-type(2) {
      grid-column: line-1 / line-2;
      grid-row: row-3 / row-4;
      justify-self: end;
      margin-right: 1vw;
    }
  }
}

@media all and (min-width: 500px) and (max-width: 700px) {
  section.welcome {
    display: grid;
    grid-template-columns: [line-0]2.5vw [line-1]75vw [line-2]22.5vw [line-3];
    grid-template-rows: [row-0]35vh [row-1]15vh [row-2]50vh [row-3];
    background-color: #009f5d;

    img {
      grid-column: line-0 / line-3;
      grid-row: row-0 / row-3;
      width: 100vw;
      height: 99vh;
      border-bottom: 1vh solid #60348B;
    }

    h2 {
      grid-column: line-1 / line-2;
      grid-row: row-0 / row-1;
      font-size: 50px;
      margin-top: 2vh;
      align-self: center;
    }

    h3 {
      grid-column: line-1 / line-2;
      grid-row: row-1 / row-2;
      margin-right: 3vw;
      text-align: left;
      align-self: start;
    }
  }

  section.university_news {
    display: grid;
    grid-template-columns: [line-0]2.5vw [line-1]95vw [line-2]2.5vw [line-3];
    grid-template-rows: [row-0]8vh [row-1]67vh [row-2]10vh [row-3]15vh [row-4];
    background-color: #009f5d;

    img {
      grid-column: line-0 / line-3;
      grid-row: row-0 / row-4;
      width: 100vw;
      height: 99vh;
      border-bottom: 1vh solid #60348B;
    }

    h2 {
      grid-column: line-1 / line-2;
      grid-row: row-1 / row-2;
      text-align: center;
      font-size: 60px;
      margin: 2vh 0 0 0;
    }

    h3 {
      grid-column: line-1 / line-2;
      grid-row: row-0 / row-1;
    }

    button {

      &:nth-of-type(1) {
        grid-column: line-1 / line-2;
        grid-row: row-2 / row-3;
        justify-self: end;
        margin-right: 1vw;
      }

      &:nth-of-type(2) {
        grid-column: line-1 / line-2;
        grid-row: row-3 / row-4;
        justify-self: end;
        margin-right: 1vw;
      }
    }
  }

  section.local_news {
    display: grid;
    grid-template-columns: [line-0]2.5vw [line-1]95vw [line-2]2.5vw [line-3];
    grid-template-rows: [row-0]8vh [row-1]67vh [row-2]10vh [row-3]15vh [row-4];
    background-color: #009f5d;

    img {
      grid-column: line-0 / line-3;
      grid-row: row-0 / row-4;
      width: 100vw;
      height: 99vh;
      border-bottom: 1vh solid #60348B;
    }

    h2 {
      grid-column: line-1 / line-2;
      grid-row: row-1 / row-2;
      font-size: 60px;
      margin: 3vh 0 0 0;

      span {
        font-size: 70px;
      }
    }

    h3 {
      grid-column: line-1 / line-2;
      grid-row: row-0 / row-1;
    }

    button {

      &:nth-of-type(1) {
        grid-column: line-1 / line-2;
        grid-row: row-2 / row-3;
        justify-self: end;
        margin-right: 1vw;
      }

      &:nth-of-type(2) {
        grid-column: line-1 / line-2;
        grid-row: row-3 / row-4;
        justify-self: end;
        margin-right: 1vw;
      }
    }
  }

  section.student_events {
    display: grid;
    grid-template-columns: [line-0]2.5vw [line-1]95vw [line-2]2.5vw [line-3];
    grid-template-rows: [row-0]8vh [row-1]67vh [row-2]10vh [row-3]15vh [row-4];
    background-color: #009f5d;

    img {
      grid-column: line-0 / line-3;
      grid-row: row-0 / row-4;
      width: 100vw;
      height: 99vh;
      border-bottom: 1vh solid #60348B;
    }

    h2 {
      grid-column: line-1 / line-2;
      grid-row: row-1 / row-2;
      text-align: right;
      font-size: 60px;
      margin-top: 3vh;

      span {
        font-size: 70px;
        text-align: right;
      }
    }

    h3 {
      grid-column: line-1 / line-2;
      grid-row: row-0 / row-1;
    }

    button {

      &:nth-of-type(1) {
        grid-column: line-1 / line-2;
        grid-row: row-2 / row-3;
        justify-self: end;
        margin-right: 1vw;
      }

      &:nth-of-type(2) {
        grid-column: line-1 / line-2;
        grid-row: row-3 / row-4;
        justify-self: end;
        margin-right: 1vw;
      }
    }
  }

  section.sports {
    display: grid;
    grid-template-columns: [line-0]2.5vw [line-1]95vw [line-2]2.5vw [line-3];
    grid-template-rows: [row-0]8vh [row-1]67vh [row-2]10vh [row-3]15vh [row-4];
    background-color: #009f5d;

    img {
      grid-column: line-0 / line-3;
      grid-row: row-0 / row-4;
      width: 100vw;
      height: 99vh;
      border-bottom: 1vh solid #60348B;
    }

    h2 {
      grid-column: line-1 / line-2;
      grid-row: row-1 / row-2;
      align-self: end;
      font-size: 70px;
      text-align: center;
      margin-bottom: 32vh;

      span {
        font-size: 110px;
      }
    }

    h3 {
      grid-column: line-1 / line-2;
      grid-row: row-0 / row-1;
    }

    button {

      &:nth-of-type(1) {
        grid-column: line-1 / line-2;
        grid-row: row-2 / row-3;
        justify-self: end;
        margin-right: 1vw;
      }

      &:nth-of-type(2) {
        grid-column: line-1 / line-2;
        grid-row: row-3 / row-4;
        justify-self: end;
        margin-right: 1vw;
      }
    }
  }

  section.societies_home {
    display: grid;
    grid-template-columns: [line-0]2.5vw [line-1]95vw [line-2]2.5vw [line-3];
    grid-template-rows: [row-0]8vh [row-1]67vh [row-2]10vh [row-3]15vh [row-4];
    background-color: #009f5d;

    img {
      grid-column: line-0 / line-3;
      grid-row: row-0 / row-4;
      width: 100vw;
      height: 99vh;
      border-bottom: 1vh solid #60348B;
    }

    h2 {
      margin-left: 3vw;

      &:nth-of-type(1) {
        grid-column: line-1 / line-2;
        grid-row: row-1 / row-2;
        font-size: 50px;
      }

      &:nth-of-type(2) {
        grid-column: line-1 / line-2;
        grid-row: row-1 / row-4;
        margin-top: 7.5vh;
        text-align: center;
        width: 1vw;
        word-wrap: break-word;
        font-size: 60px;
      }

    }

    h3 {
      grid-column: line-1 / line-2;
      grid-row: row-0 / row-1;
    }

    button {

      &:nth-of-type(1) {
        grid-column: line-1 / line-2;
        grid-row: row-2 / row-3;
        justify-self: end;
        margin-right: 1vw;
      }

      &:nth-of-type(2) {
        grid-column: line-1 / line-2;
        grid-row: row-3 / row-4;
        justify-self: end;
        margin-right: 1vw;
      }
    }
  }
}

@media all and (min-width: 701px) and (max-width: 1150px) {
  section.welcome {
    display: grid;
    grid-template-columns: [line-0]40vw [line-1]5vw [line-2]50vw [line-3]5vw [line-4];
    grid-template-rows: [row-0]35vh [row-1]15vh [row-2]50vh [row-3];
    background-color: #009f5d;

    img {
      grid-column: line-1 / line-3;
      grid-row: row-0 / row-3;
      width: 60vw;
      height: 99vh;
      border-bottom: 1vh solid #60348B;
    }

    h2 {
      grid-column: line-2 / line-3;
      grid-row: row-0 / row-1;
      font-size: 45px;
      margin-top: 2vh;
      align-self: center;
    }

    h3 {
      grid-column: line-2 / line-3;
      grid-row: row-1 / row-2;
      margin-right: 3vw;
      text-align: left;
      align-self: start;
    }
  }

  section.university_news {
    display: grid;
    grid-template-columns: [line-0]40vw [line-1]5vw [line-2]50vw [line-3]5vw [line-4];
    grid-template-rows: [row-0]8vh [row-1]67vh [row-2]10vh [row-3]15vh [row-4];
    background-color: #009f5d;

    img {
      grid-column: line-1 / line-4;
      grid-row: row-0 / row-4;
      width: 60vw;
      height: 99vh;
      border-bottom: 1vh solid #60348B;
    }

    h2 {
      grid-column: line-2 / line-3;
      grid-row: row-1 / row-2;
      text-align: center;
      font-size: 60px;
      margin: 2vh 0 0 0;
    }

    h3 {
      grid-column: line-2 / line-3;
      grid-row: row-0 / row-1;
    }

    button {
      width: 15vw;

      &:nth-of-type(1) {
        grid-column: line-2 / line-3;
        grid-row: row-2 / row-3;
        justify-self: end;
        margin-right: 1vw;
      }

      &:nth-of-type(2) {
        grid-column: line-2 / line-3;
        grid-row: row-3 / row-4;
        justify-self: end;
        margin-right: 1vw;
      }
    }
  }

  section.local_news {
    display: grid;
    grid-template-columns: [line-0]40vw [line-1]5vw [line-2]50vw [line-3]5vw [line-4];
    grid-template-rows: [row-0]8vh [row-1]67vh [row-2]10vh [row-3]15vh [row-4];
    background-color: #009f5d;

    img {
      grid-column: line-1 / line-4;
      grid-row: row-0 / row-4;
      width: 60vw;
      height: 99vh;
      border-bottom: 1vh solid #60348B;
    }

    h2 {
      grid-column: line-2 / line-3;
      grid-row: row-1 / row-2;
      font-size: 55px;
      margin: 3vh 0 0 0;

      span {
        font-size: 70px;
      }
    }

    h3 {
      grid-column: line-2 / line-3;
      grid-row: row-0 / row-1;
    }

    button {
      width: 15vw;

      &:nth-of-type(1) {
        grid-column: line-2 / line-3;
        grid-row: row-2 / row-3;
        justify-self: end;
        margin-right: 1vw;
      }

      &:nth-of-type(2) {
        grid-column: line-2 / line-3;
        grid-row: row-3 / row-4;
        justify-self: end;
        margin-right: 1vw;
      }
    }
  }

  section.student_events {
    display: grid;
    grid-template-columns: [line-0]40vw [line-1]5vw [line-2]50vw [line-3]5vw [line-4];
    grid-template-rows: [row-0]8vh [row-1]67vh [row-2]10vh [row-3]15vh [row-4];
    background-color: #009f5d;

    img {
      grid-column: line-1 / line-4;
      grid-row: row-0 / row-4;
      width: 60vw;
      height: 99vh;
      border-bottom: 1vh solid #60348B;
    }

    h2 {
      grid-column: line-2 / line-3;
      grid-row: row-1 / row-2;
      text-align: right;
      font-size: 50px;
      margin-top: 3vh;

      span {
        font-size: 60px;
        text-align: right;
      }
    }

    h3 {
      grid-column: line-2 / line-3;
      grid-row: row-0 / row-1;
    }

    button {
      width: 15vw;

      &:nth-of-type(1) {
        grid-column: line-2 / line-3;
        grid-row: row-2 / row-3;
        justify-self: end;
        margin-right: 1vw;
      }

      &:nth-of-type(2) {
        grid-column: line-2 / line-3;
        grid-row: row-3 / row-4;
        justify-self: end;
        margin-right: 1vw;
      }
    }
  }

  section.sports {
    display: grid;
    grid-template-columns: [line-0]40vw [line-1]5vw [line-2]50vw [line-3]5vw [line-4];
    grid-template-rows: [row-0]8vh [row-1]67vh [row-2]10vh [row-3]15vh [row-4];
    background-color: #009f5d;

    img {
      grid-column: line-1 / line-4;
      grid-row: row-0 / row-4;
      width: 60vw;
      height: 99vh;
      border-bottom: 1vh solid #60348B;
    }

    h2 {
      grid-column: line-2 / line-3;
      grid-row: row-1 / row-2;
      align-self: end;
      font-size: 70px;
      text-align: center;
      margin-bottom: 32vh;

      span {
        font-size: 90px;
      }
    }

    h3 {
      grid-column: line-2 / line-3;
      grid-row: row-0 / row-1;
    }

    button {
      width: 15vw;

      &:nth-of-type(1) {
        grid-column: line-2 / line-3;
        grid-row: row-2 / row-3;
        justify-self: end;
        margin-right: 1vw;
      }

      &:nth-of-type(2) {
        grid-column: line-2 / line-3;
        grid-row: row-3 / row-4;
        justify-self: end;
        margin-right: 1vw;
      }
    }
  }

  section.societies_home {
    display: grid;
    grid-template-columns: [line-0]40vw [line-1]5vw [line-2]50vw [line-3]5vw [line-4];
    grid-template-rows: [row-0]8vh [row-1]67vh [row-2]10vh [row-3]15vh [row-4];
    background-color: #009f5d;

    img {
      grid-column: line-1 / line-4;
      grid-row: row-0 / row-4;
      width: 60vw;
      height: 99vh;
      border-bottom: 1vh solid #60348B;
    }

    h2 {

      &:nth-of-type(1) {
        grid-column: line-2 / line-3;
        grid-row: row-1 / row-2;
        font-size: 45px;
      }

      &:nth-of-type(2) {
        grid-column: line-2 / line-3;
        grid-row: row-1 / row-4;
        margin-top: 7.5vh;
        text-align: center;
        width: 1vw;
        word-wrap: break-word;
        font-size: 55px;
      }

    }

    h3 {
      grid-column: line-2 / line-3;
      grid-row: row-0 / row-1;
    }

    button {
      width: 15vw;

      &:nth-of-type(1) {
        grid-column: line-2 / line-3;
        grid-row: row-2 / row-3;
        justify-self: end;
        margin-right: 1vw;
      }

      &:nth-of-type(2) {
        grid-column: line-2 / line-3;
        grid-row: row-3 / row-4;
        justify-self: end;
        margin-right: 1vw;
      }
    }
  }
}

@media all and (min-width: 1151px) {
  section.welcome {
    display: grid;
    grid-template-columns: [line-0]40vw [line-1]5vw [line-2]50vw [line-3]5vw [line-4];
    grid-template-rows: [row-0]35vh [row-1]15vh [row-2]50vh [row-3];
    background-color: #009f5d;

    img {
      grid-column: line-1 / line-3;
      grid-row: row-0 / row-3;
      width: 60vw;
      height: 99vh;
      border-bottom: 1vh solid #60348B;
    }

    h2 {
      grid-column: line-2 / line-3;
      grid-row: row-0 / row-1;
      font-size: 60px;
      margin-top: 2vh;
      align-self: center;
    }

    h3 {
      grid-column: line-2 / line-3;
      grid-row: row-1 / row-2;
      margin-right: 3vw;
      text-align: left;
      align-self: start;
      font-size: 22px;
    }
  }

  section.university_news {
    display: grid;
    grid-template-columns: [line-0]40vw [line-1]5vw [line-2]50vw [line-3]5vw [line-4];
    grid-template-rows: [row-0]8vh [row-1]67vh [row-2]10vh [row-3]15vh [row-4];
    background-color: #009f5d;

    img {
      grid-column: line-1 / line-4;
      grid-row: row-0 / row-4;
      width: 60vw;
      height: 99vh;
      border-bottom: 1vh solid #60348B;
    }

    h2 {
      grid-column: line-2 / line-3;
      grid-row: row-1 / row-2;
      text-align: center;
      font-size: 65px;
      margin: 2vh 0 0 0;
    }

    h3 {
      grid-column: line-2 / line-3;
      grid-row: row-0 / row-1;
    }

    button {
      width: 15vw;
      font-size: 17px;

      &:nth-of-type(1) {
        grid-column: line-2 / line-3;
        grid-row: row-2 / row-3;
        justify-self: end;
        margin-right: 1vw;
      }

      &:nth-of-type(2) {
        grid-column: line-2 / line-3;
        grid-row: row-3 / row-4;
        justify-self: end;
        margin-right: 1vw;
      }
    }
  }

  section.local_news {
    display: grid;
    grid-template-columns: [line-0]40vw [line-1]5vw [line-2]50vw [line-3]5vw [line-4];
    grid-template-rows: [row-0]8vh [row-1]67vh [row-2]10vh [row-3]15vh [row-4];
    background-color: #009f5d;

    img {
      grid-column: line-1 / line-4;
      grid-row: row-0 / row-4;
      width: 60vw;
      height: 99vh;
      border-bottom: 1vh solid #60348B;
    }

    h2 {
      grid-column: line-2 / line-3;
      grid-row: row-1 / row-2;
      font-size: 65px;
      margin: 3vh 0 0 0;

      span {
        font-size: 80px;
      }
    }

    h3 {
      grid-column: line-2 / line-3;
      grid-row: row-0 / row-1;
    }

    button {
      width: 15vw;
      font-size: 17px;

      &:nth-of-type(1) {
        grid-column: line-2 / line-3;
        grid-row: row-2 / row-3;
        justify-self: end;
        margin-right: 1vw;
      }

      &:nth-of-type(2) {
        grid-column: line-2 / line-3;
        grid-row: row-3 / row-4;
        justify-self: end;
        margin-right: 1vw;
      }
    }
  }

  section.student_events {
    display: grid;
    grid-template-columns: [line-0]40vw [line-1]5vw [line-2]50vw [line-3]5vw [line-4];
    grid-template-rows: [row-0]8vh [row-1]67vh [row-2]10vh [row-3]15vh [row-4];
    background-color: #009f5d;

    img {
      grid-column: line-1 / line-4;
      grid-row: row-0 / row-4;
      width: 60vw;
      height: 99vh;
      border-bottom: 1vh solid #60348B;
    }

    h2 {
      grid-column: line-2 / line-3;
      grid-row: row-1 / row-2;
      text-align: right;
      font-size: 60px;
      margin-top: 3vh;

      span {
        font-size: 70px;
        text-align: right;
      }
    }

    h3 {
      grid-column: line-2 / line-3;
      grid-row: row-0 / row-1;
    }

    button {
      width: 15vw;
      font-size: 17px;

      &:nth-of-type(1) {
        grid-column: line-2 / line-3;
        grid-row: row-2 / row-3;
        justify-self: end;
        margin-right: 1vw;
      }

      &:nth-of-type(2) {
        grid-column: line-2 / line-3;
        grid-row: row-3 / row-4;
        justify-self: end;
        margin-right: 1vw;
      }
    }
  }

  section.sports {
    display: grid;
    grid-template-columns: [line-0]40vw [line-1]5vw [line-2]50vw [line-3]5vw [line-4];
    grid-template-rows: [row-0]8vh [row-1]67vh [row-2]10vh [row-3]15vh [row-4];
    background-color: #009f5d;

    img {
      grid-column: line-1 / line-4;
      grid-row: row-0 / row-4;
      width: 60vw;
      height: 99vh;
      border-bottom: 1vh solid #60348B;
    }

    h2 {
      grid-column: line-2 / line-3;
      grid-row: row-1 / row-2;
      align-self: end;
      font-size: 85px;
      text-align: center;
      margin-bottom: 32vh;

      span {
        font-size: 120px;
      }
    }

    h3 {
      grid-column: line-2 / line-3;
      grid-row: row-0 / row-1;
    }

    button {
      width: 15vw;
      font-size: 17px;

      &:nth-of-type(1) {
        grid-column: line-2 / line-3;
        grid-row: row-2 / row-3;
        justify-self: end;
        margin-right: 1vw;
      }

      &:nth-of-type(2) {
        grid-column: line-2 / line-3;
        grid-row: row-3 / row-4;
        justify-self: end;
        margin-right: 1vw;
      }
    }
  }

  section.societies_home {
    display: grid;
    grid-template-columns: [line-0]40vw [line-1]5vw [line-2]50vw [line-3]5vw [line-4];
    grid-template-rows: [row-0]8vh [row-1]67vh [row-2]10vh [row-3]15vh [row-4];
    background-color: #009f5d;

    img {
      grid-column: line-1 / line-4;
      grid-row: row-0 / row-4;
      width: 60vw;
      height: 99vh;
      border-bottom: 1vh solid #60348B;
    }

    h2 {

      &:nth-of-type(1) {
        grid-column: line-2 / line-3;
        grid-row: row-1 / row-2;
        font-size: 55px;
      }

      &:nth-of-type(2) {
        grid-column: line-2 / line-3;
        grid-row: row-1 / row-4;
        margin-top: 7.5vh;
        text-align: center;
        width: 1vw;
        word-wrap: break-word;
        font-size: 60px;
      }

    }

    h3 {
      grid-column: line-2 / line-3;
      grid-row: row-0 / row-1;
    }

    button {
      width: 15vw;
      font-size: 17px;

      &:nth-of-type(1) {
        grid-column: line-2 / line-3;
        grid-row: row-2 / row-3;
        justify-self: end;
        margin-right: 1vw;
      }

      &:nth-of-type(2) {
        grid-column: line-2 / line-3;
        grid-row: row-3 / row-4;
        justify-self: end;
        margin-right: 1vw;
      }
    }
  }
}

@media all and (min-width: 700px) {
  section.university_news, .local_news, .student_events, .sports, .societies_home {
    h2 {
      &:hover {
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -o-transform: scale(1.02);
        transform: scale(1.02);
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
      }
    }

    button {
      &:hover {
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -o-transform: scale(1.02);
        transform: scale(1.02);
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
      }
    }
  }
}
