section.societies {
  display: grid;
  grid-template-columns: [line-0]5vw [line-1]15vw [line-2]70vw [line-3]10vw [line-4];
  grid-template-rows: [row-0]auto [row-1]auto [row-2]auto [row-3]auto [row-4]auto [row-5]auto
                      [row-6]auto [row-7]auto [row-8]auto [row-9]auto [row-10]auto [row-11]auto
                      [row-12]auto [row-13]auto [row-14]auto [row-15]auto [row-16]auto
                      [row-17]auto [row-18]auto [row-19]auto [row-20];

  h2 {
    font-size: 60px;
    justify-self: end;
    margin: 0;
    color: #60348B;

    &:nth-of-type(1) {
      grid-column: line-1 / line-3;
      grid-row: row-0 / row-1;
      font-size: 40px;
      justify-self: start;
      color: black;
      padding: 3vh 0 0 0;
    }

    &:nth-of-type(2) {
      grid-column: line-1 / line-2;
      grid-row: row-2 / row-3;
      padding-right: 1vw;
      line-height: 100%;
      animation: shake 3s 1s both infinite;
    }

    &:nth-of-type(3) {
      grid-column: line-1 / line-2;
      grid-row: row-4 / row-5;
      padding-right: 1vw;
      line-height: 100%;
      animation: shake 3s 2s both infinite;
    }

    &:nth-of-type(4) {
      grid-column: line-1 / line-2;
      grid-row: row-6 / row-7;
      padding-right: 1vw;
      line-height: 100%;
      animation: shake 3s 0.5s both infinite;
    }

    &:nth-of-type(5) {
      grid-column: line-1 / line-2;
      grid-row: row-8 / row-9;
      padding-right: 1vw;
      line-height: 100%;
      animation: shake 3s 1s both infinite;
    }

    &:nth-of-type(6) {
      grid-column: line-1 / line-2;
      grid-row: row-10 / row-11;
      padding-right: 1vw;
      line-height: 100%;
      animation: shake 3s both infinite;
    }

    &:nth-of-type(7) {
      grid-column: line-1 / line-2;
      grid-row: row-12 / row-13;
      padding-right: 1vw;
      line-height: 100%;
      animation: shake 3s 1s both infinite;
    }

    &:nth-of-type(8) {
      grid-column: line-1 / line-2;
      grid-row: row-14 / row-15;
      padding-right: 1vw;
      line-height: 100%;
      animation: shake 3s 1.5s both infinite;
    }

    &:nth-of-type(9) {
      grid-column: line-1 / line-2;
      grid-row: row-16 / row-17;
      padding-right: 1vw;
      line-height: 100%;
      animation: shake 3s 0.5s both infinite;
    }

    &:nth-of-type(10) {
      grid-column: line-1 / line-2;
      grid-row: row-18 / row-19;
      padding-right: 1vw;
      line-height: 100%;
      margin-bottom: 0;
      animation: shake 3s both infinite;
    }
  }

  @keyframes shake {
    10%, 90% {
      transform: translateX(-1px);
    }

    20%, 80% {
      transform: translateX(2px);
    }

    30%, 50%, 70% {
      transform: translateX(-2px);
    }

    40%, 60% {
      transform: translateX(2px);
    }
  }

  h3 {
    font-size: 40px;
    margin: 0;
    line-height: 100%;
    align-self: center;

    &:nth-of-type(1) {
      grid-column: line-2 / line-3;
      grid-row: row-2 / row-3;
    }

    &:nth-of-type(2) {
      grid-column: line-2 / line-3;
      grid-row: row-4 / row-5;
    }

    &:nth-of-type(3) {
      grid-column: line-2 / line-3;
      grid-row: row-6 / row-7;
    }

    &:nth-of-type(4) {
      grid-column: line-2 / line-3;
      grid-row: row-8 / row-9;
    }

    &:nth-of-type(5) {
      grid-column: line-2 / line-3;
      grid-row: row-10 / row-11;
    }

    &:nth-of-type(6) {
      grid-column: line-2 / line-3;
      grid-row: row-12 / row-13;
    }

    &:nth-of-type(7) {
      grid-column: line-2 / line-3;
      grid-row: row-14 / row-15;
    }

    &:nth-of-type(8) {
      grid-column: line-2 / line-3;
      grid-row: row-16 / row-17;
    }

    &:nth-of-type(9) {
      grid-column: line-2 / line-3;
      grid-row: row-18 / row-19;
      margin-bottom: 0;
    }
  }

  p {
    font-size: 14px;
    margin-bottom: 5vh;
    margin-top: 0;

    &:nth-of-type(1) {
      grid-column: line-1 / line-3;
      grid-row: row-1 / row-2;
    }

    &:nth-of-type(2) {
      grid-column: line-2 / line-3;
      grid-row: row-3 / row-4;
    }

    &:nth-of-type(3) {
      grid-column: line-2 / line-3;
      grid-row: row-5 / row-6;
    }

    &:nth-of-type(4) {
      grid-column: line-2 / line-3;
      grid-row: row-7 / row-8;
    }

    &:nth-of-type(5) {
      grid-column: line-2 / line-3;
      grid-row: row-9 / row-10;
    }

    &:nth-of-type(6) {
      grid-column: line-2 / line-3;
      grid-row: row-11 / row-12;
    }

    &:nth-of-type(7) {
      grid-column: line-2 / line-3;
      grid-row: row-13 / row-14;
    }

    &:nth-of-type(8) {
      grid-column: line-2 / line-3;
      grid-row: row-15 / row-16;
    }

    &:nth-of-type(9) {
      grid-column: line-2 / line-3;
      grid-row: row-17 / row-18;
    }

    &:nth-of-type(10) {
      grid-column: line-2 / line-3;
      grid-row: row-19 / row-20;
    }
  }

  img {
    width: 0;
    height: 0;
  }

  @media all and (min-width: 601px) and (max-width: 767px) {
    section.societies {
      grid-template-columns: [line-0]5vw [line-1]10vw [line-2]45vw [line-3]30vw [line-4]10vw;

      h3 {

        &:nth-of-type(2) {
          grid-column: line-2 / line-4;
          grid-row: row-4 / row-5;
        }

        &:nth-of-type(3) {
          grid-column: line-2 / line-4;
          grid-row: row-6 / row-7;
        }

        &:nth-of-type(4) {
          grid-column: line-2 / line-4;
          grid-row: row-8 / row-9;
        }

        &:nth-of-type(5) {
          grid-column: line-2 / line-4;
          grid-row: row-10 / row-11;
        }

        &:nth-of-type(6) {
          grid-column: line-2 / line-4;
          grid-row: row-12 / row-13;
        }

        &:nth-of-type(7) {
          grid-column: line-2 / line-4;
          grid-row: row-14 / row-15;
        }

        &:nth-of-type(8) {
          grid-column: line-2 / line-4;
          grid-row: row-16 / row-17;
        }

        &:nth-of-type(9) {
          grid-column: line-2 / line-4;
          grid-row: row-18 / row-19;
          margin-bottom: 0;
        }
      }

      p {

        &:nth-of-type(2) {
          grid-column: line-2 / line-3;
          grid-row: row-3 / row-4;
        }

        &:nth-of-type(3) {
          grid-column: line-2 / line-4;
          grid-row: row-5 / row-6;
        }

        &:nth-of-type(4) {
          grid-column: line-2 / line-4;
          grid-row: row-7 / row-8;
        }

        &:nth-of-type(5) {
          grid-column: line-2 / line-4;
          grid-row: row-9 / row-10;
        }

        &:nth-of-type(6) {
          grid-column: line-2 / line-4;
          grid-row: row-11 / row-12;
        }

        &:nth-of-type(7) {
          grid-column: line-2 / line-4;
          grid-row: row-13 / row-14;
        }

        &:nth-of-type(8) {
          grid-column: line-2 / line-4;
          grid-row: row-15 / row-16;
        }

        &:nth-of-type(9) {
          grid-column: line-2 / line-4;
          grid-row: row-17 / row-18;
        }

        &:nth-of-type(10) {
          grid-column: line-2 / line-4;
          grid-row: row-19 / row-20;
        }
      }

      img {

        &:nth-of-type(1) {
          grid-column: line-3 / line-5;
          grid-row: row-0 / row-4;
          width: 30vw;
          height: 40vh;
          place-self: center;
          border: 5px solid #60348B;
        }

        &:nth-of-type(2) {
          width: 0;
          height: 0;
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  section.societies {
    grid-template-columns: [line-0]9vw [line-1]6vw [line-2]10vw [line-3]10vw [line-4]10vw [line-5]10vw
                           [line-6]10vw [line-7]10vw [line-8]15vw [line-9]10vw [line-10];
    grid-template-rows: [row-0]30vh [row-1]auto [row-2]auto [row-3]auto [row-4]auto [row-5]auto
                        [row-6]auto [row-7]auto [row-8]auto [row-9]auto [row-10];

    img {

      &:nth-of-type(1) {
        grid-column: line-7 / line-10;
        grid-row: row-0 / row-1;
        height: 20vw;
        width: 20vw;
        border: 5px solid #60348B;
        place-self: center;
        justify-self: center;
        background-color: blue;
        transform: rotate(5deg);
        margin-top: 3vh;
      }

      &:nth-of-type(2) {
        grid-column: line-7 / line-10;
        grid-row: row-4 / row-10;
        height: 100%;
        width: 30vw;
        justify-self: end;
      }
    }

    h2 {
      margin: 0;
      justify-self: center;
      line-height: 100%;
      padding-right: 1vw;
      color: #60348B;

      &:nth-of-type(1) {
        grid-column: line-1 / line-8;
        grid-row: row-0 / row-1;
        justify-self: start;
        line-height: normal;
        padding: 3vh 0 0 0;
        color: black;
      }

      &:nth-of-type(2) {
        grid-column: line-1 / line-2;
        grid-row: row-1 / row-2;
      }

      &:nth-of-type(3) {
        grid-column: line-1 / line-2;
        grid-row: row-2 / row-3;
      }

      &:nth-of-type(4) {
        grid-column: line-1 / line-2;
        grid-row: row-3 / row-4;
      }

      &:nth-of-type(5) {
        grid-column: line-1 / line-2;
        grid-row: row-4 / row-5;
      }

      &:nth-of-type(6) {
        grid-column: line-1 / line-2;
        grid-row: row-5 / row-6;
      }

      &:nth-of-type(7) {
        grid-column: line-1 / line-2;
        grid-row: row-6 / row-7;
      }

      &:nth-of-type(8) {
        grid-column: line-1 / line-2;
        grid-row: row-7 / row-8;
      }

      &:nth-of-type(9) {
        grid-column: line-1 / line-2;
        grid-row: row-8 / row-9;
      }

      &:nth-of-type(10) {
        grid-column: line-1 / line-2;
        grid-row: row-9 / row-10;
        margin-bottom: 5vh;
      }
    }

    h3 {
      margin: 0;
      padding: 0;
      line-height: 100%;
      align-self: center;

      &:nth-of-type(1) {
        grid-column: line-2 / line-5;
        grid-row: row-1 / row-2;
      }

      &:nth-of-type(2) {
        grid-column: line-2 / line-5;
        grid-row: row-2 / row-3;
      }

      &:nth-of-type(3) {
        grid-column: line-2 / line-5;
        grid-row: row-3 / row-4;
      }

      &:nth-of-type(4) {
        grid-column: line-2 / line-5;
        grid-row: row-4 / row-5;
      }

      &:nth-of-type(5) {
        grid-column: line-2 / line-5;
        grid-row: row-5 / row-6;
      }

      &:nth-of-type(6) {
        grid-column: line-2 / line-5;
        grid-row: row-6 / row-7;
      }

      &:nth-of-type(7) {
        grid-column: line-2 / line-5;
        grid-row: row-7 / row-8;
      }

      &:nth-of-type(8) {
        grid-column: line-2 / line-5;
        grid-row: row-8 / row-9;
      }

      &:nth-of-type(9) {
        grid-column: line-2 / line-5;
        grid-row: row-9 / row-10;
        margin-bottom: 5vh;
      }
    }

    p {
      margin: 0;
      align-self: center;

      &:nth-of-type(1) {
        grid-column: line-1 / line-7;
        grid-row: row-0 / row-1;
        align-self: end;
        margin-bottom: 4vh;
        font-size: 14px;
      }

      &:nth-of-type(3) {
        grid-column: line-5 / line-9;
        grid-row: row-2 / row-3;
      }

      &:nth-of-type(4) {
        grid-column: line-5 / line-9;
        grid-row: row-3 / row-4;
      }

      &:nth-of-type(5) {
        grid-column: line-5 / line-8;
        grid-row: row-4 / row-5;
      }

      &:nth-of-type(6) {
        grid-column: line-5 / line-7;
        grid-row: row-5 / row-6;
      }

      &:nth-of-type(7) {
        grid-column: line-5 / line-7;
        grid-row: row-6 / row-7;
      }

      &:nth-of-type(8) {
        grid-column: line-5 / line-7;
        grid-row: row-7 / row-8;
      }

      &:nth-of-type(9) {
        grid-column: line-5 / line-7;
        grid-row: row-8 / row-9;
      }

      &:nth-of-type(10) {
        grid-column: line-5 / line-8;
        grid-row: row-9 / row-10;
        margin-bottom: 5vh;
        padding-right: 3vw;
      }
    }
  }

  @media all and (min-width: 768px) and (max-width: 900px) {
    section.societies {

      h2 {
        font-size: 90px;

        &:nth-of-type(1) {
          font-size: 70px;
        }
      }

      h3 {
        font-size: 35px;
      }

      p {
        font-size: 12px;

        &:nth-of-type(2) {
          grid-column: line-4 / line-8;
          grid-row: row-1 / row-2;
        }
      }
    }
  }

  @media all and (min-width: 901px) {
    section.societies {
      grid-template-columns: [line-0]9vw [line-1]6vw [line-2]10vw [line-3]10vw [line-4]10vw [line-5]10vw
                             [line-6]10vw [line-7]10vw [line-8]15vw [line-9]10vw [line-10];

     img {

       &:nth-of-type(1) {
         grid-column: line-7 / line-10;
         grid-row: row-0 / row-2;
         height: 20vw;
         width: 20vw;
         border: 5px solid #60348B;
         place-self: center;
         justify-self: center;
         background-color: blue;
         transform: rotate(5deg);
         margin-top: 3vh;
       }
     }
    }

    @media all and (min-width: 901px) and (max-width: 1259px) {
      section.societies {

        h2 {
          font-size: 100px;

          &:nth-of-type(1) {
            font-size: 80px;
          }
        }

        h3 {
          font-size: 40px;
        }

        p {
          font-size: 14px;
          padding-bottom: 2vh;

          &:nth-of-type(1) {
            padding-bottom: 0;
          }

          &:nth-of-type(2) {
            grid-column: line-4 / line-7;
            grid-row: row-1 / row-2;
          }
        }
      }
    }

    @media all and (min-width: 1260px) {
      section.societies {
        grid-template-columns: [line-0]9vw [line-1]6vw [line-2]10vw [line-3]10vw [line-4]10vw [line-5]10vw
                               [line-6]10vw [line-7]10vw [line-8]15vw [line-9]10vw [line-10];


        h2 {
          font-size: 125px;

          &:nth-of-type(1) {
            font-size: 110px;
          }
        }

        h3 {
          font-size: 60px;
        }

        p {
          font-size: 16px;
          padding-bottom: 2vh;

          &:nth-of-type(1) {
            padding-bottom: 0;
          }

          &:nth-of-type(2) {
            grid-column: line-4 / line-7;
            grid-row: row-1 / row-2;
          }
        }
      }
    }
  }
}
