section.sports_awards {
  display: grid;
  grid-template-columns: [line-0]5vw [line-1]40vw [line-2]50vw [line-3]5vw [line-4];
  grid-template-rows: [row-0]auto [row-1]auto [row-2]auto [row-3]auto [row-4]auto
                      [row-5]auto [row-6]auto [row-7]auto [row-8];

  img {

    &:nth-of-type(1) {
      display: none;
      grid-column: line-0 / line-2;
      grid-row: row-0 / row-4;
    }

    &:nth-of-type(2) {
      grid-column: line-1 / line-3;
      grid-row: row-4 / row-5;
      width: 72vw;
      height: 75vw;
      object-fit: cover;
      object-position: 0 20%;
      border: 1.5vw solid #60348B;
      place-self: center;
      margin-top: 4vh;
    }
  }

  h2 {

    &:nth-of-type(1) {
      grid-column: line-1 / line-3;
      grid-row: row-0 / row-1;
      text-align: right;
      font-size: 65px;
      margin-top: 5vh;
      line-height: 125%;
      align-self: end;
      margin-bottom: 0;
    }

    &:nth-of-type(2) {
      grid-column: line-1 / line-3;
      grid-row: row-1 / row-2;
      align-self: start;
      text-align: right;
      font-size: 50px;
      margin: 0;
    }
  }

  p {

    &:nth-of-type(1) {
      grid-column: line-1 / line-3;
      grid-row: row-2 / row-3;
      align-self: start;
      margin: 4vh 0;
      text-align: right;
    }

    &:nth-of-type(2) {
      grid-column: line-1 / line-3;
      grid-row: row-3 / row-4;
      text-align: right;
    }

    &:nth-of-type(3) {
      grid-column: line-1 / line-3;
      grid-row: row-5 / row-6;
      text-align: left;
    }

    &:nth-of-type(4) {
      grid-column: line-1 / line-3;
      grid-row: row-6 / row-7;
      text-align: left;
    }

    &:nth-of-type(5) {
      grid-column: line-1 / line-3;
      grid-row: row-7 / row-8;
      text-align: left;
    }
  }

  @media all and (min-width: 450px) and (max-width: 599px) {
    section.sports_awards {

      img {

        &:nth-of-type(1) {
          display: inline;
          grid-column: line-0 / line-2;
          grid-row: row-0 / row-4;
        }
      }

      h2 {

        &:nth-of-type(2) {
          font-size: 60px;
        }
      }

      p {

        &:nth-of-type(1) {
          grid-column: line-2 / line-3;
        }

        &:nth-of-type(2) {
          margin-top: 5vh;
        }
      }
    }
  }
}

@media all and (min-width: 600px) {
  section.sports_awards {
    display: grid;
    grid-template-columns: [line-0]10vw [line-1]10vw [line-2]10vw [line-3]10vw [line-4]10vw [line-5]10vw
                           [line-6]10vw [line-7]10vw [line-8]10vw [line-9]10vw [line-10];
    margin-bottom: 10vh;

    img {

      &:nth-of-type(1) {
        grid-column: line-0 / line-6;
        grid-row: row-0 / row-3;
        justify-self: center;
        width: 100%;
        height: auto;
        max-height: 145vh;
        display: inline;
      }

      &:nth-of-type(2) {
        grid-column: line-5 / line-9;
        grid-row: row-3 / row-5;
        width: 35vw;
        height: 38vh;
        background-color: blue;
        justify-self: end;
        object-fit: cover;
        border: 2vh solid #60348B;
      }
    }

    h2 {
      margin: 0;

      &:nth-of-type(1) {
        grid-column: line-0 / line-5;
        grid-row: row-1 / row-2;
        line-height: 100%;
        text-align: center;
        align-self: center;
      }

      &:nth-of-type(2) {
        grid-column: line-0 / line-5;
        color: white;
        background-color: red;
        text-align: center;
        margin: 0 2vw;
      }
    }

    p {
      padding: 0;
      margin: 0;

      &:nth-of-type(1) {
        grid-column: line-6 / line-9;
        grid-row: row-0 / row-1;
        font-size: 12px;
        text-align: right;
        align-self: end;
        margin: 0;
      }

      &:nth-of-type(2) {
        grid-column: line-6 / line-9;
        grid-row: row-1 / row-3;
        text-align: right;
        font-weight: bold;
        padding-left: 5vw;
        align-self: center;
      }

      &:nth-of-type(3) {
        grid-row: row-5 / row-6;
        text-align: right;
        font-size: 16px;
        margin-top: 5vh;
        padding-left: 2vw;
      }

      &:nth-of-type(4) {
        grid-row: row-6 / row-7;
        font-size: 16px;
        text-align: right;
        margin-top: 5vh;
        padding-left: 2vw;
      }

      &:nth-of-type(5) {
        grid-column: line-2 / line-9;
        grid-row: row-7 / row-8;
        font-size: 16px;
        text-align: right;
        margin-top: 5vh;
        padding-left: 2vw;
      }
    }
  }

  @media all and (min-width: 600px) and (max-width: 767px) {
    section.sports_awards {
      grid-template-rows: [row-0]10vh [row-1]35vh [row-2]20vh [row-3]30vh [row-4]10vh [row-5]auto [row-6];

      h2 {

        &:nth-of-type(1) {
          align-self: start;
          font-size: 60px;
          margin-top: 0vh;
        }

        &:nth-of-type(2) {
          grid-row: row-1 / row-2;
          align-self: end;
          font-size: 48px;
        }
      }

      p {

        &:nth-of-type(2) {
          font-size: 16px;
        }

        &:nth-of-type(3) {
          grid-column: line-2 / line-9;
        }

        &:nth-of-type(4) {
          grid-column: line-2 / line-9;
        }
      }
    }
  }

  @media all and (min-width: 768px) and (max-width: 1023px) {
    section.sports_awards {
      grid-template-rows: [row-0]10vh [row-1]30vh [row-2]15vh [row-3]30vh [row-4]10vh [row-5]auto [row-6];


      h2 {

        &:nth-of-type(1) {
          font-size: 65px;
          margin-top: 0vh;
        }

        &:nth-of-type(2) {
          grid-row: row-2 / row-3;
          align-self: start;
          font-size: 60px;
        }
      }

      p {

        &:nth-of-type(2) {
          font-size: 17px;
        }

        &:nth-of-type(3) {
          grid-column: line-4 / line-9;
        }

        &:nth-of-type(4) {
          grid-column: line-4 / line-9;
        }
      }
    }
  }

  @media all and (min-width: 1024px) and (max-width: 1259px) {
    section.sports_awards {
      grid-template-rows: [row-0]10vh [row-1]35vh [row-2]10vh [row-3]30vh [row-4]10vh [row-5]auto [row-6];


      h2 {

        &:nth-of-type(1) {
          font-size: 80px;
          margin-top: 0vh;
        }

        &:nth-of-type(2) {
          grid-row: row-2 / row-3;
          align-self: start;
          font-size: 70px;
        }
      }

      p {

        &:nth-of-type(2) {
          font-size: 18px;
        }

        &:nth-of-type(3) {
          grid-column: line-4 / line-9;
        }

        &:nth-of-type(4) {
          grid-column: line-4 / line-9;
        }
      }
    }
  }

  @media all and (min-width: 1260px) {
    section.sports_awards {
      grid-template-rows: [row-0]10vh [row-1]35vh [row-2]10vh [row-3]30vh [row-4]10vh [row-5]auto [row-6];

      h2 {

        &:nth-of-type(1) {
          font-size: 80px;
          margin-top: 0vh;
        }

        &:nth-of-type(2) {
          grid-row: row-2 / row-3;
          align-self: start;
          font-size: 80px;
        }
      }

      p {

        &:nth-of-type(1) {
          font-size: 14px;
        }

        &:nth-of-type(2) {
          font-size: 20px;
        }

        &:nth-of-type(3) {
          grid-column: line-4 / line-9;
        }

        &:nth-of-type(4) {
          grid-column: line-4 / line-9;
        }

        &:nth-of-type(5) {
          grid-column: line-4 / line-9;
        }
      }
    }
  }
}
