section.tennis_on_top {
  display: grid;
  grid-template-columns: [line-0]5vw [line-1]45vw [line-2]45vw [line-3]5vw [line-4];
  grid-template-rows: [row-0]auto [row-1]auto [row-2]auto [row-3]auto [row-4];

  h2 {
    grid-column: line-1 / line-3;
    grid-row: row-0 / row-1;
    text-align: center;
    margin: 0;
    place-self: center;
    line-height: 90%;
    margin-top: 10vh;
    font-size: 70px;

    span {
      font-size: 85px;
    }
  }

  img {

    &:nth-of-type(1) {
      width: 0;
      height: 0;
    }

    &:nth-of-type(2) {
      grid-column: line-3 / line-4;
      grid-row: row-3 / row-4;
      width: 5vh;
      height: 5vh;
      animation: ball 10s infinite;
      animation-direction: alternate;
    }
  }

  @keyframes ball {
    0% {
      -webkit-transform: translateX(10vw);
      -moz-transform: translateX(10vw);
      -o-transform: translateX(10vw);
      transform: translateX(10vw);
    }
    100% {
      -webkit-transform: translateX(-110vw) rotate(360deg);
      -moz-transform: translateX(-110vw) rotate(360deg);
      -o-transform: translateX(-110vw) rotate(360deg);
      transform: translateX(-110vw) rotate(360deg);
    }
  }

  p {

    &:nth-of-type(1) {
      grid-column: line-1 / line-2;
      grid-row: row-1 / row-2;
      text-align: left;
      font-size: 12px;
    }

    &:nth-of-type(2) {
      grid-column: line-2 / line-3;
      grid-row: row-1 / row-2;
      text-align: right;
      font-size: 12px;
    }

    &:nth-of-type(3) {
      grid-column: line-1 / line-3;
      grid-row: row-2 / row-3;
      margin-top: 5vh;
      font-weight: bold;
    }
  }
}

section.text {
  margin-bottom: 5vh;

  img {

    &:nth-of-type(1) {
      height: 35vw;
      width: 35vw;
      object-fit: cover;
      border-radius: 50%;
      border: 10px solid #60348B;
      float: right;
      shape-outside: circle();
      margin: 3vh 3vw;
    }

    &:nth-of-type(2) {
      height: 25vw;
      width: 25vw;
      object-fit: cover;
      border-radius: 50%;
      border: 5px solid #60348B;
      float: left;
      shape-outside: circle();
      margin: 3vh 3vw;
    }
  }

  p {
    font-size: 14px;
    margin-right: 10vw;
    margin-left: 10vw;
  }
}

@media all and (min-width: 500px) and (max-width: 767px) {
  section.tennis_on_top {

    img {

      &:nth-of-type(1) {
        grid-column: line-0 / line-2;
        grid-row: row-0 / row-3;
        width: 45vw;
        height: 45vw;
      }

      &:nth-of-type(2) {
        grid-row: row-4 / row-5;
      }
    }

    h2 {
      grid-column: line-2 / line-4;

      span {
        font-size: 100px;
      }
    }

    p {

      &:nth-of-type(1) {
        grid-column: line-1 / line-3;
        grid-row: row-1 / row-2;
        text-align: right;
        font-size: 13px;
      }

      &:nth-of-type(2) {
        grid-column: line-1 / line-3;
        grid-row: row-2 / row-3;
        text-align: right;
        font-size: 13px;
      }

      &:nth-of-type(3) {
        grid-column: line-1 / line-3;
        grid-row: row-3 / row-4;
        margin-top: 5vh;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }

  @media all and (min-width: 500px) and (max-width: 599px) {
    section.tennis_on_top {
      h2 {
        font-size: 50px;
        span {
          font-size: 70px;
        }
      }

      p {

        &:nth-of-type(1) {
          margin-top: 5vh;
          font-size: 12px;
        }

        &:nth-of-type(2) {
          font-size: 12px;
        }
      }
    }
  }

  @media all and (min-width: 600px) and (max-width: 767px) {
    section.tennis_on_top {
      h2 {
        font-size: 70px;
        span {
          font-size: 90px;
        }
      }

      p {

        &:nth-of-type(1) {
          margin-top: 0vh;
          font-size: 13px;
        }

        &:nth-of-type(2) {
          font-size: 13px;
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  section.tennis_on_top {
    display: grid;
    grid-template-columns: [line-0]10vw [line-1]10vw [line-2]10vw [line-3]10vw [line-4]10vw [line-5]10vw
                           [line-6]10vw [line-7]10vw [line-8]10vw [line-9]10vw [line-10];
    grid-template-rows: [row-0]30vh [row-1]10vh [row-2]22vh [row-3]0vh [row-4]10vh [row-5];

    img {

      &:nth-of-type(1) {
        grid-column: line-0 / line-4;
        grid-row: row-0 / row-1;
        height: 60vh;
        width: 100%;
      }

      &:nth-of-type(2) {
        grid-column: line-9 / line-10;
        grid-row: row-4 / row-5;
        height: 8vh;
        width: 8vh;
        animation: ball 10s infinite;
        animation-direction: alternate;
      }
    }

    @keyframes ball {
      0% {
        transform: translateX(10vw);
      }
      100% {
        transform: translateX(-110vw) rotate(360deg);
      }
    }

    h2 {
      grid-column: line-4 / line-9;
      grid-row: row-0 / row-1;
      text-align: center;
      margin: 0;
      place-self: center;
      line-height: 90%;
      margin-top: 5vh;
    }

    p {
      margin: 0;
      padding: 0;
      font-size: 16px;

      &:nth-of-type(1) {
        grid-column: line-4 / line-6;
        grid-row: row-1 / row-2;
        padding: 0 1vw;
        align-self: center;
      }

      &:nth-of-type(2) {
        grid-row: row-1 / row-2;
        text-align: right;
        padding: 0 1vw;
        align-self: center;
      }

      &:nth-of-type(3) {
        grid-column: line-4 / line-9;
        grid-row: row-2 / row-3;
        align-self: center;
        font-weight: bold;
        padding-left: 1vw;
      }
    }
  }

  section.text {
    margin-bottom: 5vh;

    img {

      &:nth-of-type(1) {
        height: 35vw;
        width: 35vw;
        object-fit: cover;
        border-radius: 50%;
        border: 20px solid #60348B;
        float: right;
        shape-outside: circle();
        margin: 3vh 3vw;
      }

      &:nth-of-type(2) {
        height: 25vw;
        width: 25vw;
        object-fit: cover;
        border-radius: 50%;
        border: 10px solid #60348B;
        float: left;
        shape-outside: circle();
        margin: 3vh 3vw;
      }
    }

    p {
      font-size: 16px;
      margin-right: 10vw;
      margin-left: 10vw;
    }
  }

  @media all and (min-width:768px) and (max-width: 1023px) {
    section.tennis_on_top {

      h2 {
        font-size: 70px;

        span {
          font-size: 100px;
        }
      }

      p {

        &:nth-of-type(1) {
          font-size: 14px;
        }

        &:nth-of-type(2) {
          grid-column: line-6 / line-9;
          font-size: 14px;
        }
      }
    }
  }

  @media all and (min-width: 1024px) and (max-width: 1199px) {
    section.tennis_on_top {

      h2 {
        font-size: 75px;

        span {
          font-size: 125px;
        }
      }

      p {

        &:nth-of-type(1) {
          font-size: 16px;
        }

        &:nth-of-type(2) {
          grid-column: line-7 / line-9;
          font-size: 16px;
        }

        &:nth-of-type(3) {
          font-size: 17px;
        }
      }
    }
  }

  @media all and (min-width: 1200px) {
    section.tennis_on_top {

      h2 {
        font-size: 85px;

        span {
          font-size: 155px;
        }
      }

      p {

        &:nth-of-type(1) {
          font-size: 18px;
        }

        &:nth-of-type(2) {
          grid-column: line-7 / line-9;
          font-size: 18px;
        }

        &:nth-of-type(3) {
          font-size: 20px;
        }
      }
    }

    @media all and (min-width: 1400px) {
      p {
        &:nth-of-type(3) {
          font-size: 24px;
        }
      }
    }
  }
}
