h1 {
  font-family: "Heebo", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}
h1 a {
  color: white;
  text-decoration: none;
}

h2 {
  font-family: "Heebo", sans-serif;
}

h3 {
  font-family: "Heebo", sans-serif;
}

h4 {
  font-family: "Heebo", sans-serif;
}

li a {
  font-family: "Heebo", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

header {
  display: grid;
  grid-template-columns: [line-0] 10vw [line-1] 80vw [line-2] 10vw [line-3];
  grid-template-rows: [row-0] 16.5vh [row-1] 7.5vh [row-2];
  background-color: #007f4a;
  border-bottom: 1vh solid #60348B;
}
header h1 {
  grid-column: line-1/line-2;
  grid-row: row-0/row-2;
  text-align: center;
  align-self: center;
  margin: 0;
  padding: 0;
  font-size: 75px;
  line-height: 100%;
}
header nav.mobile {
  grid-column: line-0/line-3;
  grid-row: row-1/row-2;
  position: relative;
  display: inline-block;
}
header nav.mobile ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  font-size: 24px;
}
header .dropdown-content {
  display: none;
  position: absolute;
  background-color: #007F4A;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header .menu {
  cursor: pointer;
  width: 7.5vh;
  height: 7.5vh;
}
header .show {
  display: block;
}
header nav.desktop {
  display: none;
}

@media all and (min-width: 601px) {
  header h1 {
    grid-row: row-0/row-1;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  header h1:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
  }
  header nav.mobile {
    display: none;
  }
  header nav.desktop {
    display: inline;
    grid-column: line-1/line-2;
    grid-row: row-1/row-2;
    align-self: center;
  }
  header nav.desktop ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
  }
  header nav.desktop ul li {
    display: inline;
  }
  header nav.desktop ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  header nav.desktop ul li a:hover {
    text-decoration: underline;
    text-decoration-color: #60348B;
  }
}
@media all and (min-width: 601px) and (min-width: 601px) and (max-width: 900px) {
  header {
    grid-template-columns: [line-0] 5vw [line-1] 90vw [line-2] 5vw [line-3];
    grid-template-rows: [row-0] 16vh [row-1] 8vh [row-2];
  }
  header h1 {
    font-size: 100px;
  }
  header nav.desktop {
    margin: 0 8vw;
  }
  header nav.desktop ul {
    font-size: 20px;
  }
  header nav.desktop ul li {
    padding: 0 1.5vw;
  }
  header nav.desktop ul li a:hover {
    font-size: 24px;
  }
}
@media all and (min-width: 601px) and (min-width: 901px) and (max-width: 1200px) {
  header {
    grid-template-columns: [line-0] 5vw [line-1] 90vw [line-2] 5vw [line-3];
    grid-template-rows: [row-0] 18.5vh [row-1] 8vh [row-2];
  }
  header h1 {
    font-size: 110px;
  }
  header nav.desktop ul {
    font-size: 20px;
  }
  header nav.desktop ul li {
    padding: 0 1.5vw;
  }
  header nav.desktop ul li a:hover {
    font-size: 24px;
  }
}
@media all and (min-width: 601px) and (min-width: 1201px) {
  header {
    grid-template-columns: [line-0] 5vw [line-1] 90vw [line-2] 5vw [line-3];
    grid-template-rows: [row-0] 18.5vh [row-1] 8vh [row-2];
  }
  header h1 {
    font-size: 120px;
  }
  header nav.desktop ul {
    font-size: 22px;
  }
  header nav.desktop ul li {
    padding: 0 2vw;
  }
  header nav.desktop ul li a:hover {
    font-size: 26px;
  }
}
header.home {
  display: grid;
  grid-template-columns: [line-0] 2.5vw [line-1] 95vw [line-2] 2.5vw;
  grid-template-rows: [row-0] 30vh [row-1] 50vh [row-2] 19vh [row-3];
  position: static;
  border-bottom: 1vh solid #60348B;
  background-color: #007f4a;
}
header.home h1 {
  grid-column: line-1/line-2;
  grid-row: row-0/row-1;
  font-size: 90px;
  justify-self: center;
  text-align: center;
  line-height: 100%;
  margin: 4vh 2vw 0 2vw;
}
header.home nav {
  grid-column: line-1/line-2;
  grid-row: row-1/row-2;
  align-self: center;
}
header.home nav ul {
  overflow-x: hidden;
  padding: 8px 0;
}
header.home nav ul li {
  padding: 2vh 0;
}
header.home nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  font-size: 26px;
  text-align: center;
  transition: 0.5s;
}
header.home nav ul li a:hover {
  font-size: 30px;
}
header.home a.arrow {
  grid-column: line-1/line-2;
  grid-row: row-2/row-3;
  place-self: center;
}
header.home img {
  grid-column: line-1/line-2;
  grid-row: row-2/row-3;
  height: 10vh;
  width: 10vh;
  place-self: center;
}
header.home p {
  display: none;
}

@media all and (max-width: 474px) {
  h1.drop {
    position: absolute;
    top: -40vh;
    -webkit-animation: drop 0.5s 1s forwards;
    -moz-animation: drop 0.5s 1s forwards;
    -o-animation: drop 0.5s 1s forwards;
    animation: drop 0.5s 1s forwards;
  }

  @-webkit-keyframes drop {
    100% {
      top: 0;
    }
  }
  @-moz-keyframes drop {
    100% {
      top: 0;
    }
  }
  @keyframes drop {
    100% {
      top: 0;
    }
  }
  nav.fade {
    -webkit-animation: fade 2s 1.25s backwards;
    -moz-animation: fade 2s 1.25s backwards;
    -o-animation: fade 2s 1.25s backwards;
    animation: fade 2s 1.25s backwards;
  }

  @-webkit-keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
@media all and (min-width: 701px) {
  header.home {
    display: grid;
    position: fixed;
    top: 0px;
    border-bottom: none;
    border-right: 1vh solid #60348B;
  }
  header.home h1:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
  header.home ul li a:hover {
    text-decoration: underline;
    text-decoration-color: #60348B;
  }
  header.home p {
    display: inline;
    color: white;
    padding: 0;
    margin: 0;
  }
  header.home a.arrow {
    display: none;
  }
  header.home img {
    display: none;
  }
}
@media all and (min-width: 701px) and (min-width: 701px) and (max-width: 950px) {
  header.home {
    grid-template-columns: [line-0] 40vw [line-1];
    grid-template-rows: [row-0] 36vh [row-1] 48vh [row-2] 5vh [row-3] 5vh [row-4] 3vh [row-5] 3vh [row-6];
  }
  header.home h1 {
    grid-column: line-0/line-1;
  }
  header.home nav {
    grid-column: line-0/line-1;
  }
  header.home nav ul li {
    padding: 1.5vh 0;
  }
  header.home nav ul li a {
    font-size: 24px;
  }
  header.home nav ul li a:hover {
    font-size: 28px;
  }
  header.home p {
    grid-column: line-0/line-1;
    text-align: center;
  }
  header.home p:nth-of-type(1) {
    grid-row: row-2/row-3;
    font-size: 12px;
  }
  header.home p:nth-of-type(2) {
    grid-row: row-3/row-4;
    font-size: 12px;
  }
  header.home p:nth-of-type(3) {
    grid-row: row-4/row-5;
    font-size: 10px;
    align-self: end;
  }
  header.home p:nth-of-type(4) {
    grid-row: row-5/row-6;
    font-size: 10px;
    align-self: end;
  }
}
@media all and (min-width: 701px) and (min-width: 951px) and (max-width: 1250px) {
  header.home {
    grid-template-columns: [line-0] 40vw [line-1];
    grid-template-rows: [row-0] 36vh [row-1] 49vh [row-2] 5vh [row-3] 5vh [row-4] 5vh [row-5];
  }
  header.home h1 {
    grid-column: line-0/line-1;
    font-size: 100px;
  }
  header.home nav {
    grid-column: line-0/line-1;
  }
  header.home nav ul li {
    padding: 1.5vh 0;
  }
  header.home nav ul li a {
    font-size: 28px;
  }
  header.home nav ul li a:hover {
    font-size: 32px;
  }
  header.home p {
    grid-column: line-0/line-1;
    text-align: center;
  }
  header.home p:nth-of-type(1) {
    grid-row: row-2/row-3;
    font-size: 12px;
  }
  header.home p:nth-of-type(2) {
    grid-row: row-3/row-4;
    font-size: 12px;
  }
  header.home p:nth-of-type(3) {
    grid-row: row-4/row-5;
    text-align: left;
    align-self: center;
    font-size: 10px;
    margin-left: 2vw;
  }
  header.home p:nth-of-type(4) {
    grid-row: row-4/row-5;
    text-align: right;
    align-self: center;
    font-size: 10px;
    margin-right: 2vw;
  }
}
@media all and (min-width: 701px) and (min-width: 1251px) {
  header.home {
    grid-template-columns: [line-0] 20vw [line-1] 20vw [line-2];
    grid-template-rows: [row-0] 40vh [row-1] 44vh [row-2] 10vh [row-3] 6vh [row-4];
  }
  header.home h1 {
    grid-column: line-0/line-2;
    font-size: 120px;
    margin: 5vh 2vw 0 2vw;
  }
  header.home nav {
    grid-column: line-0/line-2;
  }
  header.home nav ul li {
    padding: 1.5vh 0;
  }
  header.home nav ul li a {
    font-size: 30px;
  }
  header.home nav ul li a:hover {
    font-size: 34px;
  }
  header.home p:nth-of-type(1) {
    grid-column: line-0/line-1;
    grid-row: row-2/row-3;
    font-size: 14px;
    align-self: center;
    text-align: left;
    margin-left: 2vw;
  }
  header.home p:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-2/row-3;
    font-size: 14px;
    align-self: center;
    text-align: right;
    margin-right: 2vw;
  }
  header.home p:nth-of-type(3) {
    grid-column: line-0/line-1;
    grid-row: row-3/row-4;
    text-align: left;
    align-self: center;
    font-size: 12px;
    margin-left: 2vw;
  }
  header.home p:nth-of-type(4) {
    grid-column: line-1/line-2;
    grid-row: row-3/row-4;
    text-align: right;
    align-self: center;
    font-size: 12px;
    margin-right: 2vw;
  }
}
footer {
  background-color: #007f4a;
  border-top: 1vh solid #60348B;
  width: 100%;
  height: 42vh;
  display: grid;
  grid-template-columns: [line-0] 25vw [line-1] 25vw [line-2] 25vw [line-3] 25vw [line-4];
  grid-template-rows: [row-0] 8vh [row-1] 10vh [row-2] 8vh [row-3] 8vh [row-4] 2vh [row-5] 5vh [row-6];
}
footer a {
  color: white;
  text-decoration: none;
}
footer h4 {
  grid-column: line-0/line-4;
  grid-row: row-0/row-1;
  place-self: center;
  margin: 0;
  font-size: 32px;
  color: white;
  text-align: center;
}
footer ul {
  align-self: center;
  justify-self: center;
  grid-column: line-0/line-4;
  grid-row: row-1/row-2;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  font-size: 24px;
}
footer ul li {
  padding: 0.5vh 2vw;
  display: inline;
  border-right: none;
}
footer ul li a {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  text-decoration: none;
  color: white;
}
footer p {
  color: white;
  font-size: 14px;
  margin: 0;
  padding: 0;
  align-self: center;
}
footer p:nth-of-type(1) {
  grid-column: line-0/line-4;
  grid-row: row-2/row-3;
  text-align: center;
  margin: 0;
}
footer p:nth-of-type(2) {
  grid-column: line-0/line-4;
  grid-row: row-3/row-4;
  text-align: center;
  margin: 0;
}
footer p:nth-of-type(3) {
  font-size: 10px;
  display: none;
}
footer p:nth-of-type(4) {
  grid-column: line-0/line-2;
  grid-row: row-5/row-6;
  text-align: left;
  font-size: 10px;
  margin-left: 2vw;
}
footer p:nth-of-type(5) {
  grid-column: line-2/line-4;
  grid-row: row-5/row-6;
  text-align: right;
  font-size: 10px;
  margin-right: 2vw;
}

@media all and (min-width: 750px) and (max-width: 900px) {
  footer {
    height: 28vh;
    display: grid;
    grid-template-columns: [line-0] 25vw [line-1] 25vw [line-2] 25vw [line-3] 25vw [line-4];
    grid-template-rows: [row-0] 5vh [row-1] 5vh [row-2] 5vh [row-3] 5vh [row-4] 2vh [row-5] 5vh [row-6];
  }
  footer p {
    color: white;
    font-size: 12px;
    margin: 0;
    padding: 0;
    align-self: center;
  }
  footer p:nth-of-type(1) {
    grid-column: line-0/line-1;
    grid-row: row-2/row-4;
    text-align: left;
    margin-left: 5vw;
  }
  footer p:nth-of-type(2) {
    grid-column: line-3/line-4;
    grid-row: row-2/row-4;
    text-align: right;
    margin-right: 5vw;
  }
  footer p:nth-of-type(3) {
    display: inline;
    grid-column: line-1/line-3;
    grid-row: row-2/row-6;
    text-align: center;
  }
  footer p:nth-of-type(4) {
    grid-column: line-0/line-2;
    grid-row: row-5/row-6;
    text-align: left;
    margin-left: 5vw;
  }
  footer p:nth-of-type(5) {
    grid-column: line-2/line-4;
    grid-row: row-5/row-6;
    text-align: right;
    margin-right: 5vw;
  }
  footer h4 {
    font-size: 28px;
    color: white;
    text-align: center;
    grid-column: line-0/line-1;
    grid-row: row-0/row-2;
    align-self: center;
    text-align: left;
    margin: 0 0 0 5vw;
  }
  footer ul {
    grid-column: line-1/line-4;
    grid-row: row-0/row-2;
    list-style-type: none;
    padding: 0;
    align-self: center;
    justify-self: center;
  }
  footer ul li {
    padding: 0.5vh 2vw;
    display: inline;
    border-right: 1px solid white;
  }
  footer ul li:last-child {
    border-right: none;
  }
  footer ul li a {
    font-family: "Open Sans", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
}
@media all and (min-width: 901px) {
  footer {
    height: 28vh;
    display: grid;
    grid-template-columns: [line-0] 25vw [line-1] 25vw [line-2] 25vw [line-3] 25vw [line-4];
    grid-template-rows: [row-0] 5vh [row-1] 5vh [row-2] 5vh [row-3] 5vh [row-4] 2vh [row-5] 5vh [row-6];
  }
  footer p {
    color: white;
    font-size: 14px;
    margin: 0;
    padding: 0;
    align-self: center;
  }
  footer p:nth-of-type(1) {
    grid-column: line-0/line-1;
    grid-row: row-2/row-4;
    text-align: left;
    margin-left: 5vw;
  }
  footer p:nth-of-type(2) {
    grid-column: line-3/line-4;
    grid-row: row-2/row-4;
    text-align: right;
    margin-right: 5vw;
  }
  footer p:nth-of-type(3) {
    display: inline;
    grid-column: line-1/line-3;
    grid-row: row-2/row-6;
    text-align: center;
    font-size: 14px;
  }
  footer p:nth-of-type(4) {
    grid-column: line-0/line-2;
    grid-row: row-5/row-6;
    text-align: left;
    margin-left: 5vw;
  }
  footer p:nth-of-type(5) {
    grid-column: line-2/line-4;
    grid-row: row-5/row-6;
    text-align: right;
    margin-right: 5vw;
  }
  footer h4 {
    font-size: 32px;
    color: white;
    text-align: center;
    grid-column: line-0/line-1;
    grid-row: row-0/row-2;
    align-self: center;
    text-align: left;
    margin: 0 0 0 5vw;
  }
  footer ul {
    grid-column: line-1/line-4;
    grid-row: row-0/row-2;
    list-style-type: none;
    padding: 0;
    align-self: center;
    justify-self: center;
  }
  footer ul li {
    padding: 0.5vh 2vw;
    display: inline;
    border-right: 1px solid white;
  }
  footer ul li:last-child {
    border-right: none;
  }
  footer ul li a {
    font-family: "Open Sans", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
}
main.home a {
  text-decoration: none;
  color: white;
  display: block;
}
main.home h2 {
  color: white;
  line-height: 100%;
  margin: 0;
  padding: 0;
  align-self: start;
}
main.home h3 {
  color: white;
  margin: 0;
  align-self: center;
  text-align: right;
  line-height: 100%;
  font-size: 18px;
}
main.home button {
  align-self: start;
  width: 30vw;
  font-size: 15px;
  height: 8vh;
  background-color: #60348B;
  color: white;
  font-family: "Open Sans", sans-serif;
  border: 2px solid white;
}

section.welcome {
  display: grid;
  grid-template-columns: [line-0] 2.5vw [line-1] 75vw [line-2] 22.5vw [line-3];
  grid-template-rows: [row-0] 35vh [row-1] 15vh [row-2] 50vh [row-3];
  background-color: #009f5d;
}
section.welcome img {
  grid-column: line-0/line-3;
  grid-row: row-0/row-3;
  width: 100vw;
  height: 99vh;
  border-bottom: 1vh solid #60348B;
}
section.welcome h2 {
  grid-column: line-1/line-2;
  grid-row: row-0/row-1;
  font-size: 40px;
  margin-top: 2vh;
}
section.welcome h3 {
  grid-column: line-1/line-2;
  grid-row: row-1/row-2;
  margin-right: 3vw;
  text-align: left;
  align-self: start;
}

section.university_news {
  display: grid;
  grid-template-columns: [line-0] 2.5vw [line-1] 95vw [line-2] 2.5vw [line-3];
  grid-template-rows: [row-0] 8vh [row-1] 67vh [row-2] 10vh [row-3] 15vh [row-4];
  background-color: #009f5d;
}
section.university_news img {
  grid-column: line-0/line-3;
  grid-row: row-0/row-4;
  width: 100vw;
  height: 99vh;
  border-bottom: 1vh solid #60348B;
}
section.university_news h2 {
  grid-column: line-1/line-2;
  grid-row: row-1/row-2;
  text-align: center;
  font-size: 50px;
  margin: 2vh 0 0 0;
}
section.university_news h3 {
  grid-column: line-1/line-2;
  grid-row: row-0/row-1;
}
section.university_news button:nth-of-type(1) {
  grid-column: line-1/line-2;
  grid-row: row-2/row-3;
  justify-self: end;
  margin-right: 1vw;
}
section.university_news button:nth-of-type(2) {
  grid-column: line-1/line-2;
  grid-row: row-3/row-4;
  justify-self: end;
  margin-right: 1vw;
}

section.local_news {
  display: grid;
  grid-template-columns: [line-0] 2.5vw [line-1] 95vw [line-2] 2.5vw [line-3];
  grid-template-rows: [row-0] 8vh [row-1] 67vh [row-2] 10vh [row-3] 15vh [row-4];
  background-color: #009f5d;
}
section.local_news img {
  grid-column: line-0/line-3;
  grid-row: row-0/row-4;
  width: 100vw;
  height: 99vh;
  border-bottom: 1vh solid #60348B;
}
section.local_news h2 {
  grid-column: line-1/line-2;
  grid-row: row-1/row-2;
  font-size: 45px;
  margin: 2vh 0 0 0;
}
section.local_news h2 span {
  font-size: 60px;
}
section.local_news h3 {
  grid-column: line-1/line-2;
  grid-row: row-0/row-1;
}
section.local_news button:nth-of-type(1) {
  grid-column: line-1/line-2;
  grid-row: row-2/row-3;
  justify-self: end;
  margin-right: 1vw;
}
section.local_news button:nth-of-type(2) {
  grid-column: line-1/line-2;
  grid-row: row-3/row-4;
  justify-self: end;
  margin-right: 1vw;
}

section.student_events {
  display: grid;
  grid-template-columns: [line-0] 2.5vw [line-1] 95vw [line-2] 2.5vw [line-3];
  grid-template-rows: [row-0] 8vh [row-1] 67vh [row-2] 10vh [row-3] 15vh [row-4];
  background-color: #009f5d;
}
section.student_events img {
  grid-column: line-0/line-3;
  grid-row: row-0/row-4;
  width: 100vw;
  height: 99vh;
  border-bottom: 1vh solid #60348B;
}
section.student_events h2 {
  grid-column: line-1/line-2;
  grid-row: row-1/row-2;
  text-align: right;
  font-size: 50px;
}
section.student_events h2 span {
  font-size: 50px;
  text-align: right;
}
section.student_events h3 {
  grid-column: line-1/line-2;
  grid-row: row-0/row-1;
}
section.student_events button:nth-of-type(1) {
  grid-column: line-1/line-2;
  grid-row: row-2/row-3;
  justify-self: end;
  margin-right: 1vw;
}
section.student_events button:nth-of-type(2) {
  grid-column: line-1/line-2;
  grid-row: row-3/row-4;
  justify-self: end;
  margin-right: 1vw;
}

section.sports {
  display: grid;
  grid-template-columns: [line-0] 2.5vw [line-1] 95vw [line-2] 2.5vw [line-3];
  grid-template-rows: [row-0] 8vh [row-1] 67vh [row-2] 10vh [row-3] 15vh [row-4];
  background-color: #009f5d;
}
section.sports img {
  grid-column: line-0/line-3;
  grid-row: row-0/row-4;
  width: 100vw;
  height: 99vh;
  border-bottom: 1vh solid #60348B;
}
section.sports h2 {
  grid-column: line-1/line-2;
  grid-row: row-1/row-2;
  align-self: end;
  font-size: 45px;
  text-align: center;
  margin-bottom: 32vh;
}
section.sports h2 span {
  font-size: 80px;
}
section.sports h3 {
  grid-column: line-1/line-2;
  grid-row: row-0/row-1;
}
section.sports button:nth-of-type(1) {
  grid-column: line-1/line-2;
  grid-row: row-2/row-3;
  justify-self: end;
  margin-right: 1vw;
}
section.sports button:nth-of-type(2) {
  grid-column: line-1/line-2;
  grid-row: row-3/row-4;
  justify-self: end;
  margin-right: 1vw;
}

section.societies_home {
  display: grid;
  grid-template-columns: [line-0] 2.5vw [line-1] 95vw [line-2] 2.5vw [line-3];
  grid-template-rows: [row-0] 8vh [row-1] 67vh [row-2] 10vh [row-3] 15vh [row-4];
  background-color: #009f5d;
}
section.societies_home img {
  grid-column: line-0/line-3;
  grid-row: row-0/row-4;
  width: 100vw;
  height: 99vh;
  border-bottom: 1vh solid #60348B;
}
section.societies_home h2:nth-of-type(1) {
  grid-column: line-1/line-2;
  grid-row: row-1/row-2;
  font-size: 40px;
}
section.societies_home h2:nth-of-type(2) {
  grid-column: line-1/line-2;
  grid-row: row-1/row-4;
  margin-top: 7.5vh;
  text-align: center;
  width: 1vw;
  word-wrap: break-word;
  font-size: 55px;
}
section.societies_home h3 {
  grid-column: line-1/line-2;
  grid-row: row-0/row-1;
}
section.societies_home button:nth-of-type(1) {
  grid-column: line-1/line-2;
  grid-row: row-2/row-3;
  justify-self: end;
  margin-right: 1vw;
}
section.societies_home button:nth-of-type(2) {
  grid-column: line-1/line-2;
  grid-row: row-3/row-4;
  justify-self: end;
  margin-right: 1vw;
}

@media all and (min-width: 500px) and (max-width: 700px) {
  section.welcome {
    display: grid;
    grid-template-columns: [line-0] 2.5vw [line-1] 75vw [line-2] 22.5vw [line-3];
    grid-template-rows: [row-0] 35vh [row-1] 15vh [row-2] 50vh [row-3];
    background-color: #009f5d;
  }
  section.welcome img {
    grid-column: line-0/line-3;
    grid-row: row-0/row-3;
    width: 100vw;
    height: 99vh;
    border-bottom: 1vh solid #60348B;
  }
  section.welcome h2 {
    grid-column: line-1/line-2;
    grid-row: row-0/row-1;
    font-size: 50px;
    margin-top: 2vh;
    align-self: center;
  }
  section.welcome h3 {
    grid-column: line-1/line-2;
    grid-row: row-1/row-2;
    margin-right: 3vw;
    text-align: left;
    align-self: start;
  }

  section.university_news {
    display: grid;
    grid-template-columns: [line-0] 2.5vw [line-1] 95vw [line-2] 2.5vw [line-3];
    grid-template-rows: [row-0] 8vh [row-1] 67vh [row-2] 10vh [row-3] 15vh [row-4];
    background-color: #009f5d;
  }
  section.university_news img {
    grid-column: line-0/line-3;
    grid-row: row-0/row-4;
    width: 100vw;
    height: 99vh;
    border-bottom: 1vh solid #60348B;
  }
  section.university_news h2 {
    grid-column: line-1/line-2;
    grid-row: row-1/row-2;
    text-align: center;
    font-size: 60px;
    margin: 2vh 0 0 0;
  }
  section.university_news h3 {
    grid-column: line-1/line-2;
    grid-row: row-0/row-1;
  }
  section.university_news button:nth-of-type(1) {
    grid-column: line-1/line-2;
    grid-row: row-2/row-3;
    justify-self: end;
    margin-right: 1vw;
  }
  section.university_news button:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-3/row-4;
    justify-self: end;
    margin-right: 1vw;
  }

  section.local_news {
    display: grid;
    grid-template-columns: [line-0] 2.5vw [line-1] 95vw [line-2] 2.5vw [line-3];
    grid-template-rows: [row-0] 8vh [row-1] 67vh [row-2] 10vh [row-3] 15vh [row-4];
    background-color: #009f5d;
  }
  section.local_news img {
    grid-column: line-0/line-3;
    grid-row: row-0/row-4;
    width: 100vw;
    height: 99vh;
    border-bottom: 1vh solid #60348B;
  }
  section.local_news h2 {
    grid-column: line-1/line-2;
    grid-row: row-1/row-2;
    font-size: 60px;
    margin: 3vh 0 0 0;
  }
  section.local_news h2 span {
    font-size: 70px;
  }
  section.local_news h3 {
    grid-column: line-1/line-2;
    grid-row: row-0/row-1;
  }
  section.local_news button:nth-of-type(1) {
    grid-column: line-1/line-2;
    grid-row: row-2/row-3;
    justify-self: end;
    margin-right: 1vw;
  }
  section.local_news button:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-3/row-4;
    justify-self: end;
    margin-right: 1vw;
  }

  section.student_events {
    display: grid;
    grid-template-columns: [line-0] 2.5vw [line-1] 95vw [line-2] 2.5vw [line-3];
    grid-template-rows: [row-0] 8vh [row-1] 67vh [row-2] 10vh [row-3] 15vh [row-4];
    background-color: #009f5d;
  }
  section.student_events img {
    grid-column: line-0/line-3;
    grid-row: row-0/row-4;
    width: 100vw;
    height: 99vh;
    border-bottom: 1vh solid #60348B;
  }
  section.student_events h2 {
    grid-column: line-1/line-2;
    grid-row: row-1/row-2;
    text-align: right;
    font-size: 60px;
    margin-top: 3vh;
  }
  section.student_events h2 span {
    font-size: 70px;
    text-align: right;
  }
  section.student_events h3 {
    grid-column: line-1/line-2;
    grid-row: row-0/row-1;
  }
  section.student_events button:nth-of-type(1) {
    grid-column: line-1/line-2;
    grid-row: row-2/row-3;
    justify-self: end;
    margin-right: 1vw;
  }
  section.student_events button:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-3/row-4;
    justify-self: end;
    margin-right: 1vw;
  }

  section.sports {
    display: grid;
    grid-template-columns: [line-0] 2.5vw [line-1] 95vw [line-2] 2.5vw [line-3];
    grid-template-rows: [row-0] 8vh [row-1] 67vh [row-2] 10vh [row-3] 15vh [row-4];
    background-color: #009f5d;
  }
  section.sports img {
    grid-column: line-0/line-3;
    grid-row: row-0/row-4;
    width: 100vw;
    height: 99vh;
    border-bottom: 1vh solid #60348B;
  }
  section.sports h2 {
    grid-column: line-1/line-2;
    grid-row: row-1/row-2;
    align-self: end;
    font-size: 70px;
    text-align: center;
    margin-bottom: 32vh;
  }
  section.sports h2 span {
    font-size: 110px;
  }
  section.sports h3 {
    grid-column: line-1/line-2;
    grid-row: row-0/row-1;
  }
  section.sports button:nth-of-type(1) {
    grid-column: line-1/line-2;
    grid-row: row-2/row-3;
    justify-self: end;
    margin-right: 1vw;
  }
  section.sports button:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-3/row-4;
    justify-self: end;
    margin-right: 1vw;
  }

  section.societies_home {
    display: grid;
    grid-template-columns: [line-0] 2.5vw [line-1] 95vw [line-2] 2.5vw [line-3];
    grid-template-rows: [row-0] 8vh [row-1] 67vh [row-2] 10vh [row-3] 15vh [row-4];
    background-color: #009f5d;
  }
  section.societies_home img {
    grid-column: line-0/line-3;
    grid-row: row-0/row-4;
    width: 100vw;
    height: 99vh;
    border-bottom: 1vh solid #60348B;
  }
  section.societies_home h2 {
    margin-left: 3vw;
  }
  section.societies_home h2:nth-of-type(1) {
    grid-column: line-1/line-2;
    grid-row: row-1/row-2;
    font-size: 50px;
  }
  section.societies_home h2:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-1/row-4;
    margin-top: 7.5vh;
    text-align: center;
    width: 1vw;
    word-wrap: break-word;
    font-size: 60px;
  }
  section.societies_home h3 {
    grid-column: line-1/line-2;
    grid-row: row-0/row-1;
  }
  section.societies_home button:nth-of-type(1) {
    grid-column: line-1/line-2;
    grid-row: row-2/row-3;
    justify-self: end;
    margin-right: 1vw;
  }
  section.societies_home button:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-3/row-4;
    justify-self: end;
    margin-right: 1vw;
  }
}
@media all and (min-width: 701px) and (max-width: 1150px) {
  section.welcome {
    display: grid;
    grid-template-columns: [line-0] 40vw [line-1] 5vw [line-2] 50vw [line-3] 5vw [line-4];
    grid-template-rows: [row-0] 35vh [row-1] 15vh [row-2] 50vh [row-3];
    background-color: #009f5d;
  }
  section.welcome img {
    grid-column: line-1/line-3;
    grid-row: row-0/row-3;
    width: 60vw;
    height: 99vh;
    border-bottom: 1vh solid #60348B;
  }
  section.welcome h2 {
    grid-column: line-2/line-3;
    grid-row: row-0/row-1;
    font-size: 45px;
    margin-top: 2vh;
    align-self: center;
  }
  section.welcome h3 {
    grid-column: line-2/line-3;
    grid-row: row-1/row-2;
    margin-right: 3vw;
    text-align: left;
    align-self: start;
  }

  section.university_news {
    display: grid;
    grid-template-columns: [line-0] 40vw [line-1] 5vw [line-2] 50vw [line-3] 5vw [line-4];
    grid-template-rows: [row-0] 8vh [row-1] 67vh [row-2] 10vh [row-3] 15vh [row-4];
    background-color: #009f5d;
  }
  section.university_news img {
    grid-column: line-1/line-4;
    grid-row: row-0/row-4;
    width: 60vw;
    height: 99vh;
    border-bottom: 1vh solid #60348B;
  }
  section.university_news h2 {
    grid-column: line-2/line-3;
    grid-row: row-1/row-2;
    text-align: center;
    font-size: 60px;
    margin: 2vh 0 0 0;
  }
  section.university_news h3 {
    grid-column: line-2/line-3;
    grid-row: row-0/row-1;
  }
  section.university_news button {
    width: 15vw;
  }
  section.university_news button:nth-of-type(1) {
    grid-column: line-2/line-3;
    grid-row: row-2/row-3;
    justify-self: end;
    margin-right: 1vw;
  }
  section.university_news button:nth-of-type(2) {
    grid-column: line-2/line-3;
    grid-row: row-3/row-4;
    justify-self: end;
    margin-right: 1vw;
  }

  section.local_news {
    display: grid;
    grid-template-columns: [line-0] 40vw [line-1] 5vw [line-2] 50vw [line-3] 5vw [line-4];
    grid-template-rows: [row-0] 8vh [row-1] 67vh [row-2] 10vh [row-3] 15vh [row-4];
    background-color: #009f5d;
  }
  section.local_news img {
    grid-column: line-1/line-4;
    grid-row: row-0/row-4;
    width: 60vw;
    height: 99vh;
    border-bottom: 1vh solid #60348B;
  }
  section.local_news h2 {
    grid-column: line-2/line-3;
    grid-row: row-1/row-2;
    font-size: 55px;
    margin: 3vh 0 0 0;
  }
  section.local_news h2 span {
    font-size: 70px;
  }
  section.local_news h3 {
    grid-column: line-2/line-3;
    grid-row: row-0/row-1;
  }
  section.local_news button {
    width: 15vw;
  }
  section.local_news button:nth-of-type(1) {
    grid-column: line-2/line-3;
    grid-row: row-2/row-3;
    justify-self: end;
    margin-right: 1vw;
  }
  section.local_news button:nth-of-type(2) {
    grid-column: line-2/line-3;
    grid-row: row-3/row-4;
    justify-self: end;
    margin-right: 1vw;
  }

  section.student_events {
    display: grid;
    grid-template-columns: [line-0] 40vw [line-1] 5vw [line-2] 50vw [line-3] 5vw [line-4];
    grid-template-rows: [row-0] 8vh [row-1] 67vh [row-2] 10vh [row-3] 15vh [row-4];
    background-color: #009f5d;
  }
  section.student_events img {
    grid-column: line-1/line-4;
    grid-row: row-0/row-4;
    width: 60vw;
    height: 99vh;
    border-bottom: 1vh solid #60348B;
  }
  section.student_events h2 {
    grid-column: line-2/line-3;
    grid-row: row-1/row-2;
    text-align: right;
    font-size: 50px;
    margin-top: 3vh;
  }
  section.student_events h2 span {
    font-size: 60px;
    text-align: right;
  }
  section.student_events h3 {
    grid-column: line-2/line-3;
    grid-row: row-0/row-1;
  }
  section.student_events button {
    width: 15vw;
  }
  section.student_events button:nth-of-type(1) {
    grid-column: line-2/line-3;
    grid-row: row-2/row-3;
    justify-self: end;
    margin-right: 1vw;
  }
  section.student_events button:nth-of-type(2) {
    grid-column: line-2/line-3;
    grid-row: row-3/row-4;
    justify-self: end;
    margin-right: 1vw;
  }

  section.sports {
    display: grid;
    grid-template-columns: [line-0] 40vw [line-1] 5vw [line-2] 50vw [line-3] 5vw [line-4];
    grid-template-rows: [row-0] 8vh [row-1] 67vh [row-2] 10vh [row-3] 15vh [row-4];
    background-color: #009f5d;
  }
  section.sports img {
    grid-column: line-1/line-4;
    grid-row: row-0/row-4;
    width: 60vw;
    height: 99vh;
    border-bottom: 1vh solid #60348B;
  }
  section.sports h2 {
    grid-column: line-2/line-3;
    grid-row: row-1/row-2;
    align-self: end;
    font-size: 70px;
    text-align: center;
    margin-bottom: 32vh;
  }
  section.sports h2 span {
    font-size: 90px;
  }
  section.sports h3 {
    grid-column: line-2/line-3;
    grid-row: row-0/row-1;
  }
  section.sports button {
    width: 15vw;
  }
  section.sports button:nth-of-type(1) {
    grid-column: line-2/line-3;
    grid-row: row-2/row-3;
    justify-self: end;
    margin-right: 1vw;
  }
  section.sports button:nth-of-type(2) {
    grid-column: line-2/line-3;
    grid-row: row-3/row-4;
    justify-self: end;
    margin-right: 1vw;
  }

  section.societies_home {
    display: grid;
    grid-template-columns: [line-0] 40vw [line-1] 5vw [line-2] 50vw [line-3] 5vw [line-4];
    grid-template-rows: [row-0] 8vh [row-1] 67vh [row-2] 10vh [row-3] 15vh [row-4];
    background-color: #009f5d;
  }
  section.societies_home img {
    grid-column: line-1/line-4;
    grid-row: row-0/row-4;
    width: 60vw;
    height: 99vh;
    border-bottom: 1vh solid #60348B;
  }
  section.societies_home h2:nth-of-type(1) {
    grid-column: line-2/line-3;
    grid-row: row-1/row-2;
    font-size: 45px;
  }
  section.societies_home h2:nth-of-type(2) {
    grid-column: line-2/line-3;
    grid-row: row-1/row-4;
    margin-top: 7.5vh;
    text-align: center;
    width: 1vw;
    word-wrap: break-word;
    font-size: 55px;
  }
  section.societies_home h3 {
    grid-column: line-2/line-3;
    grid-row: row-0/row-1;
  }
  section.societies_home button {
    width: 15vw;
  }
  section.societies_home button:nth-of-type(1) {
    grid-column: line-2/line-3;
    grid-row: row-2/row-3;
    justify-self: end;
    margin-right: 1vw;
  }
  section.societies_home button:nth-of-type(2) {
    grid-column: line-2/line-3;
    grid-row: row-3/row-4;
    justify-self: end;
    margin-right: 1vw;
  }
}
@media all and (min-width: 1151px) {
  section.welcome {
    display: grid;
    grid-template-columns: [line-0] 40vw [line-1] 5vw [line-2] 50vw [line-3] 5vw [line-4];
    grid-template-rows: [row-0] 35vh [row-1] 15vh [row-2] 50vh [row-3];
    background-color: #009f5d;
  }
  section.welcome img {
    grid-column: line-1/line-3;
    grid-row: row-0/row-3;
    width: 60vw;
    height: 99vh;
    border-bottom: 1vh solid #60348B;
  }
  section.welcome h2 {
    grid-column: line-2/line-3;
    grid-row: row-0/row-1;
    font-size: 60px;
    margin-top: 2vh;
    align-self: center;
  }
  section.welcome h3 {
    grid-column: line-2/line-3;
    grid-row: row-1/row-2;
    margin-right: 3vw;
    text-align: left;
    align-self: start;
    font-size: 22px;
  }

  section.university_news {
    display: grid;
    grid-template-columns: [line-0] 40vw [line-1] 5vw [line-2] 50vw [line-3] 5vw [line-4];
    grid-template-rows: [row-0] 8vh [row-1] 67vh [row-2] 10vh [row-3] 15vh [row-4];
    background-color: #009f5d;
  }
  section.university_news img {
    grid-column: line-1/line-4;
    grid-row: row-0/row-4;
    width: 60vw;
    height: 99vh;
    border-bottom: 1vh solid #60348B;
  }
  section.university_news h2 {
    grid-column: line-2/line-3;
    grid-row: row-1/row-2;
    text-align: center;
    font-size: 65px;
    margin: 2vh 0 0 0;
  }
  section.university_news h3 {
    grid-column: line-2/line-3;
    grid-row: row-0/row-1;
  }
  section.university_news button {
    width: 15vw;
    font-size: 17px;
  }
  section.university_news button:nth-of-type(1) {
    grid-column: line-2/line-3;
    grid-row: row-2/row-3;
    justify-self: end;
    margin-right: 1vw;
  }
  section.university_news button:nth-of-type(2) {
    grid-column: line-2/line-3;
    grid-row: row-3/row-4;
    justify-self: end;
    margin-right: 1vw;
  }

  section.local_news {
    display: grid;
    grid-template-columns: [line-0] 40vw [line-1] 5vw [line-2] 50vw [line-3] 5vw [line-4];
    grid-template-rows: [row-0] 8vh [row-1] 67vh [row-2] 10vh [row-3] 15vh [row-4];
    background-color: #009f5d;
  }
  section.local_news img {
    grid-column: line-1/line-4;
    grid-row: row-0/row-4;
    width: 60vw;
    height: 99vh;
    border-bottom: 1vh solid #60348B;
  }
  section.local_news h2 {
    grid-column: line-2/line-3;
    grid-row: row-1/row-2;
    font-size: 65px;
    margin: 3vh 0 0 0;
  }
  section.local_news h2 span {
    font-size: 80px;
  }
  section.local_news h3 {
    grid-column: line-2/line-3;
    grid-row: row-0/row-1;
  }
  section.local_news button {
    width: 15vw;
    font-size: 17px;
  }
  section.local_news button:nth-of-type(1) {
    grid-column: line-2/line-3;
    grid-row: row-2/row-3;
    justify-self: end;
    margin-right: 1vw;
  }
  section.local_news button:nth-of-type(2) {
    grid-column: line-2/line-3;
    grid-row: row-3/row-4;
    justify-self: end;
    margin-right: 1vw;
  }

  section.student_events {
    display: grid;
    grid-template-columns: [line-0] 40vw [line-1] 5vw [line-2] 50vw [line-3] 5vw [line-4];
    grid-template-rows: [row-0] 8vh [row-1] 67vh [row-2] 10vh [row-3] 15vh [row-4];
    background-color: #009f5d;
  }
  section.student_events img {
    grid-column: line-1/line-4;
    grid-row: row-0/row-4;
    width: 60vw;
    height: 99vh;
    border-bottom: 1vh solid #60348B;
  }
  section.student_events h2 {
    grid-column: line-2/line-3;
    grid-row: row-1/row-2;
    text-align: right;
    font-size: 60px;
    margin-top: 3vh;
  }
  section.student_events h2 span {
    font-size: 70px;
    text-align: right;
  }
  section.student_events h3 {
    grid-column: line-2/line-3;
    grid-row: row-0/row-1;
  }
  section.student_events button {
    width: 15vw;
    font-size: 17px;
  }
  section.student_events button:nth-of-type(1) {
    grid-column: line-2/line-3;
    grid-row: row-2/row-3;
    justify-self: end;
    margin-right: 1vw;
  }
  section.student_events button:nth-of-type(2) {
    grid-column: line-2/line-3;
    grid-row: row-3/row-4;
    justify-self: end;
    margin-right: 1vw;
  }

  section.sports {
    display: grid;
    grid-template-columns: [line-0] 40vw [line-1] 5vw [line-2] 50vw [line-3] 5vw [line-4];
    grid-template-rows: [row-0] 8vh [row-1] 67vh [row-2] 10vh [row-3] 15vh [row-4];
    background-color: #009f5d;
  }
  section.sports img {
    grid-column: line-1/line-4;
    grid-row: row-0/row-4;
    width: 60vw;
    height: 99vh;
    border-bottom: 1vh solid #60348B;
  }
  section.sports h2 {
    grid-column: line-2/line-3;
    grid-row: row-1/row-2;
    align-self: end;
    font-size: 85px;
    text-align: center;
    margin-bottom: 32vh;
  }
  section.sports h2 span {
    font-size: 120px;
  }
  section.sports h3 {
    grid-column: line-2/line-3;
    grid-row: row-0/row-1;
  }
  section.sports button {
    width: 15vw;
    font-size: 17px;
  }
  section.sports button:nth-of-type(1) {
    grid-column: line-2/line-3;
    grid-row: row-2/row-3;
    justify-self: end;
    margin-right: 1vw;
  }
  section.sports button:nth-of-type(2) {
    grid-column: line-2/line-3;
    grid-row: row-3/row-4;
    justify-self: end;
    margin-right: 1vw;
  }

  section.societies_home {
    display: grid;
    grid-template-columns: [line-0] 40vw [line-1] 5vw [line-2] 50vw [line-3] 5vw [line-4];
    grid-template-rows: [row-0] 8vh [row-1] 67vh [row-2] 10vh [row-3] 15vh [row-4];
    background-color: #009f5d;
  }
  section.societies_home img {
    grid-column: line-1/line-4;
    grid-row: row-0/row-4;
    width: 60vw;
    height: 99vh;
    border-bottom: 1vh solid #60348B;
  }
  section.societies_home h2:nth-of-type(1) {
    grid-column: line-2/line-3;
    grid-row: row-1/row-2;
    font-size: 55px;
  }
  section.societies_home h2:nth-of-type(2) {
    grid-column: line-2/line-3;
    grid-row: row-1/row-4;
    margin-top: 7.5vh;
    text-align: center;
    width: 1vw;
    word-wrap: break-word;
    font-size: 60px;
  }
  section.societies_home h3 {
    grid-column: line-2/line-3;
    grid-row: row-0/row-1;
  }
  section.societies_home button {
    width: 15vw;
    font-size: 17px;
  }
  section.societies_home button:nth-of-type(1) {
    grid-column: line-2/line-3;
    grid-row: row-2/row-3;
    justify-self: end;
    margin-right: 1vw;
  }
  section.societies_home button:nth-of-type(2) {
    grid-column: line-2/line-3;
    grid-row: row-3/row-4;
    justify-self: end;
    margin-right: 1vw;
  }
}
@media all and (min-width: 700px) {
  section.university_news h2:hover, .local_news h2:hover, .student_events h2:hover, .sports h2:hover, .societies_home h2:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  section.university_news button:hover, .local_news button:hover, .student_events button:hover, .sports button:hover, .societies_home button:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
}
section.article {
  display: grid;
  grid-template-columns: [line-0] 2.5vw [line-1] 40vw [line-2] 55vw [line-3] 2.5vw [line-4];
  grid-template-rows: [row-0] 9vh [row-1] 30vh [row-2] 30vh [row-3] 30vh [row-4];
  border-bottom: 1vh solid #60348B;
  background-color: #009f5d;
}
section.article h3 {
  grid-column: line-1/line-3;
  grid-row: row-0/row-1;
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: white;
  align-self: center;
}
section.article h3:nth-of-type(1) {
  text-align: left;
  font-size: 14px;
}
section.article h3:nth-of-type(2) {
  text-align: right;
}
section.article a.link {
  width: 35vw;
  height: 22vh;
  border: 1vh solid #60348B;
  place-self: center;
}
section.article a.link:nth-of-type(1) {
  grid-column: line-1/line-2;
  grid-row: row-1/row-2;
}
section.article a.link:nth-of-type(2) {
  grid-column: line-1/line-2;
  grid-row: row-2/row-3;
}
section.article a.link:nth-of-type(3) {
  grid-column: line-1/line-2;
  grid-row: row-3/row-4;
}
section.article img {
  width: 35vw;
  height: 22vh;
  place-self: center;
  padding: 0;
  margin: 0;
  object-fit: cover;
}
section.article img:nth-of-type(1) {
  grid-column: line-1/line-2;
  grid-row: row-1/row-2;
}
section.article img:nth-of-type(2) {
  grid-column: line-1/line-2;
  grid-row: row-2/row-3;
}
section.article img:nth-of-type(3) {
  grid-column: line-1/line-2;
  grid-row: row-3/row-4;
}
section.article h2 {
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 30px;
  align-self: center;
}
section.article h2:nth-of-type(1) {
  grid-column: line-2/line-3;
  grid-row: row-1/row-2;
}
section.article h2:nth-of-type(2) {
  grid-column: line-2/line-3;
  grid-row: row-2/row-3;
}
section.article h2:nth-of-type(3) {
  grid-column: line-2/line-3;
  grid-row: row-3/row-4;
}
section.article p {
  display: none;
}

@media all and (min-width: 701px) {
  section.article {
    display: grid;
    grid-template-columns: [line-0] 40vw [line-1] 2.5vw [line-2] 27.5vw [line-3] 27.5vw [line-4] 2.5vw [line-5];
  }
  section.article h2.link {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  section.article h2.link:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
  }
  section.article h3 {
    grid-column: line-2/line-4;
    grid-row: row-0/row-1;
    color: white;
    padding: 0;
    margin: 0;
    align-self: center;
  }
  section.article h3:nth-of-type(1) {
    display: none;
  }
  section.article h3:nth-of-type(2) {
    text-align: right;
  }
  section.article a.link {
    width: 25vw;
    height: 22vh;
    border: 1vh solid #60348B;
    place-self: center;
  }
  section.article img {
    width: 25vw;
    height: 22vh;
    place-self: center;
    padding: 0;
    margin: 0;
    object-fit: cover;
  }
  section.article img.link {
    width: 25vw;
    height: 22vh;
    place-self: center;
    padding: 0;
    margin: 0;
    object-fit: cover;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  section.article img.link:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
  }
  section.article p {
    color: white;
    padding: 0;
    margin: 0;
  }
}
@media all and (min-width: 701px) and (min-width: 701px) and (max-width: 1000px) {
  section.article {
    grid-template-rows: [row-0] 7vh [row-1] 29vh [row-2] 2.5vh [row-3] 29vh [row-4] 2.5vh [row-5] 29vh [row-6];
  }
  section.article h3 {
    font-size: 20px;
  }
  section.article a.link:nth-of-type(1) {
    grid-column: line-2/line-3;
    grid-row: row-1/row-2;
  }
  section.article a.link:nth-of-type(2) {
    grid-column: line-2/line-3;
    grid-row: row-3/row-4;
  }
  section.article a.link:nth-of-type(3) {
    grid-column: line-2/line-3;
    grid-row: row-5/row-6;
  }
  section.article img:nth-of-type(1) {
    grid-column: line-2/line-3;
    grid-row: row-1/row-2;
  }
  section.article img:nth-of-type(2) {
    grid-column: line-2/line-3;
    grid-row: row-3/row-4;
  }
  section.article img:nth-of-type(3) {
    grid-column: line-2/line-3;
    grid-row: row-5/row-6;
  }
  section.article h2 {
    font-size: 26px;
  }
  section.article h2:nth-of-type(1) {
    grid-column: line-3/line-4;
    grid-row: row-1/row-2;
  }
  section.article h2:nth-of-type(2) {
    grid-column: line-3/line-4;
    grid-row: row-3/row-4;
  }
  section.article h2:nth-of-type(3) {
    grid-column: line-3/line-4;
    grid-row: row-5/row-6;
  }
  section.article p {
    display: none;
  }
}
@media all and (min-width: 701px) and (min-width: 1001px) {
  section.article {
    grid-template-rows: [row-0] 7vh [row-1] 22.5vh [row-2] 6.5vh [row-3] 2.5vh [row-4] 22.5vh [row-5] 6.5vh [row-6] 2.5vh [row-7] 22.5vh [row-8] 6.5vh [row-9];
  }
  section.article a.link:nth-of-type(1) {
    grid-column: line-2/line-3;
    grid-row: row-1/row-3;
  }
  section.article a.link:nth-of-type(2) {
    grid-column: line-2/line-3;
    grid-row: row-4/row-6;
  }
  section.article a.link:nth-of-type(3) {
    grid-column: line-2/line-3;
    grid-row: row-7/row-9;
  }
  section.article img:nth-of-type(1) {
    grid-column: line-2/line-3;
    grid-row: row-1/row-3;
  }
  section.article img:nth-of-type(2) {
    grid-column: line-2/line-3;
    grid-row: row-4/row-6;
  }
  section.article img:nth-of-type(3) {
    grid-column: line-2/line-3;
    grid-row: row-7/row-9;
  }
  section.article h2 {
    text-align: left;
  }
  section.article h2:nth-of-type(1) {
    grid-column: line-3/line-4;
    grid-row: row-1/row-2;
  }
  section.article h2:nth-of-type(2) {
    grid-column: line-3/line-4;
    grid-row: row-4/row-5;
  }
  section.article h2:nth-of-type(3) {
    grid-column: line-3/line-4;
    grid-row: row-7/row-8;
  }
  section.article p {
    display: inline;
  }
  section.article p:nth-of-type(1) {
    grid-column: line-3/line-4;
    grid-row: row-2/row-3;
    text-align: left;
  }
  section.article p:nth-of-type(2) {
    grid-column: line-3/line-4;
    grid-row: row-2/row-3;
    text-align: right;
  }
  section.article p:nth-of-type(3) {
    grid-column: line-3/line-4;
    grid-row: row-5/row-6;
    text-align: left;
  }
  section.article p:nth-of-type(4) {
    grid-column: line-3/line-4;
    grid-row: row-5/row-6;
    text-align: right;
  }
  section.article p:nth-of-type(5) {
    grid-column: line-3/line-4;
    grid-row: row-8/row-9;
    text-align: left;
  }
  section.article p:nth-of-type(6) {
    grid-column: line-3/line-4;
    grid-row: row-8/row-9;
    text-align: right;
  }
}
@media all and (min-width: 701px) and (min-width: 1001px) and (min-width: 1001px) and (max-width: 1200px) {
  section.article h3 {
    font-size: 20px;
  }
  section.article h2 {
    font-size: 26px;
  }
  section.article p {
    font-size: 14px;
  }
}
@media all and (min-width: 701px) and (min-width: 1001px) and (min-width: 1201px) {
  section.article h3 {
    font-size: 22px;
  }
  section.article h2 {
    font-size: 30px;
  }
  section.article p {
    font-size: 16px;
  }
}
section.graduation_questions {
  display: grid;
  grid-template-columns: [line-0] 5vw [line-1] 50vw [line-2] 40vw [line-3] 5vw [line-4];
  grid-template-rows: [row-0] auto [row-1] auto [row-2] auto [row-3] auto [row-4] auto [row-5] auto [row-6] auto [row-7] auto [row-8] auto [row-9] auto [row-10] auto [row-11] auto [row-12] auto [row-13] auto [row-14] auto [row-15];
}
section.graduation_questions h2 {
  font-size: 36px;
  grid-column: line-1/line-2;
  grid-row: row-0/row-1;
  padding: 0;
  text-align: left;
  line-height: 100%;
}
section.graduation_questions img {
  display: none;
}
section.graduation_questions img:nth-of-type(7) {
  display: inline;
  grid-column: line-1/line-3;
  grid-row: row-4/row-5;
  width: 80vw;
  height: 80vw;
  border: 1vw solid #60348B;
  background-color: blue;
  margin: 2vh 0 1vh 0;
  place-self: center;
  object-fit: cover;
}
section.graduation_questions p:nth-of-type(1) {
  grid-column: line-1/line-3;
  grid-row: row-1/row-2;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
section.graduation_questions p:nth-of-type(2) {
  grid-column: line-1/line-3;
  grid-row: row-2/row-3;
  padding: 0;
  text-align: left;
  margin: 0;
  font-size: 14px;
}
section.graduation_questions p:nth-of-type(3) {
  grid-column: line-1/line-3;
  grid-row: row-3/row-4;
}
section.graduation_questions p:nth-of-type(4) {
  grid-column: line-1/line-3;
  grid-row: row-5/row-6;
}
section.graduation_questions p:nth-of-type(5) {
  grid-column: line-1/line-3;
  grid-row: row-6/row-7;
}
section.graduation_questions p:nth-of-type(6) {
  grid-column: line-1/line-3;
  grid-row: row-8/row-9;
  margin: 0;
}
section.graduation_questions p:nth-of-type(7) {
  grid-column: line-1/line-3;
  grid-row: row-10/row-11;
  margin: 0;
}
section.graduation_questions p:nth-of-type(8) {
  grid-column: line-1/line-3;
  grid-row: row-12/row-13;
  margin: 0;
}
section.graduation_questions p:nth-of-type(9) {
  grid-column: line-1/line-3;
  grid-row: row-14/row-15;
  margin: 0 0 5vh 0;
}
section.graduation_questions h3 {
  color: #60348B;
  margin-bottom: 0;
}
section.graduation_questions h3:nth-of-type(1) {
  grid-column: line-1/line-3;
  grid-row: row-7/row-8;
}
section.graduation_questions h3:nth-of-type(2) {
  grid-column: line-1/line-3;
  grid-row: row-9/row-10;
}
section.graduation_questions h3:nth-of-type(3) {
  grid-column: line-1/line-3;
  grid-row: row-11/row-12;
}
section.graduation_questions h3:nth-of-type(4) {
  grid-column: line-1/line-3;
  grid-row: row-13/row-14;
}

@media all and (min-width: 380px) and (max-width: 600px) {
  section.graduation_questions img:nth-of-type(3) {
    display: inline;
    width: 30vw;
    height: 30vh;
    grid-column: line-2/line-4;
    grid-row: row-0/row-3;
    align-self: center;
    justify-self: end;
    margin-top: 2vh;
    transform: rotate(0deg);
    animation: fadeInOut 6s linear forwards;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
  }
  section.graduation_questions img:nth-of-type(7) {
    margin: 4vh 0 1vh 0;
  }
  @keyframes fadeInOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@media all and (min-width: 601px) {
  section.graduation_questions {
    grid-template-columns: [line-0] 10vw [line-1] 10vw [line-2] 10vw [line-3] 10vw [line-4] 10vw [line-5] 10vw [line-6] 10vw [line-7] 10vw [line-8] 10vw [line-9] 10vw [line-10];
    grid-template-rows: [row-0] 18vh [row-1] 50vh [row-2] 10vh [row-3] auto [row-4] auto [row-5] auto [row-6] auto [row-7] auto [row-8] auto [row-9] auto [row-10] auto [row-11] auto [row-12] auto [row-13] auto [row-14] auto [row-15];
  }
  section.graduation_questions img:nth-of-type(1) {
    display: inline;
    grid-column: line-0/line-10;
    grid-row: row-0/row-15;
    width: 80vw;
    height: 200vh;
    justify-self: center;
    margin-top: 1vh;
  }
  section.graduation_questions img:nth-of-type(2) {
    display: inline;
    grid-column: line-5/line-14;
    grid-row: row-6/row-14;
    height: 100%;
    width: 100%;
    align-self: end;
    justify-self: center;
  }
  section.graduation_questions img:nth-of-type(3) {
    display: inline;
    width: 10vw;
    height: 10vh;
    grid-column: line-1/line-2;
    grid-row: row-0/row-1;
    place-self: center;
    transform: rotate(-10deg);
    margin-top: 2vh;
    animation: fadeInOut 6s linear forwards;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
  }
  section.graduation_questions img:nth-of-type(4) {
    display: inline;
    width: 10vw;
    height: 10vh;
    grid-column: line-8/line-9;
    grid-row: row-0/row-1;
    place-self: center;
    transform: rotate(10deg);
    margin-top: 2vh;
    animation: fadeInOut 4s linear forwards;
    animation-iteration-count: infinite;
    animation-delay: 2s;
  }
  section.graduation_questions img:nth-of-type(5) {
    display: inline;
    width: 8vw;
    height: 10vh;
    grid-column: line-0/line-1;
    grid-row: row-1/row-2;
    place-self: center;
    justify-self: end;
    transform: rotate(10deg);
    margin-top: 2vh;
    animation: fadeInOut 5s linear forwards;
    animation-iteration-count: infinite;
    animation-delay: 1.25s;
  }
  section.graduation_questions img:nth-of-type(6) {
    display: inline;
    width: 8vw;
    height: 10vh;
    grid-column: line-9/line-10;
    grid-row: row-1/row-2;
    place-self: center;
    justify-self: start;
    transform: rotate(-10deg);
    margin-top: 2vh;
    animation: fadeInOut 6.5s linear forwards;
    animation-iteration-count: infinite;
    animation-delay: 2.5s;
  }
  section.graduation_questions img:nth-of-type(7) {
    display: none;
  }
  @keyframes fadeInOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  section.graduation_questions h2 {
    grid-column: line-2/line-8;
    grid-row: row-1/row-2;
    align-self: center;
    text-align: center;
    padding: 0vw 10vw 0vw 12vw;
    margin: 5vh 0vh 0vh 0vh;
  }
  section.graduation_questions h3 {
    font-size: 19px;
    margin: 2vh 0 0 0;
    color: #60348B;
  }
  section.graduation_questions h3:nth-of-type(1) {
    grid-column: line-1/line-5;
    grid-row: row-6/row-7;
  }
  section.graduation_questions h3:nth-of-type(2) {
    grid-column: line-1/line-5;
    grid-row: row-8/row-9;
  }
  section.graduation_questions h3:nth-of-type(3) {
    grid-column: line-1/line-5;
    grid-row: row-10/row-11;
  }
  section.graduation_questions h3:nth-of-type(4) {
    grid-column: line-1/line-5;
    grid-row: row-12/row-13;
  }
  section.graduation_questions p:nth-of-type(1) {
    grid-column: line-2/line-5;
    grid-row: row-2/row-3;
    font-size: 14px;
    padding-left: 4vw;
    align-self: center;
  }
  section.graduation_questions p:nth-of-type(2) {
    grid-column: line-5/line-8;
    grid-row: row-2/row-3;
    text-align: right;
    font-size: 14px;
    padding-right: 2vw;
    align-self: center;
  }
  section.graduation_questions p:nth-of-type(3) {
    grid-column: line-1/line-7;
    grid-row: row-3/row-4;
    margin-top: 2vh;
    padding-right: 5vw;
  }
  section.graduation_questions p:nth-of-type(4) {
    grid-column: line-1/line-5;
    grid-row: row-4/row-5;
    margin-top: 2vh;
    padding: 0;
  }
  section.graduation_questions p:nth-of-type(5) {
    grid-column: line-1/line-5;
    grid-row: row-5/row-6;
    margin-top: 2vh;
  }
  section.graduation_questions p:nth-of-type(6) {
    grid-column: line-1/line-5;
    grid-row: row-7/row-8;
    padding-right: 2vw;
  }
  section.graduation_questions p:nth-of-type(7) {
    grid-column: line-1/line-5;
    grid-row: row-9/row-10;
    padding-right: 2vw;
  }
  section.graduation_questions p:nth-of-type(8) {
    grid-column: line-1/line-5;
    grid-row: row-11/row-12;
    padding-right: 2vw;
  }
  section.graduation_questions p:nth-of-type(9) {
    grid-column: line-1/line-5;
    grid-row: row-13/row-14;
    padding-right: 2vw;
    margin-bottom: 5vh;
  }
}
@media all and (min-width: 601px) and (min-width: 601px) and (max-width: 767px) {
  section.graduation_questions h2 {
    font-size: 36px;
  }
}
@media all and (min-width: 601px) and (min-width: 768px) and (max-width: 899px) {
  section.graduation_questions h2 {
    font-size: 42px;
  }
}
@media all and (min-width: 601px) and (min-width: 900px) {
  section.graduation_questions h2 {
    font-size: 55px;
  }
  section.graduation_questions p:nth-of-type(5) {
    padding-right: 2vw;
  }
}
section.covid19_effect {
  display: grid;
  grid-template-columns: [line-0] 5vw [line-1] 45vw [line-2] 45vw [line-3] 5vw [line-4];
  grid-template-rows: [row-0] auto [row-1] auto [row-2];
}
section.covid19_effect img:nth-of-type(1) {
  width: 0;
  height: 0;
}
section.covid19_effect h2 {
  font-size: 36px;
  text-align: center;
  grid-column: line-1/line-3;
  grid-row: row-0/row-1;
  margin-top: 5vh;
  line-height: 125%;
  margin-bottom: 0;
}
section.covid19_effect h2 span {
  font-size: 60px;
  line-height: 125%;
}
section.covid19_effect p:nth-of-type(1) {
  font-size: 14px;
  grid-column: line-1/line-3;
  grid-row: row-1/row-2;
  text-align: center;
}
section.covid19_effect p:nth-of-type(2) {
  font-size: 16px;
}

section.covid19_text {
  display: grid;
  grid-template-columns: [line-0] 2vw [line-1] 96vw [line-2] 2vw [line-3];
  grid-template-rows: [row-0] auto [row-1] auto [row-2] auto [row-3] auto [row-4] auto [row-5] auto [row-6] auto [row-7] auto [row-8] auto [row-9] auto [row-10] auto [row-11] auto [row-12] auto [row-13] auto [row-14] auto [row-15] auto [row-16] auto [row-17];
  margin-bottom: 5vh;
}
section.covid19_text img {
  place-self: center;
}
section.covid19_text img:nth-of-type(1) {
  height: 35vw;
  width: 80vw;
  object-fit: cover;
  border: 10px solid #60348B;
  grid-column: line-1/line-2;
  grid-row: row-0/row-1;
  float: right;
  margin: 3vh 3vw;
}
section.covid19_text img:nth-of-type(2) {
  height: 50vw;
  width: 80vw;
  object-fit: cover;
  border: 10px solid #60348B;
  grid-column: line-1/line-2;
  grid-row: row-3/row-4;
  margin: 3vh 3vw 6vh 3vw;
}
section.covid19_text img:nth-of-type(3) {
  display: none;
}
section.covid19_text img:nth-of-type(4) {
  height: 35vw;
  width: 80vw;
  object-fit: cover;
  border: 10px solid #60348B;
  grid-column: line-1/line-2;
  grid-row: row-14/row-15;
}
section.covid19_text h3 {
  color: #60348B;
  margin: 0 10vw;
}
section.covid19_text h3:nth-of-type(1) {
  grid-column: line-1/line-2;
  grid-row: row-4/row-5;
}
section.covid19_text h3:nth-of-type(2) {
  grid-column: line-1/line-2;
  grid-row: row-6/row-7;
}
section.covid19_text h3:nth-of-type(3) {
  grid-column: line-1/line-2;
  grid-row: row-8/row-9;
}
section.covid19_text h3:nth-of-type(4) {
  grid-column: line-1/line-2;
  grid-row: row-10/row-11;
}
section.covid19_text h3:nth-of-type(5) {
  grid-column: line-1/line-2;
  grid-row: row-12/row-13;
}
section.covid19_text p {
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 14px;
}
section.covid19_text p:nth-of-type(1) {
  grid-column: line-1/line-2;
  grid-row: row-1/row-2;
}
section.covid19_text p:nth-of-type(2) {
  grid-column: line-1/line-2;
  grid-row: row-2/row-3;
}
section.covid19_text p:nth-of-type(3) {
  grid-column: line-1/line-2;
  grid-row: row-5/row-6;
  margin-top: 0;
}
section.covid19_text p:nth-of-type(4) {
  grid-column: line-1/line-2;
  grid-row: row-7/row-8;
  margin-top: 0;
}
section.covid19_text p:nth-of-type(5) {
  grid-column: line-1/line-2;
  grid-row: row-9/row-10;
  margin-top: 0;
}
section.covid19_text p:nth-of-type(6) {
  grid-column: line-1/line-2;
  grid-row: row-11/row-12;
  margin-top: 0;
}
section.covid19_text p:nth-of-type(7) {
  grid-column: line-1/line-2;
  grid-row: row-13/row-14;
  margin-top: 0;
}
section.covid19_text p:nth-of-type(8) {
  grid-column: line-1/line-2;
  grid-row: row-15/row-16;
}
section.covid19_text p:nth-of-type(9) {
  grid-column: line-1/line-2;
  grid-row: row-16/row-17;
}

@media all and (min-width: 551px) and (max-width: 899px) {
  section.covid19_effect {
    display: grid;
    grid-template-columns: [line-0] 5vw [line-1] 15vw [line-2] 10vw [line-3] 10vw [line-4] 10vw [line-5] 10vw [line-6] 10vw [line-7] 10vw [line-8] 10vw [line-9] 10vw [line-10];
    grid-template-rows: [row-0] 40vh [row-1] 10vh [row-2] auto [row-3] auto [row-4] auto [row-5] auto [row-6] auto [row-7] auto [row-8] auto [row-9] auto [row-10];
  }
  section.covid19_effect img:nth-of-type(1) {
    grid-column: line-6/line-10;
    grid-row: row-0/row-1;
    border: 10px solid #60348B;
    width: 30vw;
    height: 35vh;
    object-fit: cover;
    transform: rotate(5deg);
    place-self: center;
    margin-top: 3vh;
  }
  section.covid19_effect h2 {
    grid-column: line-1/line-6;
    grid-row: row-0/row-1;
    text-align: left;
    line-height: 125%;
    margin: 0;
    padding: 0;
    place-self: center;
    justify-self: start;
  }
  section.covid19_effect h2 span {
    line-height: 125%;
  }
  section.covid19_effect p {
    margin: 0 0 5vh 0;
  }
  section.covid19_effect p:nth-of-type(1) {
    font-size: 14px;
    grid-column: line-1/line-5;
    text-align: left;
  }
  section.covid19_effect p:nth-of-type(2) {
    font-size: 16px;
  }

  section.covid19_text {
    display: block;
    margin-bottom: 5vh;
  }
  section.covid19_text img:nth-of-type(1) {
    height: 35vw;
    width: 35vw;
    object-fit: cover;
    border: 10px solid #60348B;
    float: right;
    margin: 3vh 3vw;
  }
  section.covid19_text img:nth-of-type(2) {
    height: 50vw;
    width: 30vw;
    object-fit: cover;
    border: 10px solid #60348B;
    float: right;
    margin: 3vh 6vw 3vh 3vw;
  }
  section.covid19_text img:nth-of-type(4) {
    height: 35vw;
    width: 35vw;
    object-fit: cover;
    border: 10px solid #60348B;
    float: right;
    margin: 3vh 3vw;
  }
  section.covid19_text h3 {
    color: #60348B;
    margin: 0 10vw;
  }
  section.covid19_text p {
    margin-left: 10vw;
    margin-right: 10vw;
  }
  section.covid19_text p:nth-of-type(3) {
    margin-top: 0;
  }
  section.covid19_text p:nth-of-type(4) {
    margin-top: 0;
  }
  section.covid19_text p:nth-of-type(5) {
    margin-top: 0;
  }
  section.covid19_text p:nth-of-type(6) {
    margin-top: 0;
  }
  section.covid19_text p:nth-of-type(7) {
    margin-top: 0;
  }
}
@media all and (min-width: 551px) and (max-width: 899px) and (min-width: 551px) and (max-width: 639px) {
  section.covid19_effect h2 {
    font-size: 32px;
  }
  section.covid19_effect h2 span {
    font-size: 58px;
  }

  section.covid19_text img:nth-of-type(3) {
    display: none;
  }
  section.covid19_text p {
    font-size: 14px;
  }
}
@media all and (min-width: 551px) and (max-width: 899px) and (min-width: 640px) and (max-width: 899px) {
  section.covid19_effect h2 {
    font-size: 40px;
  }
  section.covid19_effect h2 span {
    font-size: 75px;
  }

  section.covid19_text img:nth-of-type(3) {
    height: 30vw;
    width: 30vw;
    object-fit: cover;
    border: 10px solid #60348B;
    float: right;
    margin: 3vh 3vw;
  }
  section.covid19_text p {
    font-size: 15px;
  }
}
@media all and (min-width: 900px) {
  section.covid19_effect {
    display: grid;
    grid-template-columns: [line-0] 10vw [line-1] 10vw [line-2] 10vw [line-3] 10vw [line-4] 10vw [line-5] 10vw [line-6] 10vw [line-7] 10vw [line-8] 10vw [line-9] 10vw [line-10];
    grid-template-rows: [row-0] 50vh [row-1] 10vh [row-2] auto [row-3] auto [row-4] auto [row-5] auto [row-6] auto [row-7] auto [row-8] auto [row-9] auto [row-10];
  }
  section.covid19_effect img:nth-of-type(1) {
    grid-column: line-6/line-9;
    grid-row: row-0/row-2;
    border: 10px solid #60348B;
    width: 100%;
    height: 45vh;
    object-fit: cover;
    transform: rotate(5deg);
    place-self: center;
  }
  section.covid19_effect h2 {
    grid-column: line-1/line-6;
    grid-row: row-0/row-1;
    line-height: 125%;
    margin: 0;
    padding: 0;
    place-self: center;
    justify-self: start;
  }
  section.covid19_effect h2 span {
    line-height: 125%;
  }
  section.covid19_effect p {
    margin: 0 0 5vh 0;
  }
  section.covid19_effect p:nth-of-type(1) {
    font-size: 14px;
    grid-column: line-1/line-5;
    text-align: left;
  }

  section.covid19_text {
    display: block;
    margin-bottom: 5vh;
  }
  section.covid19_text img:nth-of-type(1) {
    height: 35vw;
    width: 35vw;
    object-fit: cover;
    border: 10px solid #60348B;
    float: right;
    margin: 3vh 3vw;
  }
  section.covid19_text img:nth-of-type(3) {
    height: 30vw;
    width: 30vw;
    object-fit: cover;
    border: 10px solid #60348B;
    float: right;
    margin: 3vh 3vw;
  }
  section.covid19_text h3 {
    color: #60348B;
    margin: 0 10vw;
  }
  section.covid19_text p {
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 16px;
  }
  section.covid19_text p:nth-of-type(3) {
    margin-top: 0;
  }
  section.covid19_text p:nth-of-type(4) {
    margin-top: 0;
  }
  section.covid19_text p:nth-of-type(5) {
    margin-top: 0;
  }
  section.covid19_text p:nth-of-type(6) {
    margin-top: 0;
  }
  section.covid19_text p:nth-of-type(7) {
    margin-top: 0;
  }
}
@media all and (min-width: 900px) and (min-width: 900px) and (max-width: 1023px) {
  section.covid19_effect h2 {
    text-align: left;
    font-size: 45px;
  }
  section.covid19_effect h2 span {
    font-size: 90px;
  }
  section.covid19_effect p:nth-of-type(2) {
    font-size: 17px;
  }

  section.covid19_text img:nth-of-type(2) {
    height: 50vw;
    width: 30vw;
    object-fit: cover;
    border: 10px solid #60348B;
    float: right;
    margin: 3vh 6vw 3vh 3vw;
  }
  section.covid19_text img:nth-of-type(4) {
    height: 35vw;
    width: 35vw;
    object-fit: cover;
    border: 10px solid #60348B;
    float: right;
    margin: 3vh 3vw;
  }
}
@media all and (min-width: 900px) and (min-width: 1024px) {
  section.covid19_effect h2 {
    text-align: center;
    font-size: 50px;
  }
  section.covid19_effect h2 span {
    font-size: 100px;
  }
  section.covid19_effect p:nth-of-type(2) {
    font-size: 18px;
  }
}
@media all and (min-width: 900px) and (min-width: 1024px) and (min-width: 1200px) {
  section.covid19_effect h2 {
    font-size: 60px;
  }
  section.covid19_effect h2 span {
    font-size: 120px;
  }
}
@media all and (min-width: 900px) and (min-width: 1024px) {
  section.covid19_text img:nth-of-type(2) {
    display: none;
    height: 30vw;
    width: 30vw;
    object-fit: cover;
    border: 10px solid #60348B;
    float: right;
    margin: 6vh 6vw 3vh 3vw;
  }
  section.covid19_text img:nth-of-type(4) {
    height: 25vw;
    width: 25vw;
    object-fit: cover;
    border: 10px solid #60348B;
    float: right;
    margin: 3vh 3vw;
  }
}
section.sports_awards {
  display: grid;
  grid-template-columns: [line-0] 5vw [line-1] 40vw [line-2] 50vw [line-3] 5vw [line-4];
  grid-template-rows: [row-0] auto [row-1] auto [row-2] auto [row-3] auto [row-4] auto [row-5] auto [row-6] auto [row-7] auto [row-8];
}
section.sports_awards img:nth-of-type(1) {
  display: none;
  grid-column: line-0/line-2;
  grid-row: row-0/row-4;
}
section.sports_awards img:nth-of-type(2) {
  grid-column: line-1/line-3;
  grid-row: row-4/row-5;
  width: 72vw;
  height: 75vw;
  object-fit: cover;
  object-position: 0 20%;
  border: 1.5vw solid #60348B;
  place-self: center;
  margin-top: 4vh;
}
section.sports_awards h2:nth-of-type(1) {
  grid-column: line-1/line-3;
  grid-row: row-0/row-1;
  text-align: right;
  font-size: 65px;
  margin-top: 5vh;
  line-height: 125%;
  align-self: end;
  margin-bottom: 0;
}
section.sports_awards h2:nth-of-type(2) {
  grid-column: line-1/line-3;
  grid-row: row-1/row-2;
  align-self: start;
  text-align: right;
  font-size: 50px;
  margin: 0;
}
section.sports_awards p:nth-of-type(1) {
  grid-column: line-1/line-3;
  grid-row: row-2/row-3;
  align-self: start;
  margin: 4vh 0;
  text-align: right;
}
section.sports_awards p:nth-of-type(2) {
  grid-column: line-1/line-3;
  grid-row: row-3/row-4;
  text-align: right;
}
section.sports_awards p:nth-of-type(3) {
  grid-column: line-1/line-3;
  grid-row: row-5/row-6;
  text-align: left;
}
section.sports_awards p:nth-of-type(4) {
  grid-column: line-1/line-3;
  grid-row: row-6/row-7;
  text-align: left;
}
section.sports_awards p:nth-of-type(5) {
  grid-column: line-1/line-3;
  grid-row: row-7/row-8;
  text-align: left;
}
@media all and (min-width: 450px) and (max-width: 599px) {
  section.sports_awards section.sports_awards img:nth-of-type(1) {
    display: inline;
    grid-column: line-0/line-2;
    grid-row: row-0/row-4;
  }
  section.sports_awards section.sports_awards h2:nth-of-type(2) {
    font-size: 60px;
  }
  section.sports_awards section.sports_awards p:nth-of-type(1) {
    grid-column: line-2/line-3;
  }
  section.sports_awards section.sports_awards p:nth-of-type(2) {
    margin-top: 5vh;
  }
}

@media all and (min-width: 600px) {
  section.sports_awards {
    display: grid;
    grid-template-columns: [line-0] 10vw [line-1] 10vw [line-2] 10vw [line-3] 10vw [line-4] 10vw [line-5] 10vw [line-6] 10vw [line-7] 10vw [line-8] 10vw [line-9] 10vw [line-10];
    margin-bottom: 10vh;
  }
  section.sports_awards img:nth-of-type(1) {
    grid-column: line-0/line-6;
    grid-row: row-0/row-3;
    justify-self: center;
    width: 100%;
    height: auto;
    max-height: 145vh;
    display: inline;
  }
  section.sports_awards img:nth-of-type(2) {
    grid-column: line-5/line-9;
    grid-row: row-3/row-5;
    width: 35vw;
    height: 38vh;
    background-color: blue;
    justify-self: end;
    object-fit: cover;
    border: 2vh solid #60348B;
  }
  section.sports_awards h2 {
    margin: 0;
  }
  section.sports_awards h2:nth-of-type(1) {
    grid-column: line-0/line-5;
    grid-row: row-1/row-2;
    line-height: 100%;
    text-align: center;
    align-self: center;
  }
  section.sports_awards h2:nth-of-type(2) {
    grid-column: line-0/line-5;
    color: white;
    background-color: red;
    text-align: center;
    margin: 0 2vw;
  }
  section.sports_awards p {
    padding: 0;
    margin: 0;
  }
  section.sports_awards p:nth-of-type(1) {
    grid-column: line-6/line-9;
    grid-row: row-0/row-1;
    font-size: 12px;
    text-align: right;
    align-self: end;
    margin: 0;
  }
  section.sports_awards p:nth-of-type(2) {
    grid-column: line-6/line-9;
    grid-row: row-1/row-3;
    text-align: right;
    font-weight: bold;
    padding-left: 5vw;
    align-self: center;
  }
  section.sports_awards p:nth-of-type(3) {
    grid-row: row-5/row-6;
    text-align: right;
    font-size: 16px;
    margin-top: 5vh;
    padding-left: 2vw;
  }
  section.sports_awards p:nth-of-type(4) {
    grid-row: row-6/row-7;
    font-size: 16px;
    text-align: right;
    margin-top: 5vh;
    padding-left: 2vw;
  }
  section.sports_awards p:nth-of-type(5) {
    grid-column: line-2/line-9;
    grid-row: row-7/row-8;
    font-size: 16px;
    text-align: right;
    margin-top: 5vh;
    padding-left: 2vw;
  }
}
@media all and (min-width: 600px) and (min-width: 600px) and (max-width: 767px) {
  section.sports_awards {
    grid-template-rows: [row-0] 10vh [row-1] 35vh [row-2] 20vh [row-3] 30vh [row-4] 10vh [row-5] auto [row-6];
  }
  section.sports_awards h2:nth-of-type(1) {
    align-self: start;
    font-size: 60px;
    margin-top: 0vh;
  }
  section.sports_awards h2:nth-of-type(2) {
    grid-row: row-1/row-2;
    align-self: end;
    font-size: 48px;
  }
  section.sports_awards p:nth-of-type(2) {
    font-size: 16px;
  }
  section.sports_awards p:nth-of-type(3) {
    grid-column: line-2/line-9;
  }
  section.sports_awards p:nth-of-type(4) {
    grid-column: line-2/line-9;
  }
}
@media all and (min-width: 600px) and (min-width: 768px) and (max-width: 1023px) {
  section.sports_awards {
    grid-template-rows: [row-0] 10vh [row-1] 30vh [row-2] 15vh [row-3] 30vh [row-4] 10vh [row-5] auto [row-6];
  }
  section.sports_awards h2:nth-of-type(1) {
    font-size: 65px;
    margin-top: 0vh;
  }
  section.sports_awards h2:nth-of-type(2) {
    grid-row: row-2/row-3;
    align-self: start;
    font-size: 60px;
  }
  section.sports_awards p:nth-of-type(2) {
    font-size: 17px;
  }
  section.sports_awards p:nth-of-type(3) {
    grid-column: line-4/line-9;
  }
  section.sports_awards p:nth-of-type(4) {
    grid-column: line-4/line-9;
  }
}
@media all and (min-width: 600px) and (min-width: 1024px) and (max-width: 1259px) {
  section.sports_awards {
    grid-template-rows: [row-0] 10vh [row-1] 35vh [row-2] 10vh [row-3] 30vh [row-4] 10vh [row-5] auto [row-6];
  }
  section.sports_awards h2:nth-of-type(1) {
    font-size: 80px;
    margin-top: 0vh;
  }
  section.sports_awards h2:nth-of-type(2) {
    grid-row: row-2/row-3;
    align-self: start;
    font-size: 70px;
  }
  section.sports_awards p:nth-of-type(2) {
    font-size: 18px;
  }
  section.sports_awards p:nth-of-type(3) {
    grid-column: line-4/line-9;
  }
  section.sports_awards p:nth-of-type(4) {
    grid-column: line-4/line-9;
  }
}
@media all and (min-width: 600px) and (min-width: 1260px) {
  section.sports_awards {
    grid-template-rows: [row-0] 10vh [row-1] 35vh [row-2] 10vh [row-3] 30vh [row-4] 10vh [row-5] auto [row-6];
  }
  section.sports_awards h2:nth-of-type(1) {
    font-size: 80px;
    margin-top: 0vh;
  }
  section.sports_awards h2:nth-of-type(2) {
    grid-row: row-2/row-3;
    align-self: start;
    font-size: 80px;
  }
  section.sports_awards p:nth-of-type(1) {
    font-size: 14px;
  }
  section.sports_awards p:nth-of-type(2) {
    font-size: 20px;
  }
  section.sports_awards p:nth-of-type(3) {
    grid-column: line-4/line-9;
  }
  section.sports_awards p:nth-of-type(4) {
    grid-column: line-4/line-9;
  }
  section.sports_awards p:nth-of-type(5) {
    grid-column: line-4/line-9;
  }
}
section.tennis_on_top {
  display: grid;
  grid-template-columns: [line-0] 5vw [line-1] 45vw [line-2] 45vw [line-3] 5vw [line-4];
  grid-template-rows: [row-0] auto [row-1] auto [row-2] auto [row-3] auto [row-4];
}
section.tennis_on_top h2 {
  grid-column: line-1/line-3;
  grid-row: row-0/row-1;
  text-align: center;
  margin: 0;
  place-self: center;
  line-height: 90%;
  margin-top: 10vh;
  font-size: 70px;
}
section.tennis_on_top h2 span {
  font-size: 85px;
}
section.tennis_on_top img:nth-of-type(1) {
  width: 0;
  height: 0;
}
section.tennis_on_top img:nth-of-type(2) {
  grid-column: line-3/line-4;
  grid-row: row-3/row-4;
  width: 5vh;
  height: 5vh;
  animation: ball 10s infinite;
  animation-direction: alternate;
}
@keyframes ball {
  0% {
    -webkit-transform: translateX(10vw);
    -moz-transform: translateX(10vw);
    -o-transform: translateX(10vw);
    transform: translateX(10vw);
  }
  100% {
    -webkit-transform: translateX(-110vw) rotate(360deg);
    -moz-transform: translateX(-110vw) rotate(360deg);
    -o-transform: translateX(-110vw) rotate(360deg);
    transform: translateX(-110vw) rotate(360deg);
  }
}
section.tennis_on_top p:nth-of-type(1) {
  grid-column: line-1/line-2;
  grid-row: row-1/row-2;
  text-align: left;
  font-size: 12px;
}
section.tennis_on_top p:nth-of-type(2) {
  grid-column: line-2/line-3;
  grid-row: row-1/row-2;
  text-align: right;
  font-size: 12px;
}
section.tennis_on_top p:nth-of-type(3) {
  grid-column: line-1/line-3;
  grid-row: row-2/row-3;
  margin-top: 5vh;
  font-weight: bold;
}

section.text {
  margin-bottom: 5vh;
}
section.text img:nth-of-type(1) {
  height: 35vw;
  width: 35vw;
  object-fit: cover;
  border-radius: 50%;
  border: 10px solid #60348B;
  float: right;
  shape-outside: circle();
  margin: 3vh 3vw;
}
section.text img:nth-of-type(2) {
  height: 25vw;
  width: 25vw;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #60348B;
  float: left;
  shape-outside: circle();
  margin: 3vh 3vw;
}
section.text p {
  font-size: 14px;
  margin-right: 10vw;
  margin-left: 10vw;
}

@media all and (min-width: 500px) and (max-width: 767px) {
  section.tennis_on_top img:nth-of-type(1) {
    grid-column: line-0/line-2;
    grid-row: row-0/row-3;
    width: 45vw;
    height: 45vw;
  }
  section.tennis_on_top img:nth-of-type(2) {
    grid-row: row-4/row-5;
  }
  section.tennis_on_top h2 {
    grid-column: line-2/line-4;
  }
  section.tennis_on_top h2 span {
    font-size: 100px;
  }
  section.tennis_on_top p:nth-of-type(1) {
    grid-column: line-1/line-3;
    grid-row: row-1/row-2;
    text-align: right;
    font-size: 13px;
  }
  section.tennis_on_top p:nth-of-type(2) {
    grid-column: line-1/line-3;
    grid-row: row-2/row-3;
    text-align: right;
    font-size: 13px;
  }
  section.tennis_on_top p:nth-of-type(3) {
    grid-column: line-1/line-3;
    grid-row: row-3/row-4;
    margin-top: 5vh;
    font-weight: bold;
    font-size: 18px;
  }
}
@media all and (min-width: 500px) and (max-width: 767px) and (min-width: 500px) and (max-width: 599px) {
  section.tennis_on_top h2 {
    font-size: 50px;
  }
  section.tennis_on_top h2 span {
    font-size: 70px;
  }
  section.tennis_on_top p:nth-of-type(1) {
    margin-top: 5vh;
    font-size: 12px;
  }
  section.tennis_on_top p:nth-of-type(2) {
    font-size: 12px;
  }
}
@media all and (min-width: 500px) and (max-width: 767px) and (min-width: 600px) and (max-width: 767px) {
  section.tennis_on_top h2 {
    font-size: 70px;
  }
  section.tennis_on_top h2 span {
    font-size: 90px;
  }
  section.tennis_on_top p:nth-of-type(1) {
    margin-top: 0vh;
    font-size: 13px;
  }
  section.tennis_on_top p:nth-of-type(2) {
    font-size: 13px;
  }
}
@media all and (min-width: 768px) {
  section.tennis_on_top {
    display: grid;
    grid-template-columns: [line-0] 10vw [line-1] 10vw [line-2] 10vw [line-3] 10vw [line-4] 10vw [line-5] 10vw [line-6] 10vw [line-7] 10vw [line-8] 10vw [line-9] 10vw [line-10];
    grid-template-rows: [row-0] 30vh [row-1] 10vh [row-2] 22vh [row-3] 0vh [row-4] 10vh [row-5];
  }
  section.tennis_on_top img:nth-of-type(1) {
    grid-column: line-0/line-4;
    grid-row: row-0/row-1;
    height: 60vh;
    width: 100%;
  }
  section.tennis_on_top img:nth-of-type(2) {
    grid-column: line-9/line-10;
    grid-row: row-4/row-5;
    height: 8vh;
    width: 8vh;
    animation: ball 10s infinite;
    animation-direction: alternate;
  }
  @keyframes ball {
    0% {
      transform: translateX(10vw);
    }
    100% {
      transform: translateX(-110vw) rotate(360deg);
    }
  }
  section.tennis_on_top h2 {
    grid-column: line-4/line-9;
    grid-row: row-0/row-1;
    text-align: center;
    margin: 0;
    place-self: center;
    line-height: 90%;
    margin-top: 5vh;
  }
  section.tennis_on_top p {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  section.tennis_on_top p:nth-of-type(1) {
    grid-column: line-4/line-6;
    grid-row: row-1/row-2;
    padding: 0 1vw;
    align-self: center;
  }
  section.tennis_on_top p:nth-of-type(2) {
    grid-row: row-1/row-2;
    text-align: right;
    padding: 0 1vw;
    align-self: center;
  }
  section.tennis_on_top p:nth-of-type(3) {
    grid-column: line-4/line-9;
    grid-row: row-2/row-3;
    align-self: center;
    font-weight: bold;
    padding-left: 1vw;
  }

  section.text {
    margin-bottom: 5vh;
  }
  section.text img:nth-of-type(1) {
    height: 35vw;
    width: 35vw;
    object-fit: cover;
    border-radius: 50%;
    border: 20px solid #60348B;
    float: right;
    shape-outside: circle();
    margin: 3vh 3vw;
  }
  section.text img:nth-of-type(2) {
    height: 25vw;
    width: 25vw;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid #60348B;
    float: left;
    shape-outside: circle();
    margin: 3vh 3vw;
  }
  section.text p {
    font-size: 16px;
    margin-right: 10vw;
    margin-left: 10vw;
  }
}
@media all and (min-width: 768px) and (min-width: 768px) and (max-width: 1023px) {
  section.tennis_on_top h2 {
    font-size: 70px;
  }
  section.tennis_on_top h2 span {
    font-size: 100px;
  }
  section.tennis_on_top p:nth-of-type(1) {
    font-size: 14px;
  }
  section.tennis_on_top p:nth-of-type(2) {
    grid-column: line-6/line-9;
    font-size: 14px;
  }
}
@media all and (min-width: 768px) and (min-width: 1024px) and (max-width: 1199px) {
  section.tennis_on_top h2 {
    font-size: 75px;
  }
  section.tennis_on_top h2 span {
    font-size: 125px;
  }
  section.tennis_on_top p:nth-of-type(1) {
    font-size: 16px;
  }
  section.tennis_on_top p:nth-of-type(2) {
    grid-column: line-7/line-9;
    font-size: 16px;
  }
  section.tennis_on_top p:nth-of-type(3) {
    font-size: 17px;
  }
}
@media all and (min-width: 768px) and (min-width: 1200px) {
  section.tennis_on_top h2 {
    font-size: 85px;
  }
  section.tennis_on_top h2 span {
    font-size: 155px;
  }
  section.tennis_on_top p:nth-of-type(1) {
    font-size: 18px;
  }
  section.tennis_on_top p:nth-of-type(2) {
    grid-column: line-7/line-9;
    font-size: 18px;
  }
  section.tennis_on_top p:nth-of-type(3) {
    font-size: 20px;
  }
}
@media all and (min-width: 768px) and (min-width: 1200px) and (min-width: 1400px) {
  p:nth-of-type(3) {
    font-size: 24px;
  }
}
section.societies {
  display: grid;
  grid-template-columns: [line-0] 5vw [line-1] 15vw [line-2] 70vw [line-3] 10vw [line-4];
  grid-template-rows: [row-0] auto [row-1] auto [row-2] auto [row-3] auto [row-4] auto [row-5] auto [row-6] auto [row-7] auto [row-8] auto [row-9] auto [row-10] auto [row-11] auto [row-12] auto [row-13] auto [row-14] auto [row-15] auto [row-16] auto [row-17] auto [row-18] auto [row-19] auto [row-20];
}
section.societies h2 {
  font-size: 60px;
  justify-self: end;
  margin: 0;
  color: #60348B;
}
section.societies h2:nth-of-type(1) {
  grid-column: line-1/line-3;
  grid-row: row-0/row-1;
  font-size: 40px;
  justify-self: start;
  color: black;
  padding: 3vh 0 0 0;
}
section.societies h2:nth-of-type(2) {
  grid-column: line-1/line-2;
  grid-row: row-2/row-3;
  padding-right: 1vw;
  line-height: 100%;
  animation: shake 3s 1s both infinite;
}
section.societies h2:nth-of-type(3) {
  grid-column: line-1/line-2;
  grid-row: row-4/row-5;
  padding-right: 1vw;
  line-height: 100%;
  animation: shake 3s 2s both infinite;
}
section.societies h2:nth-of-type(4) {
  grid-column: line-1/line-2;
  grid-row: row-6/row-7;
  padding-right: 1vw;
  line-height: 100%;
  animation: shake 3s 0.5s both infinite;
}
section.societies h2:nth-of-type(5) {
  grid-column: line-1/line-2;
  grid-row: row-8/row-9;
  padding-right: 1vw;
  line-height: 100%;
  animation: shake 3s 1s both infinite;
}
section.societies h2:nth-of-type(6) {
  grid-column: line-1/line-2;
  grid-row: row-10/row-11;
  padding-right: 1vw;
  line-height: 100%;
  animation: shake 3s both infinite;
}
section.societies h2:nth-of-type(7) {
  grid-column: line-1/line-2;
  grid-row: row-12/row-13;
  padding-right: 1vw;
  line-height: 100%;
  animation: shake 3s 1s both infinite;
}
section.societies h2:nth-of-type(8) {
  grid-column: line-1/line-2;
  grid-row: row-14/row-15;
  padding-right: 1vw;
  line-height: 100%;
  animation: shake 3s 1.5s both infinite;
}
section.societies h2:nth-of-type(9) {
  grid-column: line-1/line-2;
  grid-row: row-16/row-17;
  padding-right: 1vw;
  line-height: 100%;
  animation: shake 3s 0.5s both infinite;
}
section.societies h2:nth-of-type(10) {
  grid-column: line-1/line-2;
  grid-row: row-18/row-19;
  padding-right: 1vw;
  line-height: 100%;
  margin-bottom: 0;
  animation: shake 3s both infinite;
}
@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }
  20%, 80% {
    transform: translateX(2px);
  }
  30%, 50%, 70% {
    transform: translateX(-2px);
  }
  40%, 60% {
    transform: translateX(2px);
  }
}
section.societies h3 {
  font-size: 40px;
  margin: 0;
  line-height: 100%;
  align-self: center;
}
section.societies h3:nth-of-type(1) {
  grid-column: line-2/line-3;
  grid-row: row-2/row-3;
}
section.societies h3:nth-of-type(2) {
  grid-column: line-2/line-3;
  grid-row: row-4/row-5;
}
section.societies h3:nth-of-type(3) {
  grid-column: line-2/line-3;
  grid-row: row-6/row-7;
}
section.societies h3:nth-of-type(4) {
  grid-column: line-2/line-3;
  grid-row: row-8/row-9;
}
section.societies h3:nth-of-type(5) {
  grid-column: line-2/line-3;
  grid-row: row-10/row-11;
}
section.societies h3:nth-of-type(6) {
  grid-column: line-2/line-3;
  grid-row: row-12/row-13;
}
section.societies h3:nth-of-type(7) {
  grid-column: line-2/line-3;
  grid-row: row-14/row-15;
}
section.societies h3:nth-of-type(8) {
  grid-column: line-2/line-3;
  grid-row: row-16/row-17;
}
section.societies h3:nth-of-type(9) {
  grid-column: line-2/line-3;
  grid-row: row-18/row-19;
  margin-bottom: 0;
}
section.societies p {
  font-size: 14px;
  margin-bottom: 5vh;
  margin-top: 0;
}
section.societies p:nth-of-type(1) {
  grid-column: line-1/line-3;
  grid-row: row-1/row-2;
}
section.societies p:nth-of-type(2) {
  grid-column: line-2/line-3;
  grid-row: row-3/row-4;
}
section.societies p:nth-of-type(3) {
  grid-column: line-2/line-3;
  grid-row: row-5/row-6;
}
section.societies p:nth-of-type(4) {
  grid-column: line-2/line-3;
  grid-row: row-7/row-8;
}
section.societies p:nth-of-type(5) {
  grid-column: line-2/line-3;
  grid-row: row-9/row-10;
}
section.societies p:nth-of-type(6) {
  grid-column: line-2/line-3;
  grid-row: row-11/row-12;
}
section.societies p:nth-of-type(7) {
  grid-column: line-2/line-3;
  grid-row: row-13/row-14;
}
section.societies p:nth-of-type(8) {
  grid-column: line-2/line-3;
  grid-row: row-15/row-16;
}
section.societies p:nth-of-type(9) {
  grid-column: line-2/line-3;
  grid-row: row-17/row-18;
}
section.societies p:nth-of-type(10) {
  grid-column: line-2/line-3;
  grid-row: row-19/row-20;
}
section.societies img {
  width: 0;
  height: 0;
}
@media all and (min-width: 601px) and (max-width: 767px) {
  section.societies section.societies {
    grid-template-columns: [line-0] 5vw [line-1] 10vw [line-2] 45vw [line-3] 30vw [line-4] 10vw;
  }
  section.societies section.societies h3:nth-of-type(2) {
    grid-column: line-2/line-4;
    grid-row: row-4/row-5;
  }
  section.societies section.societies h3:nth-of-type(3) {
    grid-column: line-2/line-4;
    grid-row: row-6/row-7;
  }
  section.societies section.societies h3:nth-of-type(4) {
    grid-column: line-2/line-4;
    grid-row: row-8/row-9;
  }
  section.societies section.societies h3:nth-of-type(5) {
    grid-column: line-2/line-4;
    grid-row: row-10/row-11;
  }
  section.societies section.societies h3:nth-of-type(6) {
    grid-column: line-2/line-4;
    grid-row: row-12/row-13;
  }
  section.societies section.societies h3:nth-of-type(7) {
    grid-column: line-2/line-4;
    grid-row: row-14/row-15;
  }
  section.societies section.societies h3:nth-of-type(8) {
    grid-column: line-2/line-4;
    grid-row: row-16/row-17;
  }
  section.societies section.societies h3:nth-of-type(9) {
    grid-column: line-2/line-4;
    grid-row: row-18/row-19;
    margin-bottom: 0;
  }
  section.societies section.societies p:nth-of-type(2) {
    grid-column: line-2/line-3;
    grid-row: row-3/row-4;
  }
  section.societies section.societies p:nth-of-type(3) {
    grid-column: line-2/line-4;
    grid-row: row-5/row-6;
  }
  section.societies section.societies p:nth-of-type(4) {
    grid-column: line-2/line-4;
    grid-row: row-7/row-8;
  }
  section.societies section.societies p:nth-of-type(5) {
    grid-column: line-2/line-4;
    grid-row: row-9/row-10;
  }
  section.societies section.societies p:nth-of-type(6) {
    grid-column: line-2/line-4;
    grid-row: row-11/row-12;
  }
  section.societies section.societies p:nth-of-type(7) {
    grid-column: line-2/line-4;
    grid-row: row-13/row-14;
  }
  section.societies section.societies p:nth-of-type(8) {
    grid-column: line-2/line-4;
    grid-row: row-15/row-16;
  }
  section.societies section.societies p:nth-of-type(9) {
    grid-column: line-2/line-4;
    grid-row: row-17/row-18;
  }
  section.societies section.societies p:nth-of-type(10) {
    grid-column: line-2/line-4;
    grid-row: row-19/row-20;
  }
  section.societies section.societies img:nth-of-type(1) {
    grid-column: line-3/line-5;
    grid-row: row-0/row-4;
    width: 30vw;
    height: 40vh;
    place-self: center;
    border: 5px solid #60348B;
  }
  section.societies section.societies img:nth-of-type(2) {
    width: 0;
    height: 0;
  }
}

@media all and (min-width: 768px) {
  section.societies {
    grid-template-columns: [line-0] 9vw [line-1] 6vw [line-2] 10vw [line-3] 10vw [line-4] 10vw [line-5] 10vw [line-6] 10vw [line-7] 10vw [line-8] 15vw [line-9] 10vw [line-10];
    grid-template-rows: [row-0] 30vh [row-1] auto [row-2] auto [row-3] auto [row-4] auto [row-5] auto [row-6] auto [row-7] auto [row-8] auto [row-9] auto [row-10];
  }
  section.societies img:nth-of-type(1) {
    grid-column: line-7/line-10;
    grid-row: row-0/row-1;
    height: 20vw;
    width: 20vw;
    border: 5px solid #60348B;
    place-self: center;
    justify-self: center;
    background-color: blue;
    transform: rotate(5deg);
    margin-top: 3vh;
  }
  section.societies img:nth-of-type(2) {
    grid-column: line-7/line-10;
    grid-row: row-4/row-10;
    height: 100%;
    width: 30vw;
    justify-self: end;
  }
  section.societies h2 {
    margin: 0;
    justify-self: center;
    line-height: 100%;
    padding-right: 1vw;
    color: #60348B;
  }
  section.societies h2:nth-of-type(1) {
    grid-column: line-1/line-8;
    grid-row: row-0/row-1;
    justify-self: start;
    line-height: normal;
    padding: 3vh 0 0 0;
    color: black;
  }
  section.societies h2:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-1/row-2;
  }
  section.societies h2:nth-of-type(3) {
    grid-column: line-1/line-2;
    grid-row: row-2/row-3;
  }
  section.societies h2:nth-of-type(4) {
    grid-column: line-1/line-2;
    grid-row: row-3/row-4;
  }
  section.societies h2:nth-of-type(5) {
    grid-column: line-1/line-2;
    grid-row: row-4/row-5;
  }
  section.societies h2:nth-of-type(6) {
    grid-column: line-1/line-2;
    grid-row: row-5/row-6;
  }
  section.societies h2:nth-of-type(7) {
    grid-column: line-1/line-2;
    grid-row: row-6/row-7;
  }
  section.societies h2:nth-of-type(8) {
    grid-column: line-1/line-2;
    grid-row: row-7/row-8;
  }
  section.societies h2:nth-of-type(9) {
    grid-column: line-1/line-2;
    grid-row: row-8/row-9;
  }
  section.societies h2:nth-of-type(10) {
    grid-column: line-1/line-2;
    grid-row: row-9/row-10;
    margin-bottom: 5vh;
  }
  section.societies h3 {
    margin: 0;
    padding: 0;
    line-height: 100%;
    align-self: center;
  }
  section.societies h3:nth-of-type(1) {
    grid-column: line-2/line-5;
    grid-row: row-1/row-2;
  }
  section.societies h3:nth-of-type(2) {
    grid-column: line-2/line-5;
    grid-row: row-2/row-3;
  }
  section.societies h3:nth-of-type(3) {
    grid-column: line-2/line-5;
    grid-row: row-3/row-4;
  }
  section.societies h3:nth-of-type(4) {
    grid-column: line-2/line-5;
    grid-row: row-4/row-5;
  }
  section.societies h3:nth-of-type(5) {
    grid-column: line-2/line-5;
    grid-row: row-5/row-6;
  }
  section.societies h3:nth-of-type(6) {
    grid-column: line-2/line-5;
    grid-row: row-6/row-7;
  }
  section.societies h3:nth-of-type(7) {
    grid-column: line-2/line-5;
    grid-row: row-7/row-8;
  }
  section.societies h3:nth-of-type(8) {
    grid-column: line-2/line-5;
    grid-row: row-8/row-9;
  }
  section.societies h3:nth-of-type(9) {
    grid-column: line-2/line-5;
    grid-row: row-9/row-10;
    margin-bottom: 5vh;
  }
  section.societies p {
    margin: 0;
    align-self: center;
  }
  section.societies p:nth-of-type(1) {
    grid-column: line-1/line-7;
    grid-row: row-0/row-1;
    align-self: end;
    margin-bottom: 4vh;
    font-size: 14px;
  }
  section.societies p:nth-of-type(3) {
    grid-column: line-5/line-9;
    grid-row: row-2/row-3;
  }
  section.societies p:nth-of-type(4) {
    grid-column: line-5/line-9;
    grid-row: row-3/row-4;
  }
  section.societies p:nth-of-type(5) {
    grid-column: line-5/line-8;
    grid-row: row-4/row-5;
  }
  section.societies p:nth-of-type(6) {
    grid-column: line-5/line-7;
    grid-row: row-5/row-6;
  }
  section.societies p:nth-of-type(7) {
    grid-column: line-5/line-7;
    grid-row: row-6/row-7;
  }
  section.societies p:nth-of-type(8) {
    grid-column: line-5/line-7;
    grid-row: row-7/row-8;
  }
  section.societies p:nth-of-type(9) {
    grid-column: line-5/line-7;
    grid-row: row-8/row-9;
  }
  section.societies p:nth-of-type(10) {
    grid-column: line-5/line-8;
    grid-row: row-9/row-10;
    margin-bottom: 5vh;
    padding-right: 3vw;
  }
}
@media all and (min-width: 768px) and (min-width: 768px) and (max-width: 900px) {
  section.societies h2 {
    font-size: 90px;
  }
  section.societies h2:nth-of-type(1) {
    font-size: 70px;
  }
  section.societies h3 {
    font-size: 35px;
  }
  section.societies p {
    font-size: 12px;
  }
  section.societies p:nth-of-type(2) {
    grid-column: line-4/line-8;
    grid-row: row-1/row-2;
  }
}
@media all and (min-width: 768px) and (min-width: 901px) {
  section.societies {
    grid-template-columns: [line-0] 9vw [line-1] 6vw [line-2] 10vw [line-3] 10vw [line-4] 10vw [line-5] 10vw [line-6] 10vw [line-7] 10vw [line-8] 15vw [line-9] 10vw [line-10];
  }
  section.societies img:nth-of-type(1) {
    grid-column: line-7/line-10;
    grid-row: row-0/row-2;
    height: 20vw;
    width: 20vw;
    border: 5px solid #60348B;
    place-self: center;
    justify-self: center;
    background-color: blue;
    transform: rotate(5deg);
    margin-top: 3vh;
  }
}
@media all and (min-width: 768px) and (min-width: 901px) and (min-width: 901px) and (max-width: 1259px) {
  section.societies h2 {
    font-size: 100px;
  }
  section.societies h2:nth-of-type(1) {
    font-size: 80px;
  }
  section.societies h3 {
    font-size: 40px;
  }
  section.societies p {
    font-size: 14px;
    padding-bottom: 2vh;
  }
  section.societies p:nth-of-type(1) {
    padding-bottom: 0;
  }
  section.societies p:nth-of-type(2) {
    grid-column: line-4/line-7;
    grid-row: row-1/row-2;
  }
}
@media all and (min-width: 768px) and (min-width: 901px) and (min-width: 1260px) {
  section.societies {
    grid-template-columns: [line-0] 9vw [line-1] 6vw [line-2] 10vw [line-3] 10vw [line-4] 10vw [line-5] 10vw [line-6] 10vw [line-7] 10vw [line-8] 15vw [line-9] 10vw [line-10];
  }
  section.societies h2 {
    font-size: 125px;
  }
  section.societies h2:nth-of-type(1) {
    font-size: 110px;
  }
  section.societies h3 {
    font-size: 60px;
  }
  section.societies p {
    font-size: 16px;
    padding-bottom: 2vh;
  }
  section.societies p:nth-of-type(1) {
    padding-bottom: 0;
  }
  section.societies p:nth-of-type(2) {
    grid-column: line-4/line-7;
    grid-row: row-1/row-2;
  }
}
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

img.delay {
  background-color: #60348B;
}

/*# sourceMappingURL=main.css.map */
