@import "fonts";
@import "header";
@import "header_home";
@import "footer";
@import "home";
@import "articles";
@import "graduation_questions";
@import "covid19_effect_ormskirk";
@import "sports_awards";
@import "tennis_on_top";
@import "societies";

body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html {
  // background-color: rgba(0, 128, 74, 0.2);
}

img.delay {
  background-color: #60348B;
}
